<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<html lang="ko" itemscope itemtype="http://schema.org/WebPage">

<head>
    <title>Pettopia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div layout:fragment="content">
    <style>
        h3 {
            text-align: center;
            margin: 30px 0px;
        }
        button{
            font-size: 11px !important;
        }
        td img {
            width: 100px;
        }
        table input {
            width: 30px !important;
        }
        th, td {
            text-align: center;
        }
        td, tr, th{
            vertical-align: middle !important;
        }
        #keyword{
            width: 250px !important;
            display: inline-block !important;
            background-color: rgb(250, 246, 252) !important;
        }
        .boadr_title {
            cursor: pointer;
        }
        .boadr_title:hover {
            color: plum !important;
        }
    </style>

    <div class="container">
        <div class="row">
            <th:block th:replace="layout/navbar :: navbarFragment"></th:block>
            <!-- 마이페이지 게시판관리 -->
            <div class="col-md-8 col-lg-10 p-b-150 fontSize">
                <div class="p-r-45 p-r-0-lg m-t-50">

                    <!--modal-->
                    <div class="w3-container">
                        <div id="boardDetail" class="w3-modal m-t-50">
                            <div class="w3-modal-content w3-animate-opacity">
                                <div class="w3-container">
                                    <span onclick="document.getElementById('boardDetail').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <h3>게시판 조회</h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <div id="boardDetailList">
                                                test
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end modal-->

                    <h2>
                        <span style="font-weight: bold; color: rgb(201, 159, 240);">| </span>작성글 조회
                    </h2>
                    <h3 class="noonnu_font">
                        <img src="img/free-icon.png" style="width: 35px;"> <sapn id="name" th:text="${name}" ></sapn>
                        님의 작성하신 글입니다. <img src="img/free-icon.png" style="width: 35px;"></h3>
                    <!--table-->
                    <div style="height: 500px;">
                        <div style="margin-bottom: 20px; margin-left: 10px;" >
                            <input type="radio" name="myboard" class="radioInput" id="radio" checked value=""><span class="radioInputText">전체</span>
                            <th:block th:each="boardType : ${code.BY}">
                                <input type="radio" name="myboard" id="radio"
                                        th:value="${boardType.codCd}" class="radioInput">
                                <span class="radioInputText" th:text="${boardType.codTitle}"></span>
                            </th:block>
                            <!--<input type="radio" name="myboard" id="" value="분양게시판" class="radioInput"><span class="radioInputText">분양게시판</span>-->
                            <div id="rightSearch">
                                <input type="text" id="keyword" placeholder="제목을 입력해주세요.">
                                <button type="button" class="btn btnPush btnLightBlue"
                                        style="float: right; margin:0 !important; margin-left: 10px !important;"
                                        onclick="setkeyword();">검색</button>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <colgroup>
                                    <col width="8%">
                                    <col width="25%">
                                    <col width="35%">
                                    <col width="20%">
                                    <col width="12%">
                            </colgroup>
                            <thead>
                                <tr style="background-color: rgb(247, 247, 247);">
                                    <th>No.</th>
                                    <th>게시판</th>
                                    <th>제목</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody id="list"></tbody>
                        </table>

                        <!--paging-->
                        <div class="board_page" id="pagenav">

                        <!--<div class="btnSet"></div>-->
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            let id = /*[[${id}]]*/

            let NewKeyword = '';
            let boType = "";
            let checked;
            
            function setkeyword() {
                NewKeyword = keyword.value;
                boType : radio.value;
                showList();
            }

            $('input[name="myboard"]').change(function(){
                boType = $(this).val();
                checked = $(this).prop('checked');
                setkeyword();
            });

            showList();
            function showList(page) {
                if (page == null) {
                    page = 1;
                }

                $.ajax({
                    url: "mypostList",
                    method: "GET",
                    async: false,
                    dataType: "JSON",
                    data: {
                        meId : id,
                        page: page,
                        boType : boType,
                        keyword: NewKeyword
                    },
                    success: function (data) {
                        list.innerHTML = '';
                        if(data.length > 0) {
                            for (i = 0; i < data.length; i++) {
                                list.innerHTML += `
                                <tr>
                                    <td><div class="num">${data[i].rn}</div></td>
                                    <td><div class="num">${data[i].boType}</div></td>
                                    <td><div class="title">
                                        <a  class="boadr_title" href="showKnowHow?boNo=${data[i].boNo}">${data[i].title}</a>
                                    </div></td>
                                    <td><div class="date">${dateChange(data[i].regDt)}</div></td>
                                    <td><div class="count">${data[i].viewCnt}</div></td>
                                </tr>`;

                                //모달로 띄우고 싶었으나 실패
                                //onclick="document.getElementById('boardDetail').style.display='block'" id="${data[i].boNo}_board"
                                /*let boNo = data[i].boNo;
                                let test = "";
                                $.ajax({
                                    url : 'boardDetail',
                                    method : 'POST',
                                    data : {boNo : boNo},
                                    success : (detail) => {
                                        console.log(detail);
                                        console.log(detail.length);
                                    },
                                    error : (rej) => {
                                        console.log(rej);
                                    }
                                })*/
                            }
                        } else {
                            list.innerHTML += `
                                <tr>
                                    <td colspan="5">
                                        <div style="height: 600px;">
                                            <p style="color:gray; font-size:20px;">
                                                <strong>조회할 정보가 없습니다.</strong>
                                            </p>
                                        <div>
                                    </td>
                                </tr>
                                `
                        }
                    },
                    error: function (reject) {
                        console.log(reject);
                    },
                })

                $.ajax({
                    url: "boardAllMaxPage",
                    method: "GET",
                    async: false,
                    data: {
                        boType : boType,
                        meId : id,
                        keyword: NewKeyword
                    },
                    success: function (data) {
                        paging(data, 10, 5, page);
                    },
                    error: function (reject) {
                        console.log(reject);
                    },
                })
        };

        function paging(totalData, dataPerPage, pageCount, currentPage) {
            //console.log("currentPage : " + currentPage);
            totalPage = Math.ceil(totalData / dataPerPage); //총 페이지 수

            if (totalPage < pageCount) {
            pageCount = totalPage;
            }

            let pageGroup = Math.ceil(currentPage / pageCount); // 페이지 그룹
            let last = pageGroup * pageCount; //화면에 보여질 마지막 페이지 번호

            if (last > totalPage) {
            last = totalPage;
            }

            let first = last - (pageCount - 1); //화면에 보여질 첫번째 페이지 번호
            let next = last + 1;
            let prev = first - 1;

            let pageHtml = pagenav.innerHTML;
            pagenav.innerHTML = '';
            if (prev > 0) {
            pagenav.innerHTML += `<a href="#" class="bt prev" onclick="showList(${prev});">＜</a>`;
            }

            //페이징 번호 표시 
            for (var i = first; i <= last; i++) {
            if (currentPage == i) {
                pagenav.innerHTML +=
                `<a href="#" class="num on">${i}</a>`;
            } else {
                pagenav.innerHTML += `<a href="#" onclick="showList(${i});" class="num o">${i}</a>`;
            }
            }

            if (last < totalPage) {
            pagenav.innerHTML += `<a href="#" onclick="showList(${next});" class="bt next">＞</a>`;
            }

            $("#pagingul").html(pagenav.innerHTML);
            let displayCount = "";
            displayCount = "현재 1 - " + totalPage + " 페이지 / " + totalData + "건";
            $("#displayCount").text(displayCount);
        };

        //날짜 변환함수
        function dateChange(data) {
            if (data != null && data != 0) {
            let newData = new Date(data);
            let result = newData.getFullYear() + "-" +
                (newData.getMonth() < 10
                ? "0" + (newData.getMonth() + 1)
                : newData.getMonth() + 1) +
                "-" + (newData.getDate() < 10 ? "0" + newData.getDate() : newData.getDate()) + " " + newData.getHours() + ":" + newData.getMinutes();
            return result;
            }
            else return null;
        };
        </script>
</div>
</body>
</html>
</html>