<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <title>Pettopia</title>
    <meta charset="UTF-8">
</head>
<div layout:fragment="content">
<body>
<style>
#allOrderSearch{
width: 130px;
height: 35px;
font-size: 13px !important;
margin: 8px 5px 0px 10px;
}

#btnCss{
float: right;
position: relative;
bottom: 10px;
margin-top: 8px;
}

.searchA{
padding: 8px 40px 5px 0px;
}

tbody img{
width: 100px;
}

tbody p, tr {
font-size: 11px !important;
}

td, th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fontColor{
	color: black;
}
.trColor{
  background-color: rgb(247, 247, 247);
}
</style>

    <div class="container">
			<div class="row">
                <th:block th:replace="/layout/navbar :: navbarFragment"></th:block>

                <!-- 마이페이지 주문관리 -->
				<div class="col-md-8 col-lg-10 p-b-80">
					<div class="p-r-45 p-r-0-lg m-t-50">
            <h1><span style="font-weight: bold; color: rgb(201, 159, 240);">| </span>주문상세조회</h1>
            <!-- 주문정보 -->
            <div style="margin-top: 20px;">
            <h5 style="margin-bottom: 15px;"><strong>주문정보</strong></h5>
            <table class="table">
              <colgroup>
                <col width="40%">
                <col width="60%">
              </colgroup>
              <tr>
                <th>주문번호</th>
                <td>20230509_2423452</td>
              </tr>
              <tr>
                <th>주문일자</th>
                <td>2023-05-09</td>
              </tr>
              <tr>
                <th>주문자</th>
                <td>정은애</td>
              </tr>
              <tr>
                <th>주문처리상태</th>
                <td>배송중</td>
              </tr>
            </table>
          </div><!--end 주문정보-->

          <!-- 결제정보 -->
          <div style="margin-top: 30px;">
            <h5 style="margin-bottom: 15px;"><strong>결제정보</strong></h5>
            <table class="table">
              <colgroup>
                <col width="40%">
                <col width="60%">
              </colgroup>
              <tr class="trColor">
                <th >총 주문금액</th>
                <td>30,000원</td>
              </tr>
              <tr class="trColor">
                <th>총 할인금액</th>
                <td>100원</td>
              </tr>
              <tr class="trColor">
                <th>총 결제금액</th>
                <td>29,900원</td>
              </tr>
              <tr>
                <th>결제수단</th>
                <td>신용카드</td>
              </tr>
            </table>
          </div><!--end 결제정보-->

          <!--주문상품정보-->
          <div style="margin-top: 30px;"> 
            <h5 style="margin-bottom: 15px;"><strong>주문 상품 정보</strong></h5>
            <table class="table">
              <colgroup>
                <col width="20%">
                <col width="25%">
                <col width="10%">
                <col width="15%">
                <col width="20%">
                <col width="10%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">이미지</th>
                  <th scope="col" style="text-align: center;">상품정보</th>
                  <th scope="col" style="text-align: center;">수량</th>
                  <th scope="col" style="text-align: center;">상품구매금액</th>
                  <th scope="col" style="text-align: center;">배송구분</th>
                  <th scope="col" style="text-align: center;">주문처리상태</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="#" class="fontColor"><img src="images/about-01.jpg" rel="product"></a>
                  </td>
                  <td>
                    <strong><a href="#" class="fontColor">상품이름</a></strong>
                    <div>[옵션 : 블랙/FREE]</div>
                  </td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: center;">30,000원</td>
                  <td style="text-align: center;">
                    <p>우체국택배</p>
                    <a class="fontColor" href="#" style="text-decoration: underline; text-underline-position:under;">
                      <p>20230509-1521584</p>
                    </a>
                  </td>
                  <td style="text-align: center;">-</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="trColor">
                  <td colspan="2">[기본배송]</td>
                  <td colspan="4" style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                    상품구매금액 34,800 + 배송비 2,200 = 합계 : <span style="color: red; font-weight: bold; font-size: 14px;">37,000원</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div><!-- end 주문상품정보 -->

          <!-- 배송지정보 -->
          <div style="margin-top: 30px;">
            <h5 style="margin-bottom: 15px;"><strong>결제정보</strong></h5>
            <table class="table">
              <colgroup>
                <col width="40%">
                <col width="60%">
              </colgroup>
              <tr class="trColor">
                <th >받으시는분</th>
                <td>정은애</td>
              </tr>
              <tr>
                <th>우편번호</th>
                <td>15286</td>
              </tr>
              <tr>
                <th>주소</th>
                <td>예담</td>
              </tr>
              <tr>
                <th>연락처</th>
                <td>010-1212-1212</td>
              </tr>
              <tr>
                <th>배송메시지</th>
                <td>-</td>
              </tr>
            </table>
          </div><!--end 배송지정보-->

          <div id="btnCss">
            <button class="btn btnPush btnLightBlue" style="width: 100px;" onclick="location.href='mypage'">주문목록보기</button>
          </div>

					</div>
				</div>

			</div>
		</div>
    </div>
</body>
</html>
</html>