<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<html lang="ko" itemscope itemtype="http://schema.org/WebPage">

<head>
    <title>Pettopia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div layout:fragment="content">
    <style>
        h3 {
            text-align: center;
            margin: 30px 0px;
        }
        button{
            font-size: 11px !important;
        }
        td img {
            width: 100px;
        }
        table input {
            width: 30px !important;
        }
        th, td {
            text-align: center;
        }
        td, tr, th{
            vertical-align: middle !important;
        }
        input[type="checkbox"]{
            width: 20px;
            height: 20px;
        }
        .price_hidden{
            display: none !important;
        }
    </style>

    <div class="container">
        <div class="row">
            <th:block th:replace="layout/navbar :: navbarFragment"></th:block>
            <!-- 마이페이지 관심상품 -->
            <div class="col-md-8 col-lg-10 p-b-150 fontSize">
                <div class="p-r-45 p-r-0-lg m-t-50">
                    <h2>
                        <span style="font-weight: bold; color: rgb(201, 159, 240);">| </span>관심상품
                    </h2>
                    <h3 class="noonnu_font">
                        <img src="img/free-icon.png" style="width: 35px;"> <sapn id="name" th:text="${name}" ></sapn>
                        님의 관심상품목록 <img src="img/free-icon.png" style="width: 35px;"></h3>
                    <!--table-->
                    <div style="height: 500px;">
                        <table class="table">
                            <colgroup>
                                    <col width="15%">
                                    <col width="25%">
                                    <col width="30%">
                                    <col width="15%">
                                    <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <div style="margin:0 auto; display:inline-block;">
                                            <input type="checkbox" id="cbx_chkAll">
                                        </div>
                                    </th>
                                    <th>이미지</th>
                                    <th>상품정보</th>
                                    <th>판매가</th>
                                    <th>선택</th>
                                </tr>
                            </thead>
                            <!-- ↓↓↓여기에 조회된 결과 출력 -->
                            <tbody id="list"></tbody>
                        </table>
                        <div class="btnSet">
                            <button itype="button" class="btn btnPush btnLightBlue" onclick="location.href='/'">메인으로</button>
                            <button type="button" class="btn btnPush btnRed" id="interestDeleteBtn">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            let id = /*[[${id}]]*/

        // 관심상품 화면출력
        const interestList = () => {
                $.ajax({
                    url: 'prodInterestList',
                    method: 'GET',
                    data: { meId: id },
                    success: (data) => {
                        if(data == 0){
                            $('#interestDeleteBtn').css('display','none');
                            let tr = document.createElement('tr');
                            let td = document.createElement('td');
                            $(td).attr('colspan', '5');
                            
                            td.innerHTML = `<div style="height: 500px;"><p style="color:gray; font-size:20px;"><strong>조회할 정보가 없습니다.</strong></p><div>`
                            tr.appendChild(td);
                            document.querySelector('#list').appendChild(tr);
                        } else {
                            drawList(data);
                        }
                    },
                    error: (err) => {
                        console.log(err);
                    }
                })
            };
            interestList();
            
            // 옵션금액 + 상품금액 = 총 금액 만들어주는 함수
            function addOptionPrc(targetId){                                        // data[i].prdtId를 받아온다.
                let targetOption = targetId+'_Op';                                  // 옵션을 품고있는 select의 class
                let selects = document.getElementsByClassName(targetOption);        // class명을 통해 DOM을 찾는다.
                //console.log(selects);
                let optPrc = 0;                                                     // 옵션 가격 초기화
                for(let i = 0; i < selects.length ; i++){                           // class의 길이만큼 반복하여 옵션의 가격을 가져온다.
                    optPrc += selects[i].value.split(',')[1]*1;                     // value="${data[i].optionVal[j].optDetaId},${data[i].optionVal[j].addPrc}"
                }                                                                   //              [0] : 옵션디테일아이디                [1]  : 옵션가격
                //console.log(optPrc);
                let targetOrgPrc = targetId+'_OrgPrc';                              // 옵션가격이 없는 상품가격
                let targetSumPrc = targetId+'_SumPrc';                              // 상품가격 + 옵션가격
                domId(targetSumPrc).value=domId(targetOrgPrc).value * 1+ optPrc * 1 // input에 상품가격과 옵션가격을 더하여 값을 넣는다.

                let targetCnt = targetId+'_cnt';                                    // 상품개수
                let totalPrice = 'totalPrice_'+targetId                             // 상품가격 + 옵션가격 + 상품개수
                //console.log(domId(targetSumPrc).value);                           // div에 상품가격 + 옵션가격이 들어간 input 값과 수량이 들어간 input 값을 넣는다.
                domId(totalPrice).innerText = AddComma(domId(targetSumPrc).value*domId(targetCnt).value);   //AddComma() -> numer comma
            }

            function drawList(data) {
                let opt = "";
                for (let i = 0; i < data.length; i++) {
                    let date = dateChange(data[i].intInDt);
                    let price = AddComma(data[i].prdtPrc);
                    
                    opt += `
                    <tr id="${data[i].prdtId}">
                        <td>
                            <div style="margin:0 auto; display:inline-block;">
                                <input type="checkbox" name="chk">
                            </div>
                        </td>
                        <td><a href="ProductDetail?prdtId=${data[i].prdtId}"><img src="download/${data[i].prdtImg}" alt="prod_img"></a></td>
                        <td>
                            <span>${data[i].prdtNm}</span>
                            <div>${date}</div>
                        </td>
                        <td>${price}원</td>
                        <td>
                            <div style="margin:0 auto; display:inline-block;">
                                <button type="button" class="btn btnPush btnBlueGreen" id="optionBtn_${data[i].prdtId}"
                                        onclick="document.getElementById('modal_${data[i].prdtId}').style.display='block'">장바구니</button>
                            </div>

                            <div id="modal_${data[i].prdtId}" class="w3-modal m-t-50">
                                <div class="row">
                                <div class="w3-modal-content w3-animate-opacity w3-card-4">
                                    <span onclick="document.getElementById('modal_${data[i].prdtId}').style.display='none'" 
                                            class="w3-button w3-display-topright">&times;</span>
                                    <h3 class="noonnu_font">< < 옵션선택 > ></h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="optionTitle" style="width:180px !important; margin-bottom:10px; margin-top:-30px;"><h4 class="noonnu_font">상품명 : ${data[i].prdtNm}</h4></div>
                                            <br/>
                                            <img src="download/${data[i].prdtImg}" alt="prod_img" style="width:300px; height:300px;">
                                        </div> <!-- class="col-6" -->

                                        <div class="col-6">
                                            <div class="w3-container" style="height: 400px !important;">
                                                <div id="div2">`;

                tempOptId  = "";
                let priceOption = "";
                
                //옵션 디테일 받아오는 곳
                for(let j = 0 ; j < data[i].optionVal.length ; j++){
                    if(j == 0){
                        opt += `<div class="optionTitle">${data[i].optionVal[j].optNm}</div><select name="optDetaId" class="optionW ${data[i].prdtId}_Op" onchange="addOptionPrc('${data[i].prdtId}')" id="optDetaId_${data[i].optionVal[j].optDetaId}">`;
                    } else if(data[i].optionVal[j].optId != tempOptId){
                        opt += `</select><br/><div class="optionTitle">${data[i].optionVal[j].optNm}</div><select name="optDetaId" class="optionW ${data[i].prdtId}_Op" onchange="addOptionPrc('${data[i].prdtId}')" id="optDetaId_${data[i].optionVal[j].optDetaId}">`;
                    }
                    opt += `<option value="${data[i].optionVal[j].optDetaId},${data[i].optionVal[j].addPrc}"> 
                                ${data[i].optionVal[j].optDetaNm}&nbsp;&nbsp;(+<span id="price_${data[i].optionVal[j].optDetaId}">${data[i].optionVal[j].addPrc}<span> 원)
                            </option>`
                    tempOptId = data[i].optionVal[j].optId;
                };
                opt += `</select>`;
                //끝

                opt += `
                                            <br/>
                                            <div id="priceDiv">
                                                <div class="cntDiv">
                                                    <div class="optionTitle">개수 : </div><input type="number" name="cnt" class="cntInput" min="1" value="1" id="${data[i].prdtId}_cnt" onchange="addOptionPrc('${data[i].prdtId}')" style="text-align: right;">
                                                </div>

                                                <!-- 옵션 값과 상품금액 담은 input -->
                                                <input id='${data[i].prdtId}_OrgPrc' value='${data[i].prdtPrc}' readonly class="price_hidden">
                                                <input id='${data[i].prdtId}_SumPrc' value='0' readonly class="price_hidden">
                                                <!-- 끝 -->

                                                <div class="optionTitle">구매금액 : </div><div class="optPriceDiv" id="totalPrice_${data[i].prdtId}"></div>원
                                            </div> 
                                        </div> <!-- end div2 -->
                                        <div style="margin:0 auto; display:inline-block;">
                                            <button type="button" class="btn btnPush btnBlueGreen cartInsert" style="width:150px">장바구니 담기</button>
                                            <button type="button"  class="btn btnPush btnRed" style="width:150px"
                                                    onclick="document.getElementById('modal_${data[i].prdtId}').style.display='none'">취소</button>
                                        </div>
                                    </div> <!-- end w3-container -->
                                </div> <!-- end col-md-6 -->
                            </div> <!-- end row -->
                        </div> <!-- end modal -->
                    </td>
                </tr>`;
                
            }// end for
            list.innerHTML = opt;
            for(let i=0;i<data.length;i++){
            addOptionPrc(data[i].prdtId);
            }
        }; // end drawList
        
        // 장바구니 버튼 클릭 시 장바구니로 값을 전달하는 버튼 이벤트
        $(document).on('click', `.cartInsert`, (e) => {
            let tr = $(e.target).closest('tr');                     //tr값 저장
            let prdtId = tr.attr("id");                             //상품번호
            let cnt = tr.find("[name=cnt]").val();                  //cnt인 input을 찾는다.
            let select = tr.find("select");                         //select를 찾는다.
            let optDetaId = []                                      //옵션 디테일 아이디 보낼 배열 초기화
            for(let i = 0 ; i < select.length ; i++){               //select 길이만큼 반복해서
                optDetaId.push(select.get(i).value.split(',')[0]);                //select.get(i) : 제이쿼리객체
            }                                                       //선택값 받아 배열에 저장
            let data = { meId : id, prdtId , cnt , optDetaId};      //위의 정보를 객체에 저장 ( 상품번호, 개수, 옵션디테일번호 )
            //console.log(JSON.stringify(data));
            $.ajax({
                url:'intrestInCartInsert',
                method : 'POST',
                data : JSON.stringify(data),
                dataType : 'json',
                contentType : "application/json",
                success : function(data) {
                    console.log(data);
                    CartCount();
                    Swal.fire({
                        title: '장바구니 추가완료',
                        text: "장바구니로 이동하시겠습니까?",
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if(data > 0){
                                location.href = 'CartMain';
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '오류',
                                    text: '오류가 발생하였습니다.',
                                });
                            }
                        }
                    })
                },
                error : function(err) {
                    console.log(err);
                }
            });
        });

        //체크박스 클릭 후 삭제버튼 누르면 관심상품 삭제진행
        $('#interestDeleteBtn').on('click',function(){
            let check_prdtId = "";
            $('#list input[type=checkbox]:checked').each(function (index, item) {
                let tr = $(item).parent().parent().parent()[0];
                check_prdtId += $(tr).attr("id") + ',';
                console.log($(tr).attr("id"));

                //삭제할건지 한 번 더 물어보고 진행하기
                Swal.fire({
                    title: '알림',
                    text: "선택된 상품을 관심상품 리스트에서 삭제하시겠습니까?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url : 'interestDelete',
                            method : 'POST',
                            data : {meId : id, prdtId : $(tr).attr("id")},
                            success : (data) => {
                                productInterestCount();
                                interestList();
                                Swal.fire(
                                    '삭제완료',
                                    '관심상품 리스트에서 삭제되었습니다.',
                                    'success'
                                );
                            },
                            error : (err) => {
                                console.log(err);
                                Swal.fire(
                                        '삭제오류',
                                        '삭제도중 오류가 발생하였습니다.',
                                        'error'
                                    )
                            }
                        });
                    }
                });
            });
        });

        function domId(id) { //id로 태그찾기 압축용
            return document.getElementById(id);
        }
        //=====================ㅇㅈ 추가됨===========================
        function collectOption(prdtId) {
            console.log('옵션가져오기');
            let options = document.getElementsByClassName(prdtId + '_opt');
            for (let i = 0; i < options.length; i++) {
                console.log(options[i].value);
            }
        }
        //=====================여기까지===========================
        //날짜변환
        function dateChange(data) {
            let newData = new Date(data);
            let result = newData.getFullYear() + "-" +
                (newData.getMonth() < 10
                    ? "0" + (newData.getMonth() + 1)
                    : newData.getMonth() + 1) +
                "-" + (newData.getDate() < 10 ? "0" + newData.getDate() : newData.getDate());
            return result;
        };

        //금액포맷
        function AddComma(num) {
            var regexp = /\B(?=(\d{3})+(?!\d))/g;
            return num.toString().replace(regexp, ',');
        };

        //체크박스
        $(document).ready(function () {
            $("#cbx_chkAll").click(function () {
                if ($("#cbx_chkAll").is(":checked")) $("input[name=chk]").prop("checked", true);
                else $("input[name=chk]").prop("checked", false);
            });

            $("input[name=chk]").click(function () {
                var total = $("input[name=chk]").length;
                var checked = $("input[name=chk]:checked").length;

                if (total != checked) $("#cbx_chkAll").prop("checked", false);
                else $("#cbx_chkAll").prop("checked", true);
            });
        });
    </script>
</div>
</body>
</html>
</html>