<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
    <title>Pettopia</title>
    <meta charset="UTF-8">
</head>
<div layout:fragment="content">
<body>
<!--kakao addr API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
    .signUpFontColor{
        color: rgb(233, 90, 168);
        font-size: large;
    }
    a, label{
        font-size: 15px;
    }
    .customInput{
        display: inline-flex !important;
        margin-bottom: 10px;
        font-size: 13px !important;
        height: 50px;
        font-size: 20px;
    }
    #btnStyle{
        padding: 0 !important;
        margin: 0px !important;
        width: 70px;
        height: 47px;
    }
    .formBtn{
        width: 80px !important;
    }

    .button_div button{
        width: 90px !important;
    }
</style>

    <div class="container">
        <div class="row">
            <!--메뉴-->
            <th:block th:replace="layout/navbar :: navbarFragment"></th:block>
            <!--End 메뉴-->
            <!-- 마이페이지 주문관리 -->
            <div class="col-md-8 col-lg-10 p-b-80">
                <div class="p-r-45 p-r-0-lg m-t-50">
                    <h1>
                        <span style="font-weight: bold; color: rgb(201, 159, 240);">| </span>정보수정
                    </h1>
                    <br/>
                    <div th:each="user : ${info}">
                        <input id="path" type="hidden" class="form-control customInput" name="path" th:value="${user.signPath}" readonly>
                        <div class="form-group">
                            <label for="meId">이름</label>
                            <input id="name" type="text" class="form-control customInput" name="name" th:value="${user.name}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="meId">아이디</label>
                            <input id="meId" type="email" class="form-control customInput" name="meId" th:value="${user.meId}" readonly>
                        </div>
                        <div th:if="${user.signPath == 'SC1'}">
                            <div class="form-group">
                                <label for="pw">비밀번호<span class="signUpFontColor"> *</span></label>
                                <input id="pw" type="password" class="form-control customInput" name="pw" placeholder="비밀번호를 입력해주세요">
                                <div><font id="pw_feedback" size="2"></font></div>
                            </div>
                            <div class="form-group">
                                <label for="pwModify">수정할 비밀번호<span class="signUpFontColor"> *</span></label>
                                <input id="pwModify" type="password" class="form-control customInput" name="pwModify" placeholder="비밀번호를 입력해주세요">
                                <div><font id="pwModify_feedback" size="2"></font></div>
                            </div>
                            <div class="form-group">
                                <label for="pwModifyChk">수정할 비밀번호 확인<span class="signUpFontColor"> *</span></label>
                                <input id="pwModifyChk" type="password" class="form-control customInput" name="pwModifyChk" placeholder="비밀번호를 입력해주세요">
                                <div><font id="pwModifyChk_feedback" size="2"></font></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">연락처<span class="signUpFontColor"> *</span></label>
                            <input id="phone" type="text" class="form-control customInput" name="phone" value="phone" th:value="${user.phone}"
                                    maxlength='13' oninput="autoHyphen2(this)" placeholder="연락처를 입력해주세요">
                        </div>
                        <div class="form-group">
                            <label for="addr">주소<span class="signUpFontColor"> *</span></label>
                            <input id="post" type="text" class="form-control customInput" name="post" value="post" readonly style="width: 10% !important;" th:value="${user.post}">
                            <input id="addr" type="text" class="form-control customInput" name="addr" value="addr" readonly style="width: 80%;" th:value="${user.addr}">
                            <button type="button" id="btnStyle" class="btn btnPush btnLightBlue btnStyle" onclick="sample6_execDaumPostcode()" autocomplete="off" style="float: right;">
                                <i class="fa fa-search" aria-hidden="true" ></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="addrDtl">상세주소</label>
                            <input id="addrDtl" type="text" class="form-control customInput" name="addrDtl" placeholder="상세주소" th:value="${user.addrDetail}">
                        </div>
                    </div>
                        <div class="form-group button_div" style="position: absolute; left: 38%;">
                            <button type="button" class="btn btnPush btnBlueGreen formBtn" id="modifyBtn">수정</button>
                            <button type="button" class="btn btnPush btnLightBlue formBtn" onclick="location.href='/'">메인으로</button>
                            <button type="button" class="btn btnPush btnOrange formBtn" id="deleteBtn">회원탈퇴</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            const autoHyphen2 = (target) => {
                target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
            };

            //회원탈퇴
            $('#deleteBtn').on('click',(e)=>{
                let meId = $('#meId').val();

                Swal.fire({
                    title: '탈퇴하시겠습니까?',
                    text: "영원히 니 아이디로는 회원가입 못하는걸 알아둬라",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '승인',
                    cancelButtonText: '취소'
                }).then((result) => {
                    $.ajax({
                        type : "POST",
                        url : "/userDtl",
                        data :  {meId : meId},
                        success : function(data) {
                            if(data) {
                                if (result.isConfirmed) {
                                    Swal.fire(
                                        '완료',
                                        '회원탈퇴가 완료되었습니다.',
                                        'success'
                                    );
                                    setTimeout(function() {
                                        window.location.href="/logout";
                                    }, 2000);
                                }
                            }
                        },
                        error : function(error) {
                            console.log(error);
                        }
                    })
                })
            });

            //비밀번호 체크
            $('#pw').on('keyup',function(){
                let pw = $('#pw').val();
                $.ajax({
                    url: "/pwChk",
                    type : "POST",
                    data : {pw : pw},
                    success : (data)=>{
                        if(!data){
                            $("#pw_feedback").html('비밀번호 불일치');
                            $("#pw_feedback").attr('color','#dc3545');
                            $('#modifyBtn').attr("disabled", true);
                        } else {
                            $("#pw_feedback").html('비밀번호 일치');
                            $("#pw_feedback").attr('color','#2fb380');
                            $('#modifyBtn').removeAttr("disabled");
                        }
                    },
                    error : (err)=>{
                        console.log(err);
                    }
                });
            });

            const Toast = Swal.mixin({
                toast: true,
                position: 'center',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            // 수정할 데이터를 DB로 넘기기 전에 조건문 걸기
            /*<![CDATA[*/
            let path = /*[[${path}]]*/
            console.log(path);
            
            $('#modifyBtn').on('click',()=>{
                let name = $('#name').val();
                let id = $('#meId').val();
                let post = $('#post').val();
                let pw = $('#pw').val();                //DB에 있는 비밀번호
                let pwModify = $('#pwModify').val();    //수정할 비밀번호
                let pwModifyChk = $('#pwModifyChk').val();
                let phone = $('#phone').val();          //연락처
                let addr = $('#addr').val();            //주소
                let addrDtl = $('#addrDtl').val();      //상세주소
                let path = $('#path').val();
                let regPass = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/; //비밀번호 : 영문, 숫자 포함 6자리 이상
                let datas;

                //가입경로가 자사일 경우 패스워드까지 update를 진행한다
                if(path == 'SC1'){
                    //비밀번호, 연락처가 없을 경우 알림 띄우기
                    if(pw=='' || pw.trim() === "") {
                        Toast.fire({
                            icon: 'warning',
                            title: '비밀번호가 입력되지 않았습니다.'
                        });
                        $('#pw').focus();
                        return;
                    } else if(!phone || phone.trim() === ""){
                        Toast.fire({
                            icon: 'warning',
                            title: '연락처가 입력되지 않았습니다.'
                        });
                        $('#phone').focus();
                        return;
                    //수정할 비밀번호란에 문자열이 있을 경우
                    } else if(pwModify.length > 0){
                        //수정할 비밀번호, 수정할 비밀번호 확인을 체크한다.
                        if(!pwModify || pwModify.trim() === ""){
                            Toast.fire({
                                icon: 'warning',
                                title: '수정할 비밀번호가 입력되지 않았습니다.'
                            });
                            $('#pwModify').focus();
                            return;
                        } else if(!regPass.test(pwModify) || pwModify.length < 6){
                            Toast.fire({
                                icon: 'warning',
                                title: '영소문자,숫자로 구성된 6글자 이상으로 조합해주세요.'
                            });
                            $('#pwModify').focus();
                            return;
                        } else if(pw === pwModify) {
                            Toast.fire({
                                icon: 'warning',
                                title: '현재 비밀번호와 수정할 비밀번호가 동일합니다.'
                            });
                            $('#pwModify').focus();
                            return;
                        } else {
                            //예외처리를 모두 거치고 수정할 비밀번호를 입력했을 경우 해당 ajax를 실행한다.
                            datas = {
                                signPath : path,
                                name : name,
                                meId : id,               //아이디
                                pw : pwModify,           //수정되지 않은 비밀번호
                                phone : phone,          //연락처
                                post : post,            //우편번호
                                addr : addr,            //주소
                                addrDetail : addrDtl    //상세주소
                            };
                            console.log(datas);
                            $.ajax({
                                type : "PUT",
                                url : "/userInfoUpdate",
                                data :  JSON.stringify(datas),
                                contentType: "application/json; charset=utf-8",
                                dataType : 'json',
                                success : function(data) {
                                    if(data) {
                                        console.log(data);
                                        //아이콘 왜 깨지니?
                                        Swal.fire({
                                            icon: 'success',
                                            title: '수정완료',
                                            text: '정보 수정이 완료되었습니다.',
                                        });
                                    setTimeout(function() {
                                            window.location.reload(true);
                                        }, 2500);
                                    }
                                },
                                error : function(error) {
                                    console.log(error);
                                }
                            });
                        };
                    //비밀번호를 재설정하지않고 다른 내용만 바꿨을 경우 해당 ajax가 실행된다.
                    } else {
                        datas = {
                            signPath : path,
                            name : name,
                            meId : id,               //아이디
                            pw : pw,                //수정할 비밀번호
                            phone : phone,          //연락처
                            post : post,            //우편번호
                            addr : addr,            //주소
                            addrDetail : addrDtl    //상세주소
                        };
                        console.log(datas);
                        $.ajax({
                            type : "PUT",
                            url : "/userInfoUpdate",
                            data :  JSON.stringify(datas),
                            contentType: "application/json; charset=utf-8",
                            dataType : 'json',
                            async: false,
                            success : function(data) {
                                if(data) {
                                    console.log(data);
                                    //아이콘 왜 깨지니?
                                    Swal.fire({
                                        icon: 'success',
                                        title: '수정완료',
                                        text: '정보 수정이 완료되었습니다.',
                                    });
                                    setTimeout(function() {
                                        window.location.reload(true);
                                    }, 2500);
                                }
                            },
                            error : function(error) {
                                console.log(error);
                            }
                        });
                    };

                //가입경로가 자사가 아닌 SNS일 때 해당 ajax가 실행된다.
                } else {
                    if(!phone || phone.trim() === ""){
                        Toast.fire({
                            icon: 'warning',
                            title: '연락처가 입력되지 않았습니다.'
                        });
                        $('#phone').focus();
                        return;
                    } else {
                        datas = {
                            signPath : path,
                            name : name,
                            meId : id,               //아이디
                            phone : phone,          //연락처
                            post : post,            //우편번호
                            addr : addr,            //주소
                            addrDetail : addrDtl    //상세주소
                        };
                        console.log(datas);
                        $.ajax({
                            type : "PUT",
                            url : "/userInfoUpdate",
                            data :  JSON.stringify(datas),
                            contentType: "application/json; charset=utf-8",
                            dataType : 'json',
                            success : function(data) {
                                if(data) {
                                    console.log(data);
                                    //아이콘 왜 깨지니?
                                    Swal.fire({
                                        icon: 'success',
                                        title: '수정완료',
                                        text: '정보 수정이 완료되었습니다.',
                                    });
                                                                setTimeout(function() {
                                        window.location.reload(true);
                                    }, 2500);
                                }
                            },
                            error : function(error) {
                                console.log(error);
                            }
                        });
                    };
                };
            });
            
            // 수정할 비밀번호 유효성검사
            $('#pwModify, #pwModifyChk').on('keyup',function(){
                let regPass = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/; //비밀번호 : 영문, 숫자 포함 6자리 이상
                let pwModify = $('#pwModify').val();                //수정할 비밀번호
                let pwModifyChk = $('#pwModifyChk').val();          //수정 비밀번호 확인란
                let pw = $('#pw').val();    //수정할 비밀번호
                // 비밀번호 정규식이 맞지 않거나 수정할 비밀번호의 문자길이가 5가 아닐 때
                if(!regPass.test(pwModify) || pwModify.length <= 5){
                    $('#pwModify_feedback').html('영소문자,숫자로 구성된 6글자 이상으로 조합해주세요.');
                    $("#pwModify_feedback").attr('color','#dc3545');
                    $('#pwModify').focus();
                    return;
                // 기존의 비밀번호 길이와 수정할 비밀번호의 길이가 같을 때
                } else if (pw.length == pwModify.length){
                    // 기존 비밀번호와 수정할 비밀번호의 값이 일치하다면 해당 내용 출력
                    if(pw === pwModify) {
                        $('#pwModify_feedback').html('기존 비밀번호와 동일합니다.');
                        $("#pwModify_feedback").attr('color','#dc3545');
                        return;
                    // 기존 비밀번호와 수정할 비밀번호의 값이 일치하지 않다면 해당 내용 출력
                    } else {
                        $('#pwModify_feedback').html('사용가능한 비밀번호입니다.');
                        $("#pwModify_feedback").attr('color','#2fb380');

                        // 수정할 비밀번호 체크하는 문자길이와 수정할 비밀번호 문자길이가 같을 때
                        if(pwModifyChk.length === pwModify.length){
                            // 수정할 비밀번호 체크 값과 수정할 비밀번호 값이 일치하다면 해당 내용 출력
                            if(pwModifyChk === pwModify){
                                $('#pwModifyChk_feedback').html('비밀번호 일치');
                                $("#pwModifyChk_feedback").attr('color','#2fb380');
                            // 수정할 비밀번호 체크 값과 수정할 비밀번호 값이 일치하지 앟ㄴ다면 해당 내용 출력
                            } else {
                                $('#pwModifyChk_feedback').html('수정하고자하는 비밀번호가 일치하지 않습니다.');
                                $("#pwModifyChk_feedback").attr('color','#dc3545');
                            };
                        };
                    };
                };
            });
        
            //다음 API
            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("addr").value = addr + extraAddr;
                        
                        } else {
                            document.getElementById("addr").value = addr;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('post').value = data.zonecode;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("addrDtl").focus();
                    }
                }).open();
            }; // END 다음 카카오 API 
        /*]]>*/
    </script>
</body>
</div>
</html>