<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
    <title>Pettopia</title>
    <meta charset="UTF-8">
</head>
<div layout:fragment="content">
<body>
<!--kakao addr API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
    .signUpFontColor{
        color: rgb(233, 90, 168);
        font-size: large;
    }
    a, span, label{
        font-size: 15px;
    }
    .customInput{
        display: inline-flex !important;
        margin-bottom: 10px;
        font-size: 13px !important;
        height: 50px;
        font-size: 20px;
    }
    #btnStyle{
        padding: 0 !important;
        margin: 0px !important;
        width: 70px;
        height: 47px;
    }
    .formBtn{
        width: 80px !important;
    }
</style>

    <div class="container noonnu_font">
        <div class="row">
            <!--메뉴-->
            <th:block th:replace="/layout/navbar :: navbarFragment"></th:block>
            <!--End 메뉴-->
            <!-- 마이페이지 주문관리 -->
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg m-t-50">
                    <h1>
                        마이페이지 - 정보수정
                    </h1>
                    <br/>
                    <div th:each="user : ${info}" style="height: 650px;">
                        <div class="form-group">
                            <label for="meId">아이디</label>
                            <input id="meId" type="email" class="form-control customInput" name="meId" th:value="${user.meId}" readonly>
                        </div>
                        <div th:if="${user.signPath == 'company'}">
                            <div class="form-group">
                                <label for="pw">비밀번호<span class="signUpFontColor"> *</span></label>
                                <input id="pw" type="password" class="form-control customInput" name="pw" placeholder="비밀번호를 입력해주세요">
                                <div><font id="pw_feedback" size="2"></font></div>
                            </div>
                            <div class="form-group">
                                <label for="pwModify">수정할 비밀번호<span class="signUpFontColor"> *</span></label>
                                <input id="pwModify" type="password" class="form-control customInput" name="pwModify" placeholder="비밀번호를 입력해주세요">
                                <div><font id="pwModify_feedback" size="2"></font></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">연락처<span class="signUpFontColor"> *</span></label>
                            <input id="phone" type="text" class="form-control customInput" name="phone" value="phone" th:value="${user.phone}"
                                    maxlength='13' oninput="autoHyphen2(this)" placeholder="연락처를 입력해주세요">
                        </div>
                        <div class="form-group">
                            <label for="addr">주소<span class="signUpFontColor"> *</span></label>
                            <input id="post" type="text" class="form-control customInput" name="post" value="post" readonly style="width: 10% !important;" th:value="${user.post}">
                            <input id="addr" type="text" class="form-control customInput" name="addr" value="addr" readonly style="width: 80%;" th:value="${user.addr}">
                            <button type="button" id="btnStyle" class="btn btnPush btnLightBlue btnStyle" onclick="sample6_execDaumPostcode()" autocomplete="off" style="float: right;">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="addrDtl">상세주소</label>
                            <input id="addrDtl" type="text" class="form-control customInput" name="addrDtl" placeholder="addrDtl" th:value="${user.addrDetail}">
                        </div>
                    </div>
                        <div class="form-group" style="position: absolute; left: 38%;">
                            <button type="button" class="btn btnPush btnBlueGreen formBtn" id="modifyBtn">수정</button>
                            <button type="button" class="btn btnPush btnRed formBtn">취소</button>
                            <button type="button" class="btn btnPush btnOrange formBtn">회원탈퇴</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const autoHyphen2 = (target) => {
            target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
        };
        
        //비밀번호 체크
        $('#pw').on('keyup',function(){
            let pw = $('#pw').val();
            $.ajax({
                url: "/pwChk",
                type : "POST",
                data : {pw : pw},
                success : (data)=>{
                    if(!data){
                        $("#pw_feedback").html('비밀번호 불일치');
                        $("#pw_feedback").attr('color','#dc3545');
                        $('#modifyBtn').attr("disabled", true);
                    } else {
                        $("#pw_feedback").html('비밀번호 일치');
                        $("#pw_feedback").attr('color','#2fb380');
                        $('#modifyBtn').removeAttr("disabled");
                    }
                },
                error : (err)=>{
                    console.log(err);
                }
            });
        });

        // 수정할 데이터를 DB로 넘기기 전에 조건문 걸기
        $('#modifyBtn').on('click',()=>{
            const Toast = Swal.mixin({
                toast: true,
                position: 'center',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
            
            let pw = $('#pw').val();                //DB에 있는 비밀번호
            let pwModify = $('#pwModify').val();    //수정할 비밀번호
            let phone = $('#phone').val();          //연락처
            let addr = $('#addr').val();            //주소
            let addrDtl = $('#addrDtl').val();      //상세주소
            let regPass = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/; //비밀번호 : 영문, 숫자 포함 6자리 이상

            if(pw=='' || pw.trim() === ""){
                Toast.fire({
                    icon: 'warning',
                    title: '비밀번호가 입력되지 않았습니다.'
                })
                $('#pw').focus();
                return;
            } else if(!pwModify || pwModify.trim() === ""){
                Toast.fire({
                    icon: 'warning',
                    title: '수정할 비밀번호가 입력되지 않았습니다.'
                })
                $('#pwModify').focus();
                return;
            } else if(!phone || phone.trim() === ""){
                Toast.fire({
                    icon: 'warning',
                    title: '연락처가 입력되지 않았습니다.'
                })
                $('#phone').focus();
                return;
            } else if(!regPass.test(pwModify) || pwModify.length < 6){
                Toast.fire({
                    icon: 'warning',
                    title: '영소문자,숫자로 구성된 6글자 이상으로 조합해주세요.'
                })
                $('#pwModify').focus();
                return;
            } else {
                const data = {
                    pw : pwModify,           //수정할 비밀번호
                    phone : phone,          //연락처
                    addr : addr,            //주소
                    addrDetail : addrDtl    //상세주소
                };
                
                $.ajax({
                    type : "POST",
                    url : "/userInfoUpdate",
                    data :  JSON.stringify(data),
                    contentType : "application/json",
                    success : function(data) {
                        console.log(data);
                    },
                    error : function(error) {
                        console.log(error);
                    }
                });
            };
        });

        // 수정할 비밀번호 유효성검사
        $('#pwModify').on('keyup',function(){
            let regPass = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/; //비밀번호 : 영문, 숫자 포함 6자리 이상
            let pwModify = $('#pwModify').val();    //수정할 비밀번호
            if(!regPass.test(pwModify) || pwModify > 1 || pwModify.length < 6){
                $('#pwModify_feedback').html('영소문자,숫자로 구성된 6글자 이상으로 조합해주세요.');
                $("#pwModify_feedback").attr('color','#dc3545');
                $('#pwModify').focus();
                return;
            } else {
                $('#pwModify_feedback').html('사용가능한 비밀번호입니다.');
                $("#pwModify_feedback").attr('color','#2fb380');
            };
        });
        
        //다음 API
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("addr").value = addr + extraAddr;
                    
                    } else {
                        document.getElementById("addr").value = addr;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('post').value = data.zonecode;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addrDtl").focus();
                }
            }).open();
        }; // END 다음 카카오 API 
    </script>
</body>
</div>
</html>