<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout}">
<head>
<meta charset="UTF-8" />
<title>Pettopia</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">회원 관리</h5>
							<table class="table table-borderless mt-5">
								<tbody>
									<tr>
										<th class="text-center" scope="row">아이디</th>
										<td><input style="width: 60%;" type="text"
											class="form-control" id="searchId" /></td>

										<th class="text-center" scope="row">이름</th>
										<td><input type="text" class="form-control" id="searchNm"
											style="width: 60%;" /></td>
									</tr>
									<tr>
										<th class="text-center" scope="row">가입일자</th>
										<td>
											<div class="d-flex align-items-center" style="width: 60%;">
												<input type="date" class="form-control mr-2" id="start"
													name="start" /> <span class="mx-2">~</span> <input
													type="date" class="form-control ml-2" id="end" name="end" />
											</div>
										</td>

										<th class="text-center" scope="row">가입경로</th>
										<td id="saleStTable">
											<div class="d-flex">
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox"
														id="selectAll" name="selectAll" /> <label
														class="form-check-label" for="selectAll">전체</label>
												</div>
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox"
														id="company" name="chk" /> <label class="form-check-label"
														for="company">company</label>
												</div>
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox"
														id="kakao" name="chk" /> <label class="form-check-label"
														for="kakao">kakao</label>
												</div>
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox"
														id="naver" name="chk" /> <label class="form-check-label"
														for="naver">naver</label>
												</div>
											</div>
										</td>
									</tr>
									<!-- <tr>
										<th class="text-center" scope="row">탈퇴여부</th>
										<td id="saleStTable">
											<div class="d-flex">
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox"
														id="selectAll" name="selectAll" /> <label
														class="form-check-label" for="selectAll">전체</label>
												</div>
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox" value="ST1"
														id="ST1ck" name="chk" /> <label class="form-check-label"
														for="ST1ck">Y</label>
												</div>
												<div class="form-check me-3">
													<input class="form-check-input" type="checkbox" value="ST2"
														id="ST2ck" name="chk" /> <label class="form-check-label"
														for="ST2ck">N</label>
												</div>
											</div>
										</td>


									</tr> -->
								</tbody>
							</table>

							<div class="text-center pb-5">
								<button type="button" class="btn btn-primary" id="searchBtn">
									검색</button>
								<button type="button" class="btn btn-secondary" id="resetBtn">
									초기화</button>
							</div>
							<div id="memberList"></div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<div class="modal fade" id="detailModal" tabindex="-1"
			aria-labelledby="modifyModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modifyModalLabel">회원 정보</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="name">이름</label> <input type="text"
									class="form-control" id="name">
							</div>
							<div class="form-group">
								<label for="phone">전화번호</label> <input type="text"
									class="form-control" id="phone">
							</div>
							<div class="form-group">
								<label for="addr">주소</label> <input type="text"
									class="form-control" id="addr">
							</div>
							<div class="form-group">
								<label for="addrDetail">상세주소</label> <input type="text"
									class="form-control" id="addrDetail">
							</div>
							<div class="form-group">
								<label for="post">우편번호</label> <input type="text"
									class="form-control" id="post">
							</div>
							<div class="form-group">
								<label for="signPath">가입경로</label> <input type="text"
									class="form-control" id="signPath">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary" id="updateBtn">
							수정</button> -->
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>




		<script>
			const Grid = tui.Grid;

			const memberList = new Grid({
				el : document.getElementById("memberList"),
				rowHeaders : [ "checkbox", "rowNum" ],
				bodyHeight : 430,
				pageOptions : {
					useClient : true,
					perPage : 10,
				},
				columns : [ {
					header : "아이디",
					name : "meId",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "이름",
					name : "name",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "전화번호",
					name : "phone",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "주소",
					name : "addr",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "상세주소",
					name : "addrDetail",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "우편번호",
					name : "post",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "가입일자",
					name : "signDt",
					align : "center",
					sortingType : "asc",
					sortable : true,
					formatter : function(e) {
						return formattedDate(e.value);
					},
				}, {
					header : "수정일자",
					name : "updateDt",
					align : "center",
					sortingType : "asc",
					sortable : true,
					formatter : function(e) {
						return formattedDate(e.value);
					},
				}, {
					header : "가입경로",
					name : "signPath",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "탈퇴여부",
					name : "outYn",
					align : "center",
					sortingType : "asc",
					sortable : true,
				}, {
					header : "권한",
					name : "role",
					align : "center",
					sortingType : "asc",
					sortable : true,
				},

				],
			});

			// 날짜 변환
			function formattedDate(timestamp) {
				let date = new Date(timestamp);
				let year = date.getFullYear();
				let month = String(date.getMonth() + 1).padStart(2, "0");
				let day = String(date.getDate()).padStart(2, "0");
				let formattedDate = year + "-" + month + "-" + day;
				return formattedDate;
			}

			//회원리스트
			$.ajax({
				url : "memberList",
				dataType : "JSON",
				success : function(data) {
					memberList.resetData(data);
				},
				error : function(reject) {
					console.log(reject);
				},
			});

			//검색버튼
			$(document).on("click", "#searchBtn", function() {
				let meId = $("#searchId").val();
				let name = $("#searchNm").val();
				let start = $("#start").val();
				let end = $("#end").val();
				let signPath = [];
	            $("#saleStTable input:checkbox[name=chk]:checked").map(function () {
	            	signPath.push($(this).val());
	            });
				
				
				$.ajax({
					url : "searchMbr",
					data : {
						meId : meId,
						name : name,
						start : start,
						end : end,
						signPath : signPath,
					},
					success : function(result) {
						memberList.resetData(result);
					},
					error : function(reject) {
						console.log(reject);
					},
				});
			});

			//초기화버튼
			$(document).on("click", "#resetBtn", function() {
				let meId = $("#searchId").val("");
				let name = $("#searchNm").val("");
				let start = $("#start").val("");
				let end = $("#end").val("");
				  $("#saleStTable input:checkbox[name=chk]:checked").prop(
			              "checked",
			              false
			            );
			            $("#selectAll:checked").prop("checked", false);
				
				$.ajax({
					url : "memberList",
					success : function(data) {
						memberList.resetData(data);
					},
					error : function(reject) {
						console.log(reject);
					},
				});
			});

			memberList.on("dblclick", function(e) {
								const rowData = memberList.getRow(e.rowKey);
								document.getElementById("name").value = rowData.name;
								document.getElementById("phone").value = rowData.phone;
								document.getElementById("addr").value = rowData.addr;
								document.getElementById("addrDetail").value = rowData.addrDetail;
								document.getElementById("post").value = rowData.post;
								document.getElementById("signPath").value = rowData.signPath;
								$("#detailModal").modal("show");
							});
			
		       $("#selectAll").change(function () {
		            $("#saleStTable input:checkbox").prop(
		              "checked",
		              $(this).prop("checked")
		            );
		          });
		       
		         $("input[name='chk']").change(function () {
		             if (!$(this).prop("checked")) {
		               $("#selectAll").prop("checked", false);
		             } else if (
		               $("#saleStTable input[name='chk']:not(:checked)").length === 0
		             ) {
		               $("#selectAll").prop("checked", true);
		             }
		           });
		</script>
	</div>
</body>
</html>
