<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Pettopia</title>
    <style>
      #imgDetail {
        display: flex;
        flex-direction: row;
        padding-right: 5px;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="content">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">상품 관리</h5>
                <div class="col-lg-12 p-4">
                  <table class="table table-bordered">
                    <tr class="table-primary">
                      <td colspan="3">상품 현황</td>
                    </tr>
                    <tr class="table-secondary text-center">
                      <td>전체등록 상품</td>
                      <td>판매중 상품</td>
                      <td>판매중지 상품</td>
                    </tr>
                    <tr class="text-center">
                      <td class="text-primary text-decoration-underline fs-3">
                        <span th:text="${prdAllCnt}"></span>개
                      </td>
                      <td class="text-success text-decoration-underline fs-3">
                        <span th:text="${saleCnt}"></span>개
                      </td>
                      <td class="text-danger text-decoration-underline fs-3">
                        <span th:text="${stopSaleCnt}"></span>개
                      </td>
                    </tr>
                  </table>
                </div>
                <hr />
                <form>
                  <div class="row mb-3 pt-5">
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >상품명</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >유형</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >등록일자</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>

                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >상품상태</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="text-center p-4">
                    <button type="button" class="btn btn-primary">검색</button>
                    <button type="button" class="btn btn-secondary">
                      초기화
                    </button>
                  </div>
                </form>
                <div class="text-end p-2">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#insertModal"
                  >
                    등록
                  </button>
                  <button type="button" class="btn btn-danger" id="delBtn">
                    삭제
                  </button>
                </div>
                <div id="prdList"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 등록 모달 -->
      <div
        class="modal fade"
        id="insertModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">상품 등록</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품명</label
                >
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="prdtNm" />
                </div>
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매가</label
                >
                <div class="col-sm-4">
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="prdtPrc"
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품설명</label
                >
                <form>
                  <textarea id="summernote" name="editordata"></textarea>
                </form>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >대분류</label
                >
                <div class="col-sm-6 mt-2">
                  <div
                    class="form-check form-check-inline"
                    th:each="lCat : ${lCatList}"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="lCatId"
                      th:value="${lCat.lCatId}"
                      th:id="${lCat.lCatId}"
                    />
                    <label
                      class="form-check-label"
                      th:for="${lCat.lCatId}"
                      th:text="${lCat.lCatNm}"
                    ></label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >소분류</label
                >
                <div class="col-sm-7 mt-2" id="sCatList"></div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품옵션</label
                >
                <div class="col-sm-6 mt-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="option"
                      value="사용함"
                      id="optionRadio1"
                    />
                    <label class="form-check-label" for="optionRadio1"
                      >사용함</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="option"
                      value="사용안함"
                      id="optionRadio2"
                    />
                    <label class="form-check-label" for="optionRadio2"
                      >사용안함</label
                    >
                  </div>
                </div>
              </div>
              <div style="display: none" id="option">
                <div class="row mb-4 optionInput">
                  <div class="row mb-4">
                    <label class="col-sm-2 col-form-label fw-bolder text-center"
                      >옵션 이름</label
                    >
                    <div class="col-sm-4">
                      <input type="text" class="form-control optionNm" />
                    </div>
                    <div class="col-sm-2">
                      <button
                        class="btn btn-primary text-end btn-md"
                        id="optionAdd"
                      >
                        +
                      </button>
                      <button
                        class="btn btn-danger text-end btn-md"
                        id="optionDel"
                      >
                        -
                      </button>
                    </div>
                  </div>
                  <label class="col-sm-2 col-form-label fw-bolder text-center"
                    >옵션 값</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control optionVal"
                      placeholder="콤마(,)로 구분해주세요"
                    />
                  </div>
                  <label class="col-sm-2 col-form-label fw-bolder text-center"
                    >추가 가격</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control optionPrc"
                      placeholder="콤마(,)로 구분해주세요"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >이미지(메인)</label
                >
                <div class="col-sm-6">
                  <input type="file" class="form-control" id="imgMain" />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >이미지</label
                >
                <div class="col-sm-6">
                  <input
                    type="file"
                    class="form-control"
                    id="img"
                    name="img"
                    multiple
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매상태</label
                >
                <div class="col-sm-6 mt-2">
                  <div
                    class="form-check form-check-inline"
                    th:each="saleSt : ${code.ST}"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="saleSt"
                      th:id="${saleSt.codCd}"
                      th:value="${saleSt.codCd}"
                    />
                    <label
                      class="form-check-label"
                      th:for="${saleSt.codCd}"
                      th:text="${saleSt.codTitle}"
                    ></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                닫기
              </button>
              <button type="button" class="btn btn-primary" id="insertBtn">
                등록
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 상세조회 모달 -->
      <div
        class="modal fade"
        id="detailModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">상품 상세조회</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품명</label
                >
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="prdtNmDetail" />
                </div>
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매가</label
                >
                <div class="col-sm-4">
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="prdtPrcDetail"
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품설명</label
                >
                <form>
                  <textarea id="summernoteDetail" name="editordata"></textarea>
                </form>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >대분류</label
                >
                <div class="col-sm-6 mt-2">
                  <div
                    class="form-check form-check-inline"
                    th:each="lCat : ${lCatList}"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="lCatId"
                      th:value="${lCat.lCatId}"
                      th:id="${lCat.lCatId}+'Det'"
                    />
                    <label
                      class="form-check-label"
                      th:for="${lCat.lCatId}+'Det'"
                      th:text="${lCat.lCatNm}"
                    ></label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >소분류</label
                >
                <div class="col-sm-7 mt-2" id="sCatListDetail"></div>
              </div>

              <div>
                <div class="row mb-4" id="optionDetail">
                  <!-- <div class="row mb-4">
                    <label class="col-sm-2 col-form-label fw-bolder text-center"
                      >옵션 이름</label
                    >
                    <div class="col-sm-4">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <label class="col-sm-2 col-form-label fw-bolder text-center"
                    >옵션 값</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="콤마(,)로 구분해주세요"
                    />
                  </div>
                  <label class="col-sm-2 col-form-label fw-bolder text-center"
                    >추가 가격</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="콤마(,)로 구분해주세요"
                    />
                  </div> -->
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >이미지(메인)</label
                >
                <div class="col-sm-6">
                  <img id="imgMainDetail" />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >이미지</label
                >
                <div class="col-sm-10" id="imgDetail"></div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매상태</label
                >
                <div class="col-sm-6 mt-2">
                  <div
                    class="form-check form-check-inline"
                    th:each="saleSt : ${code.ST}"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="saleSt"
                      th:id="${saleSt.codCd} + 'Det'"
                      th:value="${saleSt.codCd}"
                    />
                    <label
                      class="form-check-label"
                      th:for="${saleSt.codCd} + 'Det'"
                      th:text="${saleSt.codTitle}"
                    ></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                닫기
              </button>
              <button type="button" class="btn btn-primary">수정</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          // 대분류 선택 하면 소분류 출력
          $("input[type=radio][name=lCatId]").change(function () {
            $.ajax({
              url: "sCatList",
              data: { lCatId: this.value },
              success: function (result) {
                let sCatList = $("#sCatList");
                sCatList.empty(); // 이전에 생성된 라디오박스들을 모두 제거

                $.each(result, function (index, value) {
                  let radioBtn =
                    '<div class="form-check form-check-inline">' +
                    '<input class="form-check-input" type="radio" name="sCatId" value="' +
                    value.scatId +
                    '" id="' +
                    value.scatId +
                    '">' +
                    '<label class="form-check-label" for="' +
                    value.scatId +
                    '">' +
                    value.scatNm +
                    "</label>" +
                    "</div>";
                  sCatList.append(radioBtn);
                });
              },
              error: function (reject) {
                console.log(reject);
              },
            });
          });

          // 옵션 사용함 하면 input창 뜸
          $("input[type=radio][name=option]").change(function () {
            if (this.value === "사용함") {
              $("#option").show();
            } else if (this.value === "사용안함") {
              $("#option").hide();
            }
          });

          // + 버튼 클릭
          $(document).on("click", "#optionAdd", function () {
            var clone = $(".optionInput").eq(0).clone();
            clone.find("input").val("");
            clone.find(".btn").remove();
            $("#option").append(clone);
          });

          // - 버튼 클릭
          $(document).on("click", "#optionDel", function () {
            if ($(".optionInput").length === 1) {
              Swal.fire({
                icon: "error",
                title: "지울 수 없습니다.",
              });
              return;
            }
            $(".optionInput").last().remove();
          });
        });

        const Grid = tui.Grid;

        // 상품 관리 리스트(그리드)
        const prdList = new Grid({
          el: document.getElementById("prdList"),
          rowHeaders: ["checkbox", "rowNum"],
          bodyHeight: 430,
          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
            {
              header: "상품ID",
              name: "prdtId",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "대분류",
              name: "lcatId",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "소분류",
              name: "scatId",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품명",
              name: "prdtNm",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품가격",
              name: "prdtPrc",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "판매상태",
              name: "saleSt",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "등록일자",
              name: "regDt",
              align: "center",
              sortingType: "asc",
              sortable: true,
              formatter: function (e) {
                return formattedDate(e.value);
              },
            },
          ],
        });

        // 상품 리스트
        $.ajax({
          url: "productList",
          success: function (data) {
            prdList.resetData(data);
          },
          error: function (reject) {
            console.log(reject);
          },
        });

        $(document).ready(function () {
          // summernote 등록페이지
          $("#summernote").summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: "ko-KR",
            placeholder: "상품설명, 이미지 넣어주세요",
            callbacks: {
              onImageUpload: function (files) {
                for (var i = files.length - 1; i >= 0; i--) {
                  uploadSummernoteImageFile(files[i], this);
                }
              },
            },
          });

          // summernote 상세조회페이지
          $("#summernoteDetail").summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: "ko-KR",
            placeholder: "상품설명, 이미지 넣어주세요",
            callbacks: {
              onImageUpload: function (files) {
                for (var i = files.length - 1; i >= 0; i--) {
                  uploadSummernoteImageFile(files[i], this);
                }
              },
            },
          });
        });

        // 이미지 업로드(summernote)
        function uploadSummernoteImageFile(file, editor) {
          let formData = new FormData();
          formData.append("uploadfile", file);

          $.ajax({
            data: formData,
            type: "POST",
            url: "/uploadFile",
            contentType: false,
            processData: false,
            success: function (data) {
              $(editor).summernote("insertImage", data);
            },
            error: function (reject) {
              console.log(reject);
            },
          });
        }

        // 상품 등록
        $(document).on("click", "#insertBtn", function () {
          let formData = new FormData();
          let optionChk = $("input[name=option]:checked").val();
          let chk = true;

          if (optionChk === "사용함") {
            let option = [];

            let optionInput = $(".optionInput");
            for (let i = 0; i < optionInput.length; i++) {
              let name = $(".optionNm").eq(i).val();
              let obj = {
                optNm: name,
                optionVal: [],
              };

              option.push(obj);

              let values = $(".optionVal").eq(i);
              let prices = $(".optionPrc").eq(i);
              for (let j = 0; j < values.length; j++) {
                let valueArr = values.eq(j).val().split(",");
                let priceArr = prices.eq(j).val().split(",");
                if (valueArr.length != priceArr.length) {
                  Swal.fire({
                    icon: "error",
                    title: "옵션 값과 추가 가격이 일치 하지 않습니다.",
                  });
                  chk = false;
                  return;
                }

                for (let k = 0; k < valueArr.length; k++) {
                  let detailObj = {
                    optDetaNm: valueArr[k].trim().toUpperCase(),
                    addPrc: parseInt(priceArr[k].trim()),
                  };

                  obj.optionVal.push(detailObj);
                }
              }
            }
            formData.append("option", JSON.stringify(option));
          }

          if (chk === false) {
            return;
          }

          // formData string 파라미터 담기
          let prdtNm = $("#prdtNm").val();
          let prdtPrc = $("#prdtPrc").val();
          let code = $("#summernote").summernote("code");
          let sCatId = $("input[name=sCatId]:checked").val();
          let lCatId = $("input[name=lCatId]:checked").val();
          let saleSt = $("input[name=saleSt]:checked").val();
          let upimg = $("#img").get(0).files;
          let mainImg = $("#imgMain").get(0).files;

          if (prdtNm === "") {
            $("#prdtNm").focus();
            Swal.fire({
              icon: "warning",
              title: "상품명을 입력해주세요.",
            });
            return;
          }

          if (prdtPrc === "") {
            $("#prdtPrc").focus();
            Swal.fire({
              icon: "warning",
              title: "판매가를 입력해주세요",
            });
            return;
          }

          if (typeof lCatId === "undefined") {
            Swal.fire({
              icon: "warning",
              title: "대분류를 선택해주세요.",
            });
            return;
          }

          if (typeof sCatId === "undefined") {
            Swal.fire({
              icon: "warning",
              title: "소분류를 선택해주세요.",
            });
            return;
          }

          if (typeof optionChk === "undefined") {
            Swal.fire({
              icon: "warning",
              title: "상품옵션을 선택해주세요.",
            });
            return;
          }

          if (mainImg.length < 1) {
            Swal.fire({
              icon: "warning",
              title: "메인 이미지를 입력해주세요",
            });
            return;
          }

          if (upimg.length < 1) {
            Swal.fire({
              icon: "warning",
              title: "이미지를 입력해주세요.",
            });
            return;
          }

          if (typeof saleSt === "undefined") {
            Swal.fire({
              icon: "warning",
              title: "판매상태를 선택해주세요.",
            });
            return;
          }

          formData.append("prdtNm", prdtNm);
          formData.append("prdtPrc", prdtPrc);
          formData.append("prdtDesct", code);
          formData.append("sCatId", sCatId);
          formData.append("lCatId", lCatId);
          formData.append("saleSt", saleSt);

          // 대표 이미지 담기
          formData.append("imgMain", mainImg[0]);

          // 일반 이미지 담기
          for (let i = 0; i < upimg.length; i++) {
            formData.append("img", upimg[i]);
          }

          Swal.fire({
            title: "등록하시겠습니까?",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "등록",
            cancelButtonText: "취소",
          }).then((result) => {
            if (result.value) {
              $.ajax({
                url: "insertPrd",
                method: "POST",
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                  if (result === "success") {
                    location.reload();
                  }
                },
                error: function (reject) {
                  console.error(reject);
                },
              });
            }
          });
        });

        // 상품 삭제
        $(document).on("click", "#delBtn", function () {
          let selectedRows = prdList.getCheckedRows();

          if (selectedRows.length < 1) {
            Swal.fire({
              icon: "warning",
              title: "체크 해주세요",
            });
            return;
          }

          Swal.fire({
            title: "삭제 하시겠습니까?",
            text: "복구 할 수 없습니다.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "삭제",
            cancelButtonText: "취소",
          }).then((result) => {
            if (result.value) {
              $.ajax({
                url: "productDel",
                method: "post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(selectedRows),
                success: function (result) {
                  selectedRows.forEach((row) => {
                    prdList.removeRow(row.rowKey);

                    let Toast = Swal.mixin({
                      toast: true,
                      position: "top",
                      showConfirmButton: false,
                      timer: 1500,
                      timerProgressBar: true,
                      didOpen: (toast) => {
                        toast.addEventListener("mouseenter", Swal.stopTimer);
                        toast.addEventListener("mouseleave", Swal.resumeTimer);
                      },
                    });
                    Toast.fire({
                      icon: "success",
                      title: "삭제가 정상적으로 되었습니다.",
                    });
                  });
                },
                error: function (reject) {
                  console.log(reject);
                },
              });
            }
          });
        });

        // 상품 상세조회
        prdList.on("dblclick", (e) => {
          const rowData = prdList.getRow(e.rowKey);
          let prdtId = rowData.prdtId;
          $.ajax({
            url: "productDetail",
            data: { prdtId: prdtId },
            success: function (result) {
              console.log(result);
              $("#prdtNmDetail").val(result.product.prdtNm);
              $("#prdtPrcDetail").val(result.product.prdtPrc);
              $("#summernoteDetail").summernote(
                "code",
                result.product.prdtDesct
              );
              $(
                "#detailModal input[type='radio'][value='" +
                  result.product.lcatId +
                  "']"
              ).prop("checked", true);
              $(
                "#detailModal input[type='radio'][value='" +
                  result.product.saleSt +
                  "']"
              ).prop("checked", true);

              let sCatList = $("#sCatListDetail");
              sCatList.empty(); // 이전에 생성된 라디오박스들을 모두 제거

              // 소분류 조회
              $.each(result.sCatList, function (index, value) {
                let radioBtn =
                  '<div class="form-check form-check-inline">' +
                  '<input class="form-check-input" type="radio" name="sCatId" value="' +
                  value.scatId +
                  '" id="' +
                  value.scatId +
                  '">' +
                  '<label class="form-check-label" for="' +
                  value.scatId +
                  '">' +
                  value.scatNm +
                  "</label>" +
                  "</div>";
                sCatList.append(radioBtn);
              });
              $(
                "#detailModal input[type='radio'][value='" +
                  result.product.scatId +
                  "']"
              ).prop("checked", true);

              $("#optionDetail").empty();
              // 옵션 조회
              $.each(result.optionList, function (index, value) {
                // 새로운 row 생성
                const newRow = $("<div>").addClass("row mb-4");

                // 옵션 이름 입력 폼 생성
                const label1 = $("<label>")
                  .addClass("col-sm-2 col-form-label fw-bolder text-center")
                  .text("옵션 이름");
                const input1 = $("<input>")
                  .addClass("form-control")
                  .val(value.optNm);
                const div1 = $("<div>").addClass("col-sm-4").append(input1);

                // 옵션 값 및 추가 가격 입력 폼 생성
                $.each(result.optionDetailList, function (index, item) {
                  if (value.optId == item.optId) {
                    console.log(item);
                    // 옵션 값 입력 폼 생성
                    const label2 = $("<label>")
                      .addClass("col-sm-2 col-form-label fw-bolder text-center")
                      .text("옵션 값");
                    const input2 = $("<input>")
                      .addClass("form-control")
                      .attr("placeholder", "콤마(,)로 구분해주세요")
                      .val(item.optDetaNm);
                    const div2 = $("<div>").addClass("col-sm-4").append(input2);

                    // 추가 가격 입력 폼 생성
                    const label3 = $("<label>")
                      .addClass("col-sm-2 col-form-label fw-bolder text-center")
                      .text("추가 가격");
                    const input3 = $("<input>")
                      .addClass("form-control")
                      .attr("placeholder", "콤마(,)로 구분해주세요")
                      .val(item.addPrc);
                    const div3 = $("<div>").addClass("col-sm-4").append(input3);

                    // row에 폼 추가
                    newRow.append(label1, div1, label2, div2, label3, div3);
                  }
                });

                // optionDetail에 row 추가
                $("#optionDetail").append(newRow);
              });

              // 이미지 목록 초기화
              $("#imgDetail").empty();
              $("#imgMainDetail").attr("src", "");

              result.imgList.forEach(function (item, idx) {
                let imgSrc = "download/" + item.prdtImg;
                if (item.isMain === "Y") {
                  $("#imgMainDetail").attr("src", imgSrc).css("width", "300px");
                } else {
                  let imgElem = $("<img>").attr("src", imgSrc).css({
                    width: "300px",
                    "margin-right": "10px",
                  });
                  $("#imgDetail").append(imgElem);
                  $("#imgDetail").append("<p>");
                }
              });

              // $("#test").html(result.prdtDesct);
            },
            error: function (reject) {
              console.log(reject);
            },
          });

          $("#detailModal").modal("show");
        });

        // 날짜 변환
        function formattedDate(timestamp) {
          let date = new Date(timestamp);
          let year = date.getFullYear();
          let month = String(date.getMonth() + 1).padStart(2, "0");
          let day = String(date.getDate()).padStart(2, "0");
          let formattedDate = year + "-" + month + "-" + day;
          return formattedDate;
        }
      </script>
    </div>
  </body>
</html>
