<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <div layout:fragment="content">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">상품 관리</h5>
                <div class="col-lg-12 p-4">
                  <table class="table table-bordered">
                    <tr class="table-primary">
                      <td colspan="3">상품 현황</td>
                    </tr>
                    <tr class="table-secondary text-center">
                      <td>전체등록 상품</td>
                      <td>판매중 상품</td>
                      <td>판매중지 상품</td>
                    </tr>
                    <tr class="text-center">
                      <td class="text-primary text-decoration-underline fs-3">
                        <span th:text="${prdAllCnt}"></span>개
                      </td>
                      <td class="text-success text-decoration-underline fs-3">
                        <span th:text="${saleCnt}"></span>개
                      </td>
                      <td class="text-danger text-decoration-underline fs-3">
                        <span th:text="${stopSaleCnt}"></span>개
                      </td>
                    </tr>
                  </table>
                </div>
                <hr />
                <form>
                  <div class="row mb-3 pt-5">
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >상품명</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >유형</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >등록일자</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>

                    <label class="col-sm-1 col-form-label fw-bolder text-center"
                      >상품상태</label
                    >
                    <div class="col-sm-5">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="text-center p-4">
                    <button type="button" class="btn btn-primary">검색</button>
                    <button type="button" class="btn btn-secondary">
                      초기화
                    </button>
                  </div>
                </form>
                <div class="text-end p-2">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#insertModal"
                  >
                    등록
                  </button>
                </div>
                <div id="prdList"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="test"></div>
      <div
        class="modal fade"
        id="insertModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">상품 등록</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품명</label
                >
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="prdtNm" />
                </div>
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매가</label
                >
                <div class="col-sm-4">
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="prdtPrc"
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품설명</label
                >
                <form>
                  <textarea id="summernote" name="editordata"></textarea>
                </form>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품분류(대)</label
                >
                <div class="col-sm-6 mt-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="lCatId"
                      value="고양이"
                      id="Radio1"
                    />
                    <label class="form-check-label" for="Radio1">고양이</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="lCatId"
                      value="강아지"
                      id="Radio2"
                    />
                    <label class="form-check-label" for="Radio2">강아지</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품분류(소)</label
                >
                <div class="col-sm-6 mt-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="sCatId"
                      value="사료"
                      id="inlineRadio1"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >사료</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="sCatId"
                      value="간식"
                      id="inlineRadio2"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >간식</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="sCatId"
                      value="장난감"
                      id="inlineRadio3"
                    />
                    <label class="form-check-label" for="inlineRadio3"
                      >장난감</label
                    >
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >상품옵션</label
                >
                <div class="col-sm-4">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >이미지</label
                >
                <div class="col-sm-6">
                  <input type="file" class="form-control" id="img" multiple />
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label fw-bolder text-center"
                  >판매상태</label
                >
                <div class="col-sm-6 mt-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="saleSt"
                      id="saleCheck"
                      value="판매함"
                    />
                    <label class="form-check-label" for="saleCheck"
                      >판매함</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="saleSt"
                      id="stopCheck"
                      value="판매안함"
                    />
                    <label class="form-check-label" for="stopCheck"
                      >판매안함</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                닫기
              </button>
              <button type="button" class="btn btn-primary" id="insertBtn">
                등록
              </button>
            </div>
          </div>
        </div>
      </div>
      <script>
        const Grid = tui.Grid;

        // 상품 관리 리스트(그리드)
        const prdList = new Grid({
          el: document.getElementById("prdList"),
          rowHeaders: ["checkbox", "rowNum"],
          bodyHeight: 430,
          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
            {
              header: "상품ID",
              name: "prdtId",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품명",
              name: "prdtNm",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품가격",
              name: "prdtPrc",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "판매상태",
              name: "saleSt",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "등록일자",
              name: "regDt",
              align: "center",
              sortingType: "asc",
              sortable: true,
              formatter: function (e) {
                return formattedDate(e.value);
              },
            },
          ],
        });

        // 상품 리스트
        $.ajax({
          url: "productList",
          success: function (data) {
            prdList.resetData(data);
          },
          error: function (reject) {
            console.log(reject);
          },
        });

        $(document).ready(function () {
          // summernote
          $("#summernote").summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: "ko-KR",
            placeholder: "최대 2048자까지 쓸 수 있습니다",
            callbacks: {
              onImageUpload: function (files) {
                console.log(files);
                for (var i = files.length - 1; i >= 0; i--) {
                  uploadSummernoteImageFile(files[i], this);
                }
              },
            },
          });
        });

        // 이미지 업로드
        function uploadSummernoteImageFile(file, editor) {
          let formData = new FormData();
          formData.append("uploadfile", file);

          $.ajax({
            data: formData,
            type: "POST",
            url: "/uploadFile",
            contentType: false,
            processData: false,
            success: function (data) {
              console.log(data);
              $(editor).summernote("insertImage", data);
            },
            error: function (reject) {
              console.log(reject);
            },
          });
        }

        // 상품 등록
        $(document).on("click", "#insertBtn", function () {
          let prdtNm = $("#prdtNm").val();
          let prdtPrc = $("#prdtPrc").val();
          let code = $("#summernote").summernote("code");
          let sCatId = $("input[name=sCatId]:checked").val();
          let lCatId = $("input[name=lCatId]:checked").val();
          let saleSt = $("input[name=saleSt]:checked").val();
          let upimg = $("#img").get(0).files;

          console.log(prdtNm);
          console.log(prdtPrc);
          console.log(code);
          console.log(sCatId);
          console.log(lCatId);
          console.log(saleSt);
          console.log(upimg);

          for (let i = 0; i < upimg.length; i++) {
            let a = uploadSummernoteImageFile(upimg[i]);
            console.log(a);
          }
          Swal.fire({
            title: "등록하시겠습니까?",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "등록",
            cancelButtonText: "취소",
          }).then((result) => {
            if (result.value) {
              $.ajax({
                url: "insertPrd",
                method: "POST",
                data: {
                  prdtNm: prdtNm,
                  prdtPrc: prdtPrc,
                  sCatId: sCatId,
                  lCatId: lCatId,
                  saleSt: saleSt,
                  prdtDesct: code,
                },
                success: function (result) {
                  console.log(result);
                  location.reload();
                },
                error: function (reject) {
                  console.error(reject);
                },
              });
            }
          });
        });

        // 상품 상세 조회
        $.ajax({
          url: "productDetail",
          success: function (result) {
            console.log(result);
            // $("#test").html(result.prdtDesct);
          },
          error: function (reject) {
            console.log(reject);
          },
        });

        // 날짜 변환
        function formattedDate(timestamp) {
          let date = new Date(timestamp);
          let year = date.getFullYear();
          let month = String(date.getMonth() + 1).padStart(2, "0");
          let day = String(date.getDate()).padStart(2, "0");
          let formattedDate = year + "-" + month + "-" + day;
          return formattedDate;
        }
      </script>
    </div>
  </body>
</html>
