<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pettopia</title>
    <style>
      .thColor th {
        background-color: #f6f6f6;
      }
      .highlight {
        font-weight: bold;
        color: red;
        cursor: pointer;
      }
      .date-input {
        width: 250px;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="content">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">QnA 관리</h5>
                <div class="col-lg-12 p-4">
                  <table class="table table-bordered">
                    <tr class="table-primary">
                      <td colspan="3">답변 현황</td>
                    </tr>
                    <tr class="table-secondary text-center">
                      <td>답변대기</td>
                      <td>답변완료</td>
                    </tr>
                    <tr class="text-center" id="currentSt">
                      <td class="text-primary fs-3">
                        <span th:text="${cnt.qstStCnt1}">0</span>개
                      </td>
                      <td class="text-success fs-3">
                        <span th:text="${cnt.qstStCnt2}">0</span>개
                      </td>
                    </tr>
                  </table>
                </div>
                <hr />
                <table class="table table-borderless mt-5">
                  <tbody>
                    <tr>
                      <th class="text-center col-sm-1" scope="row">작성자</th>
                      <td class="col-sm-4">
                        <input type="text" class="form-control" id="name" />
                      </td>

                      <th class="text-center col-sm-1" scope="row">상품명</th>
                      <td class="col-sm-4">
                        <input type="text" class="form-control" id="prdtNm" />
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center col-sm-1" scope="row">등록일</th>
                      <td class="col-sm-10" colspan="3">
                        <div class="d-flex align-items-center">
                          <div class="btn-group me-4">
                            <button
                              type="button"
                              class="btn btn-outline-primary square-button"
                              id="1"
                            >
                              오늘
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-primary square-button"
                              id="7"
                            >
                              1주일
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-primary square-button"
                              id="30"
                            >
                              1개월
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-primary square-button"
                              id="90"
                            >
                              3개월
                            </button>
                          </div>
                          <div class="d-flex align-items-center">
                            <input
                              type="date"
                              class="form-control date-input"
                              id="startDate"
                            />
                            <span class="mx-2">~</span>
                            <input
                              type="date"
                              class="form-control date-input"
                              id="endDate"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center col-sm-1" scope="row">문의상태</th>
                      <td class="col-sm-4" id="qstStTable">
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="selectAll"
                              name="selectAll"
                            />
                            <label class="form-check-label" for="selectAll"
                              >전체</label
                            >
                          </div>
                          <div
                            class="form-check me-3"
                            th:each="qstSt : ${code.QS}"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="chk"
                              th:value="${qstSt.codCd}"
                              th:id="${qstSt.codCd}"
                            />
                            <label
                              class="form-check-label"
                              th:for="${qstSt.codCd}"
                              th:text="${qstSt.codTitle}"
                              >판매중</label
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="text-center pb-5">
                  <button type="button" class="btn btn-primary" id="searchBtn">
                    검색
                  </button>
                  <button type="button" class="btn btn-secondary" id="resetBtn">
                    초기화
                  </button>
                </div>
                <div class="text-end p-2">
                  <button type="button" class="btn btn-success" id="excelBtn">
                    Excel
                  </button>
                </div>
                <div id="qnaList"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 상세조회 모달 -->
      <div
        class="modal fade"
        id="detailModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">QnA 상세조회</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="my-4">
                <table class="table">
                  <colgroup>
                    <col width="20%" />
                    <col width="80%" />
                  </colgroup>

                  <tr class="thColor">
                    <th>상품ID</th>
                    <td id="detailPrdtId"></td>
                  </tr>
                  <tr class="thColor">
                    <th>상품명</th>
                    <td id="detailPrdtNm"></td>
                  </tr>
                  <tr class="thColor">
                    <th>작성자</th>
                    <td id="detailName"></td>
                  </tr>
                  <tr class="thColor">
                    <th>제목</th>
                    <td id="detailTitle"></td>
                  </tr>
                  <tr class="thColor">
                    <th>대표 이미지</th>
                    <td><img id="detailImg" /></td>
                  </tr>
                  <tr class="thColor">
                    <th>내용</th>
                    <td>
                      <form>
                        <textarea id="summernote" name="editordata"></textarea>
                      </form>
                      <textarea
                        class="form-control"
                        id="detailContent"
                        style="display: none"
                        cols="60"
                        rows="10"
                        readonly
                      ></textarea>
                    </td>
                  </tr>
                </table>
                <hr />
                <div class="my-4">
                  <div id="app">
                    <h4>
                      <span
                        @click="answer = true"
                        :class="{ 'highlight': answer }"
                        style="cursor: pointer"
                        >답변 쓰기</span
                      >
                      /
                      <span
                        @click="answer = false"
                        :class="{ 'highlight': !answer }"
                        style="cursor: pointer"
                        >내 답변</span
                      >
                    </h4>
                    <div v-show="answer">
                      <button
                        type="button"
                        class="btn btn-success float-end my-2"
                        id="insertBtn"
                      >
                        작성
                      </button>
                      <textarea
                        class="form-control"
                        id="detailAns"
                        cols="60"
                        rows="5"
                        placeholder="입력해주세요"
                      ></textarea>
                    </div>
                    <div v-show="!answer">
                      <div id="replys"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                닫기
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ==========================ckeditor========================== -->
      <!-- <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/super-build/ckeditor.js"></script>
      <script type="text/javascript" src="CKeditorSuperBuild2.js"></script> -->
      <script>
        // Vue
        const app = Vue.createApp({
          data() {
            return {
              answer: true,
              isCurrentUser: false,
            };
          },
          methods: {
            setAnswer(value) {
              this.answer = value;
            },
          },
          mounted() {
            const currentUser = GetUser();
            const writer = "작성자 아이디";
            this.isCurrentUser = currentUser === writer;
          },
        });

        const vm = app.mount("#app");

        const Grid = tui.Grid;

        // 상품 관리 리스트(그리드)
        const qnaList = new Grid({
          el: document.getElementById("qnaList"),
          rowHeaders: ["rowNum"],
          scrollX: false,
          scrollY: false,
          bodyHeight: 430,
          pageOptions: {
            useClient: true,
            perPage: 10,
          },
          columns: [
            {
              header: "작성자",
              name: "name",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품ID",
              name: "prdtId",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "상품명",
              name: "prdtNm",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "제목",
              name: "title",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "문의상태",
              name: "qstStatus",
              align: "center",
              sortingType: "asc",
              sortable: true,
            },
            {
              header: "등록일자",
              name: "regDt",
              align: "center",
              sortingType: "asc",
              sortable: true,
              formatter: function (e) {
                return formattedDate(e.value);
              },
            },
          ],
        });

        // qna 리스트
        function qnaListAjax() {
          $.ajax({
            url: "qnaList",
            success: function (data) {
              qnaList.resetData(data);
            },
            error: function (reject) {
              console.log(reject);
            },
          });
        }
        qnaListAjax();

        $(document).ready(function () {
          let qstNo;
          let rowKey;
          // 더블클릭시 상세 조회
          qnaList.on("dblclick", (e) => {
            let rowData = qnaList.getRow(e.rowKey);
            qstNo = rowData.qstNo;
            rowKey = rowData.rowKey;
            $("#detailPrdtId").text(rowData.prdtId);
            $("#detailPrdtNm").text(rowData.prdtNm);
            $("#detailName").text(rowData.name);
            $("#detailTitle").text(rowData.title);
            $("#detailImg")
              .attr("src", "download/" + rowData.qstImg)
              .css("width", "400px");
            $("#detailContent").val(rowData.content);
            // editor.setData(rowData.content);
            $("#summernote").summernote("code", rowData.content);

            // 내가 쓴 답글 조회
            $.ajax({
              url: "selectAnswer",
              data: { boNo: qstNo },
              success: function (result) {
                $("#replys").empty();
                result.forEach(function (value) {
                  comment(value);
                });
              },
              error: function (reject) {
                console.log(reject);
              },
            });

            $("#detailModal").modal("show");
          });

          // 답변 작성
          $(document).on("click", "#insertBtn", function () {
            let subject = $("#detailAns").val();

            if ($("#detailAns").val() === "") {
              $("#detailAns").focus();
              Swal.fire({
                icon: "warning",
                title: "작성 해주세요",
              });
              return;
            }
            let meId = GetUser();
            Swal.fire({
              title: "작성 하시겠습니까?",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "등록",
              cancelButtonText: "취소",
            }).then((result) => {
              if (result.value) {
                $.ajax({
                  url: "qnaAnswer",
                  method: "post",
                  data: {
                    meId: meId,
                    subject: subject,
                    boNo: qstNo,
                    qstNo: qstNo,
                  },
                  success: function (result) {
                    $("#replys").empty();
                    result.answerList.forEach(function (value) {
                      comment(value);
                    });
                    vm.setAnswer(false);
                    $("#detailAns").val("");
                    qnaList.setRow(rowKey, result.qnaList);
                    $("#currentSt td:first-child span").text(
                      result.cnt.qstStCnt1
                    );
                    $("#currentSt td:last-child span").text(
                      result.cnt.qstStCnt2
                    );
                  },
                  error: function (reject) {
                    console.log(reject);
                  },
                });
              }
            });
          });

          // 수정 누르면 textarea로 바뀜
          $(document).on("click", ".changeBtn", function (e) {
            let btn = $(e.target);
            btn.removeClass("changeBtn").addClass("updBtn");
            btn.text("수정 완료");

            let parentDiv = btn.closest("div");
            let text = parentDiv.find(".Viewer").text();

            let textarea = $("<textarea>")
              .addClass("form-control")
              .val(text)
              .attr("rows", "5")
              .attr("placeholder", "수정 내용을 입력해주세요");

            parentDiv.find(".Viewer").replaceWith(textarea);
          });

          // 수정 버튼
          $(document).on("click", ".updBtn", function (e) {
            let subject = $(this).closest("div").find("textarea").val();
            let commentId = $(this).closest("div").find(".commentId").val();

            $.ajax({
              url: "updComment",
              method: "post",
              data: { commentId: commentId, subject: subject },
              success: function (result) {
                if (result === "success") {
                  let btn = $(e.target);
                  btn.removeClass("updBtn").addClass("changeBtn");
                  btn.text("수정");

                  let parentDiv = btn.closest("div");
                  let textarea = parentDiv.find("textarea");

                  let text = textarea.val();
                  let viewer = $("<div>").addClass("Viewer").text(text);

                  textarea.replaceWith(viewer);

                  Swal.fire({
                    icon: "success",
                    title: "수정 되었습니다.",
                  });
                }
              },
              error: function (reject) {
                console.log(reject);
              },
            });
          });

          //삭제버튼
          $(document).on("click", ".delBtn", function (e) {
            let div = e.target.closest("div");
            let commentId = $(this).closest("div").find(".commentId").val();

            $.ajax({
              url: "delComment",
              method: "post",
              data: { commentId: commentId },
              success: function (result) {
                if (result === "success") {
                  div.remove();
                  Swal.fire({
                    icon: "success",
                    title: "삭제 되었습니다.",
                  });
                }
              },
              error: function (reject) {
                console.log(reject);
              },
            });
          });

          // 검색기능
          $(document).on("click", "#searchBtn", function () {
            let name = $("#name").val();
            let prdtNm = $("#prdtNm").val();
            let startDate = $("#startDate").val();
            let endDate = $("#endDate").val();
            let qstSt = [];
            $("#qstStTable input:checkbox[name=chk]:checked").map(function () {
              qstSt.push($(this).val());
            });

            $.ajax({
              url: "searchQna",
              data: {
                name: name,
                prdtNm: prdtNm,
                regDt: startDate,
                endDt: endDate,
                searchQstSt: qstSt,
              },
              success: function (result) {
                qnaList.resetData(result);
              },
              error: function (reject) {
                console.log(reject);
              },
            });
          });

          // 초기화
          $(document).on("click", "#resetBtn", function () {
            let name = $("#name").val("");
            let prdtNm = $("#prdtNm").val("");
            let startDate = $("#startDate").val("");
            let endDate = $("#endDate").val("");
            $("#qstStTable input:checkbox[name=chk]:checked").prop(
              "checked",
              false
            );
            $("#selectAll:checked").prop("checked", false);

            qnaListAjax();
          });

          // 엔터키를 눌렀을 때 검색 버튼 클릭 이벤트 실행
          $("#name, #prdtNm, #startDate, #endDate, #1, #7, #30, #90").on(
            "keypress",
            function (event) {
              if (event.which === 13) {
                event.preventDefault();
                $("#searchBtn").click();
              }
            }
          );

          //엑셀버튼 클릭 이벤트
          const options = {
            includeHiddenColumns: true,
            onlySelected: true,
            fileName: "qnaExport",
          };

          //엑셀버튼을 누르면 해당되는 발주상세목록을 엑셀로 만들어준다
          $("#excelBtn").on("click", function () {
            Swal.fire({
              title: "엑셀파일로 받아보시겠습니까?",
              text: "원하지 않는다면 취소를 눌러주세요",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "확인",
              cancelButtonText: "취소",
            }).then((result) => {
              if (result.isConfirmed) {
                qnaList.export("xlsx", options);
              }
            });
          });

          // 전체 체크박스 선택 시 모든 체크박스 선택(문의상태)
          $("#selectAll").change(function () {
            $("#qstStTable input:checkbox").prop(
              "checked",
              $(this).prop("checked")
            );
          });

          $("input[name='chk']").change(function () {
            if (!$(this).prop("checked")) {
              $("#selectAll").prop("checked", false);
            } else if (
              $("#qstStTable input[name='chk']:not(:checked)").length === 0
            ) {
              $("#selectAll").prop("checked", true);
            }
          });

          let date = new Date();
          //기간버튼-------------------------------
          $("#1").on("click", () => {
            start_date_change = document.getElementById("startDate").value =
              formattedDate(date);
            end_date_change = document.getElementById("endDate").value =
              formattedDate(date);
          });

          $("#7").on("click", () => {
            //console.log(lastWeek());
            start_date_change = document.getElementById("startDate").value =
              lastWeek();
            end_date_change = document.getElementById("endDate").value =
              formattedDate(date);
          });

          $("#30").on("click", () => {
            //console.log(lastMonth());
            start_date_change = document.getElementById("startDate").value =
              lastMonth();
            end_date_change = document.getElementById("endDate").value =
              formattedDate(date);
          });

          $("#90").on("click", () => {
            //console.log(threeMonth());
            start_date_change = document.getElementById("startDate").value =
              threeMonth();
            end_date_change = document.getElementById("endDate").value =
              formattedDate(date);
          });
        });

        // 내 답변 출력
        function comment(value) {
          // HTML 요소를 동적으로 생성
          let div = $("<div>").addClass("mb-4 px-4 py-3 border");
          let h6 = $("<h6>");
          let input = $("<input>")
            .val(value.commentId)
            .addClass("commentId")
            .css("display", "none");
          div.append(input);

          // 작성자 정보 추가
          let spanAuthor = $("<span>").text("작성자: " + value.meId);
          h6.append(spanAuthor);

          // 작성일 정보 추가
          let spanDate = $("<span>").text(
            " / 작성일: " + formattedDateToast(value.regDt)
          );
          h6.append(spanDate);

          // 삭제 버튼 추가
          let spanDelete = $("<span>")
            .addClass("float-end")
            .addClass("delBtn")
            .text("/ 삭제")
            .css("cursor", "pointer");
          h6.append(spanDelete);

          // 수정 버튼 추가
          let spanEdit = $("<span>")
            .addClass("float-end")
            .addClass("changeBtn")
            .text("수정 ")
            .css("cursor", "pointer");
          h6.append(spanEdit);
          div.append(h6);

          // hr 요소 추가
          let hr = $("<hr>");
          div.append(hr);

          // 내용 추가
          let divViewer = $("<div>").addClass("Viewer").text(value.subject);
          div.append(divViewer);

          // 생성한 HTML 요소를 적절한 위치에 추가
          $("#replys").append(div);
        }
        // 날짜 변환(댓글)
        function formattedDateToast(timestamp) {
          let date = new Date(timestamp);
          let year = date.getFullYear();
          let month = String(date.getMonth() + 1).padStart(2, "0");
          let day = String(date.getDate()).padStart(2, "0");
          let hours = String(date.getHours()).padStart(2, "0");
          let minutes = String(date.getMinutes()).padStart(2, "0");
          let seconds = String(date.getSeconds()).padStart(2, "0");
          let formattedDate =
            year +
            "-" +
            month +
            "-" +
            day +
            " " +
            hours +
            ":" +
            minutes +
            ":" +
            seconds;
          return formattedDate;
        }

        // 날짜 변환
        function formattedDate(timestamp) {
          let date = new Date(timestamp);
          let year = date.getFullYear();
          let month = String(date.getMonth() + 1).padStart(2, "0");
          let day = String(date.getDate()).padStart(2, "0");
          let formattedDate = year + "-" + month + "-" + day;
          return formattedDate;
        }

        // 로그인 아이디 불러오기
        function GetUser() {
          $.ajax({
            url: "getUser",
            method: "GET",
            async: false,
            success: function (data) {
              result = data;
            },
            error: function (reject) {
              console.log(reject);
              result = null;
            },
          });
          return result;
        }

        //일주일전
        function lastWeek() {
          var d = new Date();
          var dayOfMonth = d.getDate();
          d.setDate(dayOfMonth - 7);
          return formattedDate(d);
        }
        //한달전
        function lastMonth() {
          var d = new Date();
          var monthOfYear = d.getMonth();
          d.setMonth(monthOfYear - 1);
          return formattedDate(d);
        }
        //세달전
        function threeMonth() {
          var d = new Date();
          var monthOfYear = d.getMonth();
          d.setMonth(monthOfYear - 3);
          return formattedDate(d);
        }
      </script>
    </div>
  </body>
</html>
