<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<html lang="ko" itemscope itemtype="http://schema.org/WebPage">
<head>
  <title>Pettopia</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/css.css" />

  <div layout:fragment="content">
    <style>
      .board_list .title {
        width: 50%;
      }

      .customBtn{
        width: 100px !important;
        font-size: 13px !important;
        height: 50px !important;
      }
      td img {
          width: 100px;
      }
      th, td {
        text-align: center;
      }
      td, tr, th{
        vertical-align: middle !important;
      }
      label{
        display: inline-block !important;
        margin-right: 10px;
      }

      select{
        width: 120px !important;
        padding: 5px !important;
      }
    </style>
</head>

<!--<class="animsition">-->
    <div class="container">
      
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
          Home
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4"> 분양게시판 </span>
      </div>
      
      <div class="row">
      <th:block th:replace="layout/boardNavbar :: boardNavFragment"></th:block>

      <div class="col-md-8 col-lg-10 p-b-150 m-t-50">

        <div class="board_title">
          <h1><span style="font-weight: bold; color: rgb(159, 204, 240);">| </span>분양게시판</h1>
        </div>
        <!--search-->
        <div style="width: 100%; margin-bottom: 20px !important;">
          <!--<div style="display: inline-block; width: 40%;">-->
            <label>
              동물선택 : 
              <select>
                <option>동물선택</option>
                <option>강아지</option>
                <option>고양이</option>
              </select>
            </label>
            <label>
              품종선택 : 
              <select>
                <option>품종선택</option>
                <option>치왕왕</option>
                <option>시바방</option>
              </select>
            </label>
            <label>
              지역선택 : 
              <select>
                <option>지역선택</option>
                <option>경상도</option>
                <option>충청도</option>
              </select>
            </label>
            <label>
              성별선택 : 
              <select>
                <option>성별선택</option>
                <option>남&녀</option>
                <option>남</option>
                <option>녀</option>
              </select>
            </label>

            <div id="rightSearch">
              <button type="button" class="btn btnPush btnLightBlue" style="margin: auto; width: 60px !important;" onclick="">검색</button>
            </div>
          <!--<div style="clear:both"></div>-->
          <!--<div style="float: right; width: 60%; margin-top: 10px; margin-bottom: 20px !important;">-->
            <!--<button type="button" class="btn btnPush btnLightBlue" style="float: right; margin: auto;"
              onclick="">검색</button>
            <input type="text" style="float: right; width: 250px; margin-right: 10px;" id="keyword">-->
          <!--</div>--> <!--end search-->
        </div>

        <div style="margin-bottom: 10px; text-align: end">
          <div class="board_list_wrap">
            <table class="table">
              <colgroup>
                <col width="10%">
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="25%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
              </colgroup>
              <thead>
                <tr>
                  <th>분양여부</th>
                  <th>이미지</th>
                  <th>품종</th>
                  <th>종류</th>
                  <th>제목</th>
                  <th>구분</th>
                  <th>분양지역</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody id="lists">
                <tr>
                  <td>미분양</td>
                  <td><img src="images/about-01.jpg"></td>
                  <td>강아지</td>
                  <td>치왕왕</td>
                  <td>
                    <div style="text-align: left;">
                      <div style="margin-bottom: 10px;"><p style="font-size: 16px;">제목제목제목</p></div>
                    </div>
                  </td>
                  <td>남아</td>
                  <td>경상도</td>
                  <td>10/18</td>
                </tr>
              </tbody>
            </table>
          <!--paging-->
          <div class="board_page" id="pagenav"></div>
        </div>
      </div> <!-- end div class="board_wrap"-->

        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
          <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
          </span>
        </div>
      </div>
    </div>
    
    <script>
      loginOnly()
      function loginOnly() {
        let Uid = GetUser();
        if (Uid != "" && Uid != null) {
          console.log(GetUser())
          bt_warp.innerHTML = `<div style="margin:0 auto; display:inline-block;">
                                  <button type="button" onclick="location.href='knowHowWriter'" class="btn btnPush btnBlueGreen customBtn">
                                    등록
                                  </button>
                              </div>`
        }
      }

      //날짜 변환함수
      function dateChange(data) {
        if (data != null && data != 0) {
          let newData = new Date(data);
          let result = newData.getFullYear() + "-" +
            (newData.getMonth() < 10
              ? "0" + (newData.getMonth() + 1)
              : newData.getMonth() + 1) +
            "-" + (newData.getDate() < 10 ? "0" + newData.getDate() : newData.getDate()) + " " + newData.getHours() + ":" + newData.getMinutes();
          return result;
        }
        else return null;
      };
    </script>
  </div>
  </body>
</html>
</html>