<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{../templates/layout}">
 -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div layout:fragment="content">
    <div id="container">
      <input id="no" placeholder="NO">
      <button onclick="showArticle()">게시물조회</button>
      <div id="contents"></div>
    </div>


    <!-- ==========================ckeditor========================== -->
    <script type="text/javascript" src="CKeditorSuperBuild.js"></script>
    <!-- ==========================ckeditor END======================= -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script> <!-- j쿼리 -->
    <script>

      function showArticle() {
        $.ajax({
          url: "show",
          method: "POST",
          async: false,
          dataType: "JSON",
          data: { no: no.value },
          success: function (data) {
            console.log(data);
            contents.innerHTML = data.contents;
          },
          error: function (reject) {
            console.log(reject);
            alert("에러");
          },
        })
      }

    </script>
  </div>

</body>



</html>