<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{../templates/layout}">


<head>
  <title>글작성</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div layout:fragment="content">
    <!-- 기본 boothstrap으로 다시 덮어씌울거야~~ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 기본 boothstrap으로 다시 덮어씌울거야~~ -->
    <div id="container">
      <div id="boNo" th:text="${Article.boNo}"></div>
      <div class="form-group">
        <div class="row">
          <div class="bg0 p-t-100 p-b-85 m-lr-auto col-lg-8">
            <h2>지식공유게시판</h2>
            <div class="col-lg-8 col-xl-12 m-lr-auto m-b-50 p-t-20 p-b-50 border">
              <h4 th:text="${Article.title}"></h4>
              <hr>
              <span th:text="|작성자: ${Article.meId} / 작성일:${Article.regDt} / 글번호:${Article.boNo}|"></span>
              <hr>
              <div id="Viewer" th:utext="${ Article.subject }">
              </div>
              <hr>
            </div>
            <div class="col-lg-8 col-xl-12 m-lr-auto m-b-50 p-t-20 p-b-50 border">
              <h4 th:text="댓글"></h4>
              <hr>
              <div id="replys">

              </div>

            </div>
          </div>
        </div>
      </div>

      <script src="vendor/jquery/jquery-3.2.1.min.js"></script> <!-- j쿼리 -->
      <script>
      </script>
    </div>
    <script>
      getReply();
      function getReply() {
        $.ajax({
          url: "getknowHowReply",
          method: "Get",
          async: false,
          dataType: "JSON",
          data: { boNo: boNo.innerText },
          success: function (data) {
            console.log(data);
            replys.innerHTML = '';
            for (i = 0; i < data.length; i++) {
              replys.innerHTML +=
                `<div class="col-lg-6 col-xl-12 m-lr-auto m-b-50 p-t-20 p-b-50 border">
                <h5>작성자: ${data[i].meId} / 작성일:${data[i].regDt}</h5>
                <hr>
                <div class="Viewer">${data[i].subject}
                </div>
              </div>`
            }

          },
          error: function (reject) {
            console.log(reject);
            alert("에러");
          },
        })
      }
    </script>
  </div>

</body>



</html>