<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<html lang="ko" itemscope itemtype="http://schema.org/WebPage">
<head>
  <title>Pettopia</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/css.css" />

  <div layout:fragment="content">
    <style>
      .board_list .title {
        width: 50%;
      }

      .customBtn{
        width: 100px !important;
        font-size: 13px !important;
        height: 50px !important;
      }
    </style>
</head>

<!--<class="animsition">-->
    <div class="container">
      
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
          Home
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4"> 지식공유게시판 </span>
      </div>
      
      <div class="row">
      <th:block th:replace="layout/boardNavbar :: boardNavFragment"></th:block>

      <div class="col-md-8 col-lg-10 p-b-150 m-t-50">
        <div class="board_title">
          <h1><span style="font-weight: bold; color: rgb(159, 204, 240);">| </span>지식공유게시판</h1>
          <!--search-->
          <div style="display: inline-block; width: 70%; margin-top: 10px; margin-bottom: 20px !important;">
            <button type="button" class="btn btnPush btnLightBlue" style="display: inline-block;margin: auto;"
              onclick="setkeyword();">검색</button>
            <input type="text" style="display: inline-block; width: 30%; margin-right: 10px;" id="keyword">
          </div> <!--end search-->
        </div>
        <div style="clear:both"></div>
        <div style="margin-bottom: 10px; text-align: end">
          <div class="board_list_wrap">
            <div class="board_list">
              <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">작성자</div>
                <div class="date">작성일</div>
                <div class="count">조회</div>
              </div>
              <div id="lists"></div>
            </div>
            <!--paging-->
            <div class="board_page" id="pagenav"></div>
            <div class="bt_wrap" id="bt_warp"></div>
          </div>
        </div>
      </div> <!-- end div class="board_wrap"-->

        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
          <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
          </span>
        </div>
      </div>
    </div>
    
    <script>
      let NewKeyword = ''
      function setkeyword() {
        NewKeyword = keyword.value;
        showLists();
      }
      loginOnly()
      function loginOnly() {
        let Uid = GetUser();
        if (Uid != "" && Uid != null) {
          console.log(GetUser())
          bt_warp.innerHTML = `<div style="margin:0 auto; display:inline-block;">
                                  <button type="button" onclick="location.href='knowHowWriter'" class="btn btnPush btnBlueGreen customBtn">
                                    등록
                                  </button>
                              </div>`
          myboard.innerHTML += `<li class="p-b-7">
                                    <a href="mypost" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        내가 쓴 글보기
                                    </a>
                                </li>`
        }
      };

      showLists();
      function showLists(page) {
        if (page == null) {
          page = 1;
        }
        $.ajax({
          url: "knowhowList",
          method: "GET",
          async: false,
          dataType: "JSON",
          data: {
            page: page,
            keyword: NewKeyword
          },
          success: function (data) {
            console.log(data);
            lists.innerHTML = '';
            for (i = 0; i < data.length; i++) {
              lists.innerHTML += `
              <div class="num">${data[i].boNo}</div>
              <div class="title">
                <a href="#" onclick="openArticle(${data[i].boNo})">${data[i].title}</a>
              </div>
              <div class="writer">${data[i].meId}</div>
              <div class="date" >${dateChange(data[i].regDt)}</div>
              <div class="count">${data[i].viewCnt}</div>
              `
            }

          },
          error: function (reject) {
            console.log(reject);
            alert("에러");
          },
        })

        $.ajax({
          url: "knowHowMaxPage",
          method: "GET",
          async: false,
          data: {
            keyword: NewKeyword
          },
          success: function (data) {
            paging(data, 10, 5, page);

          },
          error: function (reject) {
            console.log(reject);
            alert("에러");
          },
        })

      }

      function openArticle(boNo) {
        $.ajax({
          url: "knowHowAddHit",
          method: "GET",
          async: false,
          data: {
            boNo: boNo
          },
          success: function (data) {
          },
          error: function (reject) {
          },
        })
        return window.open('showKnowHow?boNo=' + boNo,"board");
      }


      function paging(totalData, dataPerPage, pageCount, currentPage) {
        console.log("currentPage : " + currentPage);

        totalPage = Math.ceil(totalData / dataPerPage); //총 페이지 수

        if (totalPage < pageCount) {
          pageCount = totalPage;
        }

        let pageGroup = Math.ceil(currentPage / pageCount); // 페이지 그룹
        let last = pageGroup * pageCount; //화면에 보여질 마지막 페이지 번호

        if (last > totalPage) {
          last = totalPage;
        }

        let first = last - (pageCount - 1); //화면에 보여질 첫번째 페이지 번호
        let next = last + 1;
        let prev = first - 1;

        let pageHtml = pagenav.innerHTML;
        pagenav.innerHTML = '';
        if (prev > 0) {
          pagenav.innerHTML += `<a href="#" class="bt prev" onclick="showLists(${prev});">＜</a>`;
        }

        //페이징 번호 표시 
        for (var i = first; i <= last; i++) {
          if (currentPage == i) {
            pagenav.innerHTML +=
              `<a href="#" class="num on">${i}</a>`;
          } else {
            pagenav.innerHTML += `<a href="#" onclick="showLists(${i});" class="num o">${i}</a>`;
          }
        }

        if (last < totalPage) {
          pagenav.innerHTML += `<a href="#" onclick="showLists(${next});" class="bt next">＞</a>`;
        }

        $("#pagingul").html(pagenav.innerHTML);
        let displayCount = "";
        displayCount = "현재 1 - " + totalPage + " 페이지 / " + totalData + "건";
        $("#displayCount").text(displayCount);
      }

      function GetUser() {
        let result = null;
        $.ajax({
          url: "getUser",
          method: "GET",
          async: false,
          success: function (data) {
            console.log(data);
            result = data;
          },
          error: function (reject) {
            console.log(reject);
            console.log("로그인되어있지않음");
          },
        })
        return result;
      }

      //날짜 변환함수
      function dateChange(data) {
        if (data != null && data != 0) {
          let newData = new Date(data);
          let result = newData.getFullYear() + "-" +
            (newData.getMonth() < 10
              ? "0" + (newData.getMonth() + 1)
              : newData.getMonth() + 1) +
            "-" + (newData.getDate() < 10 ? "0" + newData.getDate() : newData.getDate()) + " " + newData.getHours() + ":" + newData.getMinutes();
          return result;
        }
        else return null;
      };
    </script>
  </div>
  </body>
</html>
</html>