<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Product Detail</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<body class="animsition">
<div layout:fragment="content">
	<link href="./css?family=Roboto:400,700&display=swap&subset=korean" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./data/">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/common/common.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/common/layer/layer.css?ts=1619078916">
	<link type="text/css" rel="stylesheet"
		href="./data/skin/front/mplshop/css/common/layer/mplshop_layer.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/layout/layout.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/goods/list.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/button.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/goods/goods.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/js/jquery/chosen/chosen.css?ts=1619078916">

	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/custom.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/goods/mplshop_goods.css?ts=1619078916">
	<link type="text/css" rel="stylesheet" href="./data/skin/front/mplshop/css/mplshop_button.css?ts=1619078916">
<script type="text/javascript">
	var json_locale_data = {
		"domain" : "messages",
		"locale_data" : {
			"messages" : {
				"" : {
					"lang" : "ATF",
					"plural-forms" : "nplurals=1; plural=0"
				}
			}
		}
	}
</script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/gd_gettext.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/_mplshop/js/siteInfo.js?ts=1619078944"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/underscore/underscore-min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/validation/jquery.validate.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/validation/additional-methods.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/numeral/numeral.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/global/accounting.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/global/money.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/chosen/chosen.jquery.min.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/placeholder/placeholders.jquery.min.js?ts=1619078916"></script>

<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/vticker/jquery.vticker.js?ts=1619078916"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/gd_ui.js?ts=1619078916"></script>

<script type="text/javascript">
	// 고도몰5 상점대표 도메인
	var gdGlobalHomeUri = 'http://m.gegomall.com/';

	// 고도몰5 통화정책
	var gdCurrencyDecimal = 0;
	var gdCurrencyDecimalFormat = '0';
	var gdCurrencyCode = 'KRW';
	var gdCurrencyAddDecimal = 0;
	var gdCurrencyAddDecimalFormat = '';
	var gdCurrencyAddCode = '';
	var gdLocale = 'ko';
	var gdCurrencySymbol = '';
	var gdCurrencyString = '원';

	// 환율변환 정책
	fx.base = "KRW";
	fx.settings = {
		from : "KRW",
		to : gdCurrencyCode
	};
	fx.rates = {
		"KRW" : 1,
		"USD" : 0.001,
		"CNY" : 0.010,
		"JPY" : 0.100,
		"EUR" : 0.001,
	}
</script>

<script type="text/javascript"
	src="../data/skin/front/mplshop/js/gd_common.js?ts=1619078916"></script>

<!-- Add script : start -->
<script type="text/javascript"
	src="/admin/gd_share/script/visit/gd_visit.js?requestUrl=https%3A%2F%2Fcollector-statistics.nhn-commerce.com%2Fhttp.msg&requestData=%7B%22base_time%22%3A%222023-04-28T12%3A41%3A33%2B09%3A00%22%2C%22mall_id%22%3A%22423524%22%2C%22user_id%22%3Anull%2C%22refer%22%3A%22https%3A%5C%2F%5C%2Fwww.gegomall.com%3A443%22%2C%22uri%22%3A%22goods_view.php%22%2C%22domain%22%3A%22www.gegomall.com%22%2C%22country%22%3A%22kr%22%2C%22solution%22%3A%22G5%22%7D&dummyData="></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/slider/slick/slick.js"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/gd_goods_view.js"></script>
<script type="text/javascript"
	src="./data/skin/front/mplshop/js/jquery/chosen-imageselect/src/ImageSelect.jquery.js"></script>
<!-- Add script : end -->
<!--===============================================================================================-->

<style>
#backColor {
	margin-top: 30px;
	background: rgb(248, 245, 250);
	padding: 10px 0px 10px 0px !important;
	border-radius: 15px;
	padding: 10px;
}

th, td {
	text-align: center;
}

#btnCss {
	/*float: right;*/
	position: relative;
	bottom: 10px;
	margin-top: 25px;
}

.filter {
	margin-top: 25px;
}

.filter li {
	display: inline-block;
	padding-top: 10px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 10px;
	background-color: white;
	padding: 8px 22px 5px 22px;
}

tbody img {
	width: 100px;
}

td, tr, th {
	vertical-align: middle !important;
}

fieldset {
	display: inline-block;
	direction: rtl;
	text-align: left;
	border: 0;
}

fieldset legend {
	text-align: right;
}

.starR {
	background:
		url("http://miuu227.godohosting.com/images/icon/ico_review.png")
		no-repeat right 0;
	background-size: auto 100%;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}

.starR.on {
	background-position: 0 0;
}

#reviewContents {
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 1.5px #d3d3d3;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}

.modal {
	z-index: 2000;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ck.ck-editor {
	max-width: 500px;
}

.ck-editor__editable {
	min-height: 300px;
}

#myform fieldset {
	display: inline-block;
	direction: rtl;
	text-align: left;
	border: 0;
}

#myform fieldset legend {
	text-align: right;
}

.star input[type="radio"] {
	display: none;
}

.star label {
	font-size: 3em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

.star label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.star label:hover ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.star input[type="radio"]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.edi img {
	width: 80px;
	height: 80px;
	vertical-align: text-top;
}

.edi .image {
	display: inline-block;
}

.edi p {
	display: inline-block;
	line-height: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}
</style>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04"> shop
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a> <a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				강아지 <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a> <span class="stext-109 cl4"> 사료 </span>
		</div>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">

							<div class="slick3 gallery-lb">
								<div class="item-slick3"
									data-thumb="images/product-detail-01.jpg">
									<div class="wrap-pic-w pos-relative">
										<img th:src="'download/'+${ProductDetail.prdtImg}">

										<!-- <a
											class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href=""> <i
											class="fa fa-expand"></i>
										</a> -->
										<a th:href="'download/' + ${ProductDetail.prdtImg}"
   class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04">
  <i class="fa fa-expand"></i>
</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="prdtNm">
							[[${ProductDetail.prdtNm}]]
						</h4>

						<span class="mtext-106 cl2" id="prdtPrc">
							[[${ProductDetail.prdtPrc}]]원
						</span>

						<p class="stext-102 cl3 p-t-23" id="prdtDesct">
							<p th:utext="${ProductDetail.prdtDesct}" />
						</p>

						
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10" th:each="option: ${OptionList}" th:data="${option.optId}">
								<div class="size-203 flex-c-m respon6" >
									<span th:text="${option.optNm}"></span>
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option th:each="optionDetail: ${optionDetailList}" th:data="${optionDetail.optId}"th:text="${optionDetail.optDetaNm} +' '+ '(' +${optionDetail.addPrc}+원+')'" th:if="${optionDetail.optId == option.optId}"></option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
							
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number"
											name="num-product" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
										Add to cart
									</button>
								</div>
								<a href="#"
									class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
									data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite" style="font-size:45px;"></i>
								</a>
							</div>
						</div>

						
					</div>
				</div> -->
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="prdtNm">
							[[${ProductDetail.prdtNm}]]</h4>
						<span class="mtext-106 cl2" id="prdtPrc">
							[[${ProductDetail.prdtPrc}]]원 </span>
						<input type="hidden" id="prdtId" th:value="${ProductDetail.prdtId}"/>
						<p class="stext-102 cl3 p-t-23" id="prdtDesct">
<!-- 						<p th:utext="${ProductDetail.prdtDesct}" >
						</p> -->
						<div class="p-t-33">


						
								
						
								
							<th:block th:if="${OptionList != null}">
								<div class="flex-w flex-r-m p-b-10" th:each="option : ${OptionList}" th:data="${option.optId}">
									<div class="size-203 flex-c-m respon6">
										<span th:text="${option.optNm}"></span>
									</div>
									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time"
												onchange="updatePrice()">
												<option>Choose an option</option>

													<option th:each="optionDetail: ${optionDetailList}"
														th:if="${optionDetail.optId == option.optId}"
														th:data-add-prc="${optionDetail.addPrc}"
														th:value="${optionDetail.optDetaId}" 
														th:text="|${optionDetail.optDetaNm}  (+ ${optionDetail.addPrc} 원)|">	
													</option>
													
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>
							</th:block>
	
							
							
							
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div
											class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>
										<input class="mtext-104 cl3 txt-center num-product" id="cnt"
											type="number" name="num-product" value="1"
											onchange="updatePrice()">
										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>
									<!-- 아이디 값 불러옴 -->
									<input type="hidden" th:value="${id}" id="meId"/>
									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" name="js-addcart-detail" id="addCart" type="submit">
										Add to cart</button>
								</div>
								<a href="#" id="submitBtn"
									class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" th:classappend="${ProductDetail.interestY}?js-addedwish-detail:_ "
									data-tooltip="Add to Wishlist"> <i
									class="zmdi zmdi-favorite" style="font-size: 45px;"></i>
								</a>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- 상품상세 -->
					<div id="detail">
							<div class="item_goods_tab">
								<ul style="margin-left: 400px;">
									<li class="on"><a href="#detail">상세정보</a></li>
									<li><a href="#reviews">상품후기 <strong></strong></a></li>
									<li><a href="#qna">상품문의 <strong></strong></a></li>
								</ul>
							</div>
							<!-- //item_goods_tab -->
							<div class="detail_cont">
								<div class="detail_explain_box">
									<div  style="margin-left: 320px;"class="image-manual">
										<!-- 이미지 -->
										<p  class="stext-102 cl3 p-t-23" id="prdtDesct" >
						<p th:utext="${ProductDetail.prdtDesct}" >
						</p>
									</div>
									<div class="txt-manual">
										<!-- 상품상세 공통정보 관리를 상세정보 상단에 노출-->
									</div>
								</div>
								<!-- //detail_explain_box -->

							</div>
							<!-- //detail_cont -->
						</div>
					<div class="item_goods_sec">
						<!-- //#exchange -->
						<div id="reviews">
							<div class="item_goods_tab">
								<ul style="margin-left: 400px;">
								    <li><a href="#detail">상세정보</a></li>
									<li class="on"><a href="#reviews">상품후기 <strong></strong></a></li>
									<li><a href="#qna">상품문의 <strong></strong></a></li>
								</ul>
							</div>
							<!-- //item_goods_tab -->


							<div class="reviews_cont">
								<h3>
									<!-- 상품후기 -->
									&nbsp;
								</h3>
								<div id="ajax-goods-goodsreview-list"></div>
								<div class="btn_reviews_box">
									<a href="../board/list.php?bdId=goodsreview"
										class="btn_reviews_more">상품후기 전체보기</a> <a
										href="javascript:gd_open_write_popup('goodsreview', '10032')"
										class="btn_reviews_write">상품후기 글쓰기</a>
								</div>
								<!-- //btn_reviews_box -->
								
								<div class="board_list_qa" align="center">
						<!--  <table class="board_list_table " style="width:100%" "="> -->
						<form>
							<!-- <table class="board_list_table" style="width: 100%">
								<colgroup>
									<col style="width: 16%">
									문의날짜
									<col style="width: 15%" class="widthDisplayNone">
									카테고리
									<col>
									제목
									<col style="width: 15%">
									문의상태

								</colgroup>
								<thead>
									<tr>
										<th style="padding-left: 87px;">후기날짜</th>
										<th style="padding-left: 84px;" class="widthDisplayNone">글번호</th>
										<th style="padding-left: 347px;">상품아이디</th>
										<th style="padding-left: 87px;">내용</th>
										<th style="padding-left: 87px;">점수</th>
									</tr>
								</thead>
								<tbody>
								
									 <tr th:each="reviw : ${selectWritten1}">
										<td th:text="${#dates.format(reviw.creatDt, 'yyyy-MM-dd HH:mm')}"></td>
										<td th:text="${reviw.reNo}" class="widthDisplayNone"></td>
										<td th:text="${reviw.prdtId}"></td>
										<td th:text="${reviw.contents}"></td>
										<td th:text="${reviw.point}"></td>
									</tr>
								 	<tr th:if="${qnaList.isEmpty()}">
										<td colspan="5" align="center">게시글이 존재하지 않습니다.</td>
									</tr>  
								</tbody>
							</table> -->
							<div th:each="written : ${selectWritten1}"
							style="width: 925px; height: 150px; font-weight: bold; border-bottom: solid 1px #ddd; margin: 25px 0 0px 0;">
<!-- 							<div class="title">
								<a th:href="@{ProductDetail(prdtId=${written.prdtId})}"> <img
									th:src="${written.prdtImg}"
									style="width: 40px; height: 40px; float: left; margin-right: 20px;" /></a>
							</div> -->
							<div class="star"
								style="width: 150px; float: left; margin-right: 20px; height: 120px; line-height: 100px;">
								<fieldset style="border: none">
									<input type="hidden" name="point" th:value="${written.point}" />
									<span class="starR" th:classappend="${written.point}>=5?on"><input
										type="hidden" value="5" /></span> <span
										class="starR" th:classappend="${written.point}>=4?on"><input
										type="hidden" value="4" /></span> <span
										class="starR" th:classappend="${written.point}>=3?on"><input
										type="hidden" value="3" /></span> <span
										class="starR" th:classappend="${written.point}>=2?on"><input
										type="hidden" value="2" /></span> <span
										class="starR" th:classappend="${written.point}>=1?on"><input
										type="hidden" value="1" /></span>
								</fieldset>
								<span id="starRating" style="font-weight: bold">[[${written.point}]]</span>
							</div>
							
			<div class="edi"
								style="height: auto; float: left; line-height: 69px"
								th:utext="${written.contents }"></div>
								</div>
							
						</form>
					</div>
							</div>
							<!-- //reviews_cont -->
						</div>
						<!-- //#reviews -->
						<div id="qna">
							<div class="item_goods_tab">
								<ul style="margin-left: 400px;">
									<li><a href="#detail">상세정보</a></li>
									<li><a href="#reviews">상품후기 <strong></strong></a></li>
									<li class="on"><a href="#qna">상품문의 <strong></strong></a></li>
								</ul>
							</div>
							<!-- //item_goods_tab -->
							<div class="qna_cont">
								<h3>
									<!-- 상품Q&amp;A -->
									&nbsp;
								</h3>
								<div id="ajax-goods-goodsqa-list"></div>
								<div class="btn_qna_box">
									<a href="" class="btn_qna_more">상품문의
										전체보기</a> <a
										th:href="|QnaForm?prdtId=${ProductDetail.prdtId}|"
										class="btn_qna_write">상품문의 글쓰기</a>
								</div>
								<!-- //btn_qna_box -->
								<div class="board_list_qa" align="center">
						<!--  <table class="board_list_table " style="width:100%" "="> -->
						<form>
							<table class="board_list_table" style="width: 100%">
								<colgroup>
									<col style="width: 16%">
									<!-- 문의날짜 -->
									<col style="width: 15%" class="widthDisplayNone">
									<!-- 카테고리 -->
									<col>
									<!-- 제목 -->
									<col style="width: 15%">
									<!-- 문의상태 -->

								</colgroup>
								<thead>
									<tr>
										<th style="padding-left: 87px;">문의날짜</th>
										<th style="padding-left: 84px;" class="widthDisplayNone">글번호</th>
										<th style="padding-left: 347px;">제목</th>
										<th style="padding-left: 87px;">작성자</th>
									</tr>
								</thead>
								<tbody>
								
									 <tr th:each="qna : ${qnaList}">
										<td th:text="${#dates.format(qna.regDt, 'yyyy-MM-dd HH:mm')}"></td>
										<td th:text="${qna.qstNo}" class="widthDisplayNone"></td>
										<td><a th:href="@{/QnaDetail(qstNo=${qna.qstNo})}" th:text="${qna.title}"></a></td>
										<td th:text="${qna.meId}"></td>
									</tr>
								 	<tr th:if="${qnaList.isEmpty()}">
										<td colspan="5" align="center">게시글이 존재하지 않습니다.</td>
									</tr>  
								</tbody>
							</table>
						</form>
					</div>
							</div>
							<!-- //qna_cont -->
							
							
						</div>
						<!-- //qna -->
					</div>
					<!-- //item_goods_sec -->
					<!-- //상품상세 끝 -->
				</div>
			</div>
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25"> SKU: JAK-01 </span> <span
				class="stext-107 cl6 p-lr-25"> Categories: Jacket, Men </span>
		</div>
	</section>
	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">최근 본 상품</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="images/product-04.jpg" alt="IMG-PRODUCT"> <a
									href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="product-detail.html"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										Classic Trench Coat </a> <span class="stext-105 cl3">
										$75.00 </span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
										src="images/icons/icon-heart-01.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="images/product-05.jpg" alt="IMG-PRODUCT"> <a
									href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="product-detail.html"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										Front Pocket Jumper </a> <span class="stext-105 cl3">
										$34.75 </span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
										src="images/icons/icon-heart-01.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="images/product-06.jpg" alt="IMG-PRODUCT"> <a
									href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="product-detail.html"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										Vintage Inspired Classic </a> <span class="stext-105 cl3">
										$93.20 </span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
										src="images/icons/icon-heart-01.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="images/product-07.jpg" alt="IMG-PRODUCT"> <a
									href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="product-detail.html"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										Shirt in Stretch Cotton </a> <span class="stext-105 cl3">
										$52.66 </span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
										src="images/icons/icon-heart-01.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="images/product-08.jpg" alt="IMG-PRODUCT"> <a
									href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="product-detail.html"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										Pieces Metallic Printed </a> <span class="stext-105 cl3">
										$18.96 </span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
										src="images/icons/icon-heart-01.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>






	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3"
										data-thumb="images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a
												class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
												href="images/product-detail-01.jpg"> <i
												class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat
								ornare feugiat.
							</p>

							
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div>

							
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#"
										class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
										data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>


	<!--===============================================================================================-->

	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		/* $(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')	
			
			});
			  
			
		}) */
		$(".js-select2").each(function() {
			  $(this).select2({
			    minimumResultsForSearch: 20,
			    dropdownParent: $(this).next('.dropDownSelect2'),
			    formatSelection: function (option) {
			      // Add custom attributes to the <option> tag for the selected option
			      $(option.element).attr('data-custom-attribute', option.customValue);
			      return option.text;
			    }
			  });
			});
	</script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail, .').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

		/* $('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();

					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				}); */
				$('.js-addwish-detail').each(function() {
					  var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
					  var $self = $(this);

					  $self.on('click', function() {
					    if ($self.hasClass('js-addedwish-detail')) {
					    	swal(nameProduct, "관심상품 삭제 !", "success");
					      $self.removeClass('js-addedwish-detail');
					    } else {
					      swal(nameProduct, "관심상품 등록 !", "success");
					      $self.addClass('js-addedwish-detail');
					    }
					  });
					});

		/*---------------------------------------------*/

		/* $('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				}); */
				$('.js-addcart-detail').each(function() {
					  var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
					  var self = $(this);
					  console.log(nameProduct)
					  
					  self.on('click', function() {
					    if (self.hasClass('js-addedcart-detail')) {
					    	swal(nameProduct, "is added to cart !", "success");
						      self.addClass('js-addedcart-detail');
					      
					    } else {
					      
					    }
					  });
					});
	</script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
		

			  //관심상품등록
			  $(document).ready(function() {
				  $("#submitBtn").click(function(e) {
				    e.preventDefault();
				    var prdtId = $("#prdtId").val();
				    var meId = $("#meId").val();
				    console.log(prdtId);
				    console.log(meId);

				    if ($("#submitBtn").hasClass("js-addedwish-detail")) {
				      // Send an AJAX request to delete the product				      
				      $.ajax({
					        url: "InsertProduct",
					        type: "POST",
					        data: {
					          prdtId: prdtId,
					          meId: meId
					        },
					        success: function(response) {
					      
					        },
					        error: function(xhr) {
					        
					        }
					      });
				    } else {
				      // Send an AJAX request to add to wishlist
				    	$.ajax({
					        url: "deleteProduct",
					        type: "GET",
					        data: {
					          prdtId: prdtId,
					          meId: meId
					        },
					        success: function(response) {
					
					        },
					        error: function(xhr) {
					 
					        }
					      });
				    }
				  });
				});
			  //장바구니 등록
/* 			  $(document).ready(function() {
  // When the form is submitted
  $("#addCart").click(function(event) {
    event.preventDefault();

    // Get the form values
    var meId = $("#meId").val();
    var prdtId = $("#prdtId").val();
    var cnt = $("#cnt").val();
    
    // Create an array to store optDetaIds
    var optDetaIds = [];

    // Loop through the selected options
    $("option:selected").each(function() {
      // Get the optDetaId value
      var optDetaId = $(this).find("#optDetaIds").text();
      
      // Add the optDetaId to the array
      optDetaIds.push(optDetaId);
    });

    console.log(meId);
    console.log(cnt);
    console.log(optDetaIds);

    // Create the data object
    var data = {
      meId: meId,
      prdtId: prdtId,
      cnt: cnt,
      optDetaIds: optDetaIds
    };

    // Make the AJAX call
    $.ajax({
      url: "addCart", // Replace with the actual server-side script URL
      method: "POST",
      data: data,
      success: function(response) {
        // Handle the response
        console.log(response);
        // Display a success message or perform any other actions
      },
      error: function(xhr, status, error) {
        // Handle the error
        console.log(error);
        // Display an error message or perform any other actions
      }
    });
    console.log(optDetaIds);
  });
}); */
/* $(document).ready(function() {
	  // When the form is submitted
	  $("#addCart").click(function(event) {
	    event.preventDefault();

	    // Get the form values
	    var meId = $("#meId").val();
	    var prdtId = $("#prdtId").val();
	    var cnt = $("#cnt").val();

	    // Create an array to store optDetaIds
	    var optDetaIds = [];

	    // Loop through the selected options
	    $("option:selected").each(function() {
	      // Get the optDetaId value
	      var optDetaId = $(this).find("#optDetaIds").text();
	      console.log(optDetaIds)

	      // Add the optDetaId to the array
	      optDetaIds.push(optDetaId);
	    });

	    console.log(meId);
	    console.log(cnt);
	    console.log(optDetaIds);

	    // Unpack and check the optDetaIds array
	    optDetaIds.forEach(function(optDetaId) {
	      console.log("OptDetaId: " + optDetaId);
	      // Perform any other actions or checks with each optDetaId
	      // For example, you can check if a specific value is present
	      if (optDetaId === "desiredValue") {
	        console.log("Desired value found!");
	      }
	    });

	    // Create the data object
	    var data = {
	      meId: meId,
	      prdtId: prdtId,
	      cnt: cnt,
	      optDetaIds: optDetaIds
	    };

	    // Make the AJAX call
	    $.ajax({
	      url: "addCart", // Replace with the actual server-side script URL
	      method: "POST",
	      data: data,
	      success: function(response) {
	        // Handle the response
	        console.log(response);
	        // Display a success message or perform any other actions
	      },
	      error: function(xhr, status, error) {
	        // Handle the error
	        console.log(error);
	        // Display an error message or perform any other actions
	      }
	    });
	  });
	}); */
	$(document).ready(function() {
		  // When the form is submitted
		  $("#addCart").click(function(event) {
		    event.preventDefault();
		    var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		    console.log(nameProduct)
			var self = $(this);
		    // Get the form values
		    var meId = $("#meId").val();
		    var prdtId = $("#prdtId").val();
		    var cnt = $("#cnt").val();

		    // Create an array to store optDetaIds
		    var optDetaIds = [];

		    // Loop through the selected options
		    $("option:selected").each(function() {
		      // Get the optDetaId value
		      var optDetaId = $(this).val();
		      console.log(optDetaId);

		      // Add the optDetaId to the array
		      optDetaIds.push(optDetaId);
		    });

		    console.log(meId);
		    console.log(cnt);
		    console.log(optDetaIds);

		    // Create the data object
		    var data = {
		      meId: meId,
		      prdtId: prdtId,
		      cnt: cnt,
		      optDetaIds: optDetaIds.join(",")
		    };

		    // Make the AJAX call
		    $.ajax({
		      url: "addCart", // Replace with the actual server-side script URL
		      method: "POST",
		      data: JSON.stringify(data), // Convert data to JSON string
		      contentType: "application/json", // Set the request content type to JSON
		      success: function(response) {
		        // Handle the response
		        console.log(response);
		        swal(nameProduct, "장바구니 등록 !", "success");
		        // Display a success message or perform any other actions
		      },
		      error: function(xhr, status, error) {
		        // Handle the error
		        console.log(error);
		        // Display an error message or perform any other actions
		      }
		    });
		  });
		});	
	</script>

	<script>
		//옵션 선택 시 가격 추가 및 수량변동 시 가격 변동
		/* var priceElement = document.getElementById('prdtPrc');
		var quantityInput = document.querySelector('input[name="num-product"]');
		var initialPrice = parseFloat(priceElement.innerText.replace(/[^0-9]+/g, ''));

		function updatePrice() {
		  // Get the current quantity value after a slight delay
		  setTimeout(function() {
		    var quantity = parseInt(quantityInput.value);

		    // Check if the quantity value is valid
		    if (isNaN(quantity) || quantity <= 0) {
		      // Set the new price to 0 원
		      priceElement.innerText = '0 원';
		    } else {
		      // Get the selected option value
		      var selectedOption = document.querySelector('select.js-select2 option:checked');
		      console.log(selectedOption);

		      // Calculate the additional price based on the selected option
		      var additionalPrice = 0;
		      if (selectedOption) {
		        additionalPrice = parseFloat(selectedOption.dataset.addPrc);
		        if (isNaN(additionalPrice)) {
		          additionalPrice = 0; // Set default additional price to 0 if NaN
		        }
		      }

		      // Calculate the new price
		      var newPrice = (initialPrice + additionalPrice) * quantity;

		      // Update the price element with the new price
		      priceElement.innerText = newPrice + ' 원';
		    }
		  }, 10); // Delay of 10 milliseconds (adjust as needed)
		}

		// Add event listener to the quantity input
		quantityInput.addEventListener('input', updatePrice);

		// Add event listener to the option select
		document.querySelector('.js-select2').addEventListener('change', updatePrice);

		// Increase quantity button click
		document.querySelector('.btn-num-product-up').addEventListener('click', updatePrice);

		// Decrease quantity button click
		document.querySelector('.btn-num-product-down').addEventListener('click', updatePrice); */
		/*  var priceElement = document.getElementById('prdtPrc');
		var quantityInput = document.querySelector('input[name="num-product"]');
		var initialPrice = parseFloat(priceElement.innerText.replace(/[^0-9]+/g, ''));

		// Function to update the price based on quantity and selected options
		function updatePrice() {
		  // Get the current quantity value
		  var quantity = parseInt(quantityInput.value);
		  console.log(quantity);

		  // Get all select blocks
		  var selectBlocks = document.querySelectorAll('select.js-select2');
		  
		  // Initialize total additional price
		  var totalAdditionalPrice = 0;

		  // Iterate over each select block
		  selectBlocks.forEach(function(select) {
		    // Get the selected option within the current select block
		    var selectedOption = select.querySelector('option:checked');
		    console.log(selectedOption);

		    // Calculate the additional price based on the selected option
		    var additionalPrice = 0;
		    if (selectedOption) {
		      additionalPrice = parseFloat(selectedOption.dataset.addPrc);
		      if (isNaN(additionalPrice)) {
		        additionalPrice = 0; // Set default additional price to 0 if NaN
		      }
		    }

		    // Add the additional price to the total additional price
		    totalAdditionalPrice += additionalPrice;
		  });

		  // Calculate the new price
		  var newPrice = (initialPrice + totalAdditionalPrice) * quantity;

		  // Update the price element with the new price
		  priceElement.innerText = newPrice + ' 원';
		}

		// Add event listener to the quantity input
		quantityInput.addEventListener('input', updatePrice);

		// Add event listener to each select block
		var selectBlocks = document.querySelectorAll('select.js-select2');
		selectBlocks.forEach(function(select) {
		  select.addEventListener('change', updatePrice);
		});  */
		var priceElement = document.getElementById('prdtPrc');
		var quantityInput = document.querySelector('input[name="num-product"]');
		var initialPrice = parseFloat(priceElement.innerText.replace(
				/[^0-9]+/g, ''));

		// Function to update the price based on quantity and selected options
		function updatePrice() {
			// Get the current quantity value
			setTimeout(
					function() {
						var quantity = parseInt(quantityInput.value);

						// Get all select blocks
						var selectBlocks = document
								.querySelectorAll('select.js-select2');

						// Initialize total additional price
						var totalAdditionalPrice = 0;

						// Iterate over each select block
						selectBlocks
								.forEach(function(select) {
									// Get the selected option within the current select block
									var selectedOption = select
											.querySelector('option:checked');

									// Calculate the additional price based on the selected option
									var additionalPrice = 0;
									if (selectedOption) {
										additionalPrice = parseFloat(selectedOption.dataset.addPrc);
										if (isNaN(additionalPrice)) {
											additionalPrice = 0; // Set default additional price to 0 if NaN
										}
									}

									// Add the additional price to the total additional price
									totalAdditionalPrice += additionalPrice;
								});

						// Calculate the new price
						var newPrice = (initialPrice + totalAdditionalPrice)
								* quantity;

						// Update the price element with the new price
						priceElement.innerText = newPrice + ' 원';
					}, 10);
		}

		// Add event listener to the quantity input
		quantityInput.addEventListener('input', updatePrice);

		// Add event listener to the plus and minus buttons
		var minusButton = document.querySelector('.btn-num-product-down');
		var plusButton = document.querySelector('.btn-num-product-up');

		minusButton.addEventListener('click', function() {
			updatePrice();
		});

		plusButton.addEventListener('click', function() {
			updatePrice();
		});

		// Add event listener to each select block
		var selectBlocks = document.querySelectorAll('select.js-select2');
		selectBlocks.forEach(function(select) {
			select.addEventListener('change', updatePrice);
		});
	</script>
	<!--===============================================================================================-->
			<script
			src="https://cdn.ckeditor.com/ckeditor5/37.1.0/super-build/ckeditor.js"></script>
		<script type="text/javascript" src="CKeditorSuperBuild2.js"></script>
</div>
</body>

</html>