<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.png" />
<link rel="stylesheet" href="css/css.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/linearicons-v1.0.0/icon-font.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--===============================================================================================-->

</head>
<body class="animsition">

	<div layout:fragment="content">
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Home <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a> <span class="stext-109 cl4">공지사항</span>
			</div>
		</div>

		<div class="board_wrap">
			<div class="board_title">
				<strong>공지사항</strong>
			</div>


			<div class="search_wrap">
				<div class="search_area">
					<div style="height: 50px;">
						<button class="btn btnPush btnLightBlue" id="SearchBtn"
							style="float: right; margin-left: 5px;" onclick="setkeyword();">
							<i class="fas fa-search"></i>
						</button>
						<input class="form-control" type="text" name="keyword"
							id="keyword" th:value="${pageMaker.cri.keyword}"
							style="width: 200px; float: right; margin-top: 9px;">
					</div>
				</div>



				<div style="margin-bottom: 10px; text-align: end">
					<div class="board_list_wrap">
						<div class="board_list">
							<div class="top">
								<div class="num">번호</div>
								<div class="title">제목</div>
								<div class="date">작성일</div>
								<div class="count">조회</div>
							</div>


							<div th:each=" notice : ${noticeList}">
								<div class="num" th:text="${notice.noNo }" style="font-size: 15px;"></div>
								<div class="title" style="font-size: 15px;">
									<a th:href="@{noticeDetail(noNo=${notice.noNo})}">[[${notice.title
										}]]</a>
								</div>
								<div class="date" style="font-size: 15px;">[[ ${#dates.format(notice.rDate,
									'yyyy-MM-dd HH-mm')}]]</div>
								<div class="count" style="font-size: 15px;">[[${notice.viewCnt }]]</div>

							</div>
							<div sec:authorize="hasAuthority('ROLE_ADMIN')">
								<a href="noticeInsertForm">
									<button type="button" class="btn btnPush btnBlueGreen"
										style="float: right; font-size: 13px;">등록</button>
								</a>
							</div>



						</div>


						<!--  [[${pageMaker.startPage}]], end=[[${pageMaker.endPage}]] -->
						<div class="board_page">
							<a th:href="1" class="bt first">&lt;&lt;</a> <a
								th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}"
								class="bt prev">&lt;</a>
							<th:block
								th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}"
								th:each="pageButton : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
								<a th:href="${pageButton}" th:text="${pageButton}"
									th:classappend="${cri.pageNo == pageButton} ? 'num on' : 'num'"></a>

							</th:block>
							<a th:if="${pageMaker.next}" th:href="${pageMaker.endPage +1}"
								class="bt next">&gt;</a> <a th:href="${pageMaker.realEnd}"
								class="bt last">&gt;&gt;</a>
						</div>

					</div>
				</div>

				<form id="moveForm" method="get">
					<input type="hidden" name="pageNo"
						th:value="${pageMaker.cri.pageNo}"> <input type="hidden"
						name="amount" th:value="${pageMaker.cri.amount}"> <input
						type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
				</form>

			</div>



			<!-- Back to top -->
			<div class="btn-back-to-top" id="myBtn">
				<span class="symbol-btn-back-to-top"> <i
					class="zmdi zmdi-chevron-up"></i>
				</span>
			</div>

			<!--===============================================================================================-->
			<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/bootstrap/js/popper.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/select2/select2.min.js"></script>
			<script>
				$(".js-select2").each(function() {
					$(this).select2({
						minimumResultsForSearch : 20,
						dropdownParent : $(this).next(".dropDownSelect2"),
					});
				});
			</script>
			<!--===============================================================================================-->
			<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script>
				$(".js-pscroll").each(function() {
					$(this).css("position", "relative");
					$(this).css("overflow", "hidden");
					var ps = new PerfectScrollbar(this, {
						wheelSpeed : 1,
						scrollingThreshold : 1000,
						wheelPropagation : false,
					});

					$(window).on("resize", function() {
						ps.update();
					});
				});

				$(".search_area button").on("click", function(e) {
					e.preventDefault();
					let val = $("input[name='keyword']").val();
					$("#moveForm").find("input[name='pageNo']").val(1);
					$("#moveForm").find("input[name='keyword']").val(val);
					moveForm.submit();
				});
				
				
				$(".board_page a").on("click", function(e) {
				    e.preventDefault();
				    let pageNo = $(this).attr("href");
				    let keyword = $("input[name='keyword']").val();
				    $("#moveForm").find("input[name='keyword']").val(keyword);
				    $("#moveForm").find("input[name='pageNo']").val(pageNo);
				    $("#moveForm").submit();
				});

				
			</script>
			<!--===============================================================================================-->
			<script src="js/main.js"></script>
</body>
</html>
