<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.png" />
<link rel="stylesheet" href="css/css.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/linearicons-v1.0.0/icon-font.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--===============================================================================================-->
</head>
<body class="animsition">
	<div layout:fragment="content">
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Home <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a> <span class="stext-109 cl4"><a th:href="@{noticeList}"> 공지사항 </a> </span>
			</div>
		</div>

		<div class="board_wrap">
			<div class="board_title">
				<strong>공지사항</strong>
			</div>
			<form th:action="@{noticeUpdate}" method="post"
				th:object="${noticeDetail}">
				<div class="board_write_wrap">
					<div class="board_write">
						<div class="title">
							<dl>
								<dt>제목</dt>
								<dd>
									<input type="hidden" id="noNo" name="noNo" th:value="*{noNo}">
									<input type="text" name="title" placeholder="제목 입력"
										th:value="*{title}" required>
								</dd>
							</dl>
						</div>
						<div class="info"></div>
						<div class="cont">
							<textarea placeholder="내용 입력" name="contents"
								th:text="*{contents}" required></textarea>
						</div>
						<br/>
					<div >
							<dl>
								<dt id="files"></dt>
								<dd>
									<!-- <a th:href="@{/downloadFile(filepath=${noticeDetail.files})}"
										th:text="${noticeDetail.files}"></a> -->
										
										  <span>[[${noticeDetail.files }]]</span>
               			 <a href="#this" name="file-delete" style="display: ${noticeDetail.files != null ? 'inline' : 'none'}">삭제</a>
               			 </dd>
               			<dd><input type="file" id="files" th:field="*{partFile}" style="display: none;"></dd>
								
							</dl>
						</div>
					</div>
					<div class="bt_wrap">
						<a><button type="submit" class="btn btnPush btnBlueGreen">수정</button></a>
						<a href="javascript:window.history.back();"><button
								type="button" class="btn btnPush btnRed">취소</button></a>
					</div>
				</div>
			</form>
		</div>



		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top"> <i
				class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function() {
				$(this).select2({
					minimumResultsForSearch : 20,
					dropdownParent : $(this).next(".dropDownSelect2"),
				});
			});
		</script>
		<!--===============================================================================================-->
		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$(".js-pscroll").each(function() {
				$(this).css("position", "relative");
				$(this).css("overflow", "hidden");
				var ps = new PerfectScrollbar(this, {
					wheelSpeed : 1,
					scrollingThreshold : 1000,
					wheelPropagation : false,
				});

				$(window).on("resize", function() {
					ps.update();
				});
			});
			
			
				/* $(document).ready(function() {
			        if ($("span").text().trim() === "") {
			            $("a[name='file-delete']").hide();
			        }
			    }); */
			
			
			$(document).ready(function() {
				  $("a[name='file-delete']").on("click", function(e) {
				    e.preventDefault();
				    deleteFile($(this));
				  });
				});

				function deleteFile(obj) {
				  obj.parent().siblings().find("#files").removeAttr("style");
				  obj.parent().remove();
				}
			 
				
				
				
				
				$('a[name="file-delete"]').on('click', function(event) {
					  event.preventDefault();
					  var files = $(this).attr('href');
					  var noNo = $('#noNo').val();
					  $.ajax({
					    url: "filesDelete",
					    method: "POST",
					    data: {
					      noNo: noNo,
					      files: files,
					    },
					    success: function(data) {
					      console.log(data);
					      if (data === "success") {
					       
					      }
					    },
					    error: function(reject) {
					      console.log(reject);
					      alert("실패하였습니다.");
					    },
					  });
					});
				
		</script>
		<!--===============================================================================================-->
		<script src="js/main.js"></script>
</body>
</html>
