<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Pettopia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
	<!--sweet alert-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<!--===============================================================================================-->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--===============================================================================================-->
	<!-- DataPicker -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
	<!-- Toast UI xlsx -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
	<!-- Toast 페이지네이션-->
	<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
	<!-- Toast UI -->
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/petcss.css">
	<!--눈누 폰트-->
	<style>
		@font-face {
			font-family: 'SUITE-Regular';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
			font-weight: 400;
			font-style: normal;
		}

		.noonnu_font {
			font-family: 'SUITE-Regular' !important;
		}

		/**{
			font-family: 'SUITE-Regular' !important;
		}*/

		#wellcomeMag {
			color: white;
			font-size: 15px !important;
			border: none !important;
			margin-right: 50px;
			margin-top: 5px;
		}
	</style>

</head>

<body class="animsition">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="right-top-bar flex-w h-full">
					</div>
					<div class="right-top-bar flex-w h-full" id="LoginHeader">

					</div>
				</div>
			</div>
			<div class="wrap-menu-desktop" style="background-color: white;">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img src="/images/icons/logoTest1.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="menu">
								<a href="/" class="noonnu_font">메인</a>
							</li>

							<li>
								<a href="ProductCategory" class="noonnu_font">상품</a>
							</li>

							<!--<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Features</a>
							</li>-->

							<li class="menu">
								<a href="#eee" class="noonnu_font">게시판</a>
								<ul class="sub-menu">
									<li><a href="adopt" class="noonnu_font"> 분양게시판</a></li>
									<li><a href="knowhow" class="noonnu_font">지식공유게시판</a></li>
									<!--<li><a href="home-03.html">출석체크</a></li>-->
								</ul>
							</li>

							<li class="menu">
								<a href="noticeList" class="noonnu_font">공지사항</a>
							</li>
							<!-- =================================영주추가함======================= -->
							<li class="menu">
								<button class="noonnu_font" onclick="document.getElementById('id01').style.display='block'">펫토피아
									툴즈</button>
							</li>
							<!--<li>
								<a href="about.html" class="menu">About</a>
								<ul class="sub-menu">
									<li><a href="index.html"> 반려동물나이계산</a></li>
									<li><a href="home-02.html">권장칼로리계산</a></li>
									<li><a href="home-03.html">반려동물추천테스트</a></li>
								</ul>
							</li>-->
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
							data-notify="0" id="cartCounter">
							<i class="zmdi zmdi-shopping-cart" onclick="location.replace('CartMain');"></i>
						</div>

						<div class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0"
							id="interestCounter">
							<i class="zmdi zmdi-favorite-outline" onclick="location.replace('prodInterest')"></i>
						</div>
					</div>
				</nav>
			</div>
		</div>


		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
	<!-- end header -->

	<section class="bg0 p-t-62 p-b-60">
		<article layout:fragment="content">
			컨텐트영역
		</article>
	</section>

	<!-- Footer -->
	<footer class="bg2 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<img src="img/pet_footer_logo.png" width="160px" height="160px">
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 ">
					<h4 class="stext-301 c20 p-b-10">
						CS SENTER
					</h4>
					<div class="noonnu_font" style="font-size: 16px;">
						<div>
							<p style="color:palevioletred; font-weight: bold; font-size: 25px;">1200-1025</p>
						</div>
						<div>
							운영시간 AM09:00 ~ PM17:00
							<br />
							점심시간 PM12:00 ~ PM13:00
							<br />
							주말 및 공휴일은 휴무입니다.
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 c20 p-b-10">
						ACCOUNT INFO
					</h4>

					<!--<p class="stext-107 cl6 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
						on (+1) 96 716 6879
					</p>-->
					<div class="noonnu_font">
						<ul style="font-size: 16px;">
							<li class="">
								<span>농협</span>
								315-8787-6107-19
							</li>

							<li class="">
								<span>국민</span>
								51510-615841
							</li>

							<li class="">
								<span>우체국</span>
								401110-82-807432
							</li>

							<li class="">
								<span>농협</span>
								1105-543-668442
							</li>

							<li class="m-t-18">
								<span>예금주 : </span>
								펫토피아
							</li>
						</ul>
					</div>

				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 c20 p-b-10">
						MEMBERS
					</h4>

					<div class="noonnu_font">
						<ul style="font-size: 16px;">
							<li class="">
								<span>송민* (조장)</span>
							</li>

							<li class="">
								<span>김영* (부조장)</span>
							</li>

							<li class="">
								<span>정은* (조원)</span>
							</li>

							<li class="">
								<span>김병* (조원)</span>
							</li>

							<li class="">
								<span>김무* (조원)</span>
							</li>
						</ul>
					</div>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl6 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl6 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl6 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
					<!--<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl6" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>-->
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
						class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					&amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>

	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/slick/slick.min.js"></script>
	<script src="/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>


	<!-- 여기서부턴 영주작업중 -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Vue.js -->
	<script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<!-- 날짜계산용 라이브러리 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>

	<!-- =================모달임========-->
	<!-- The Modal -->
	<style>
		#id01 input {
			width: auto;
			display: inline-block;
			height: auto;
		}
	</style>
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="margin-top:100px;width: 400px;">
			<header class="w3-container w3-blue">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
				<h2>펫토피아 툴즈</h2>
			</header>

			<div class="w3-bar w3-border-bottom">
				<button class="tablink w3-bar-item w3-button" onclick="openTab(event, 'ageCal')">나이 계산기</button>
				<button class="tablink w3-bar-item w3-button" onclick="openTab(event, 'calCal')">칼로리 계산기</button>
				<button class="tablink w3-bar-item w3-button" onclick="openTab(event, 'Tokyo')">WIP</button>
			</div>
			<div id="Vapp">
				<div id="ageCal" class="w3-container w3tabs">
					<h1>나이 계산기</h1>
					<hr>
					<label></label><input type="radio" v-model="race" value="cat">고냥이</label>
					<label></label><input type="radio" v-model="race" value="dog">댕댕이</label>
					<hr>
					<div v-if="race=='cat'">
						<img src="https://cdn-icons-png.flaticon.com/128/1864/1864514.png" alt="">
					</div>
					<div v-if="race=='dog'">
						<img src="https://cdn-icons-png.flaticon.com/128/4540/4540789.png" alt="">
					</div>

					<hr>
					우리 아이 생일: <input type="date" v-model="born">
					<hr>
					<img v-bind:src="ageImg" alt="">
					<h4>우리아이의 나이는:<span v-text="humanAge"></span>살 이에요!</h4>

				</div>

				<div id="calCal" class="w3-container w3tabs">
					<h1>칼로리 계산기</h1>
					<hr>
					<label></label><input type="radio" v-model="race" value="cat">고냥이</label>
					<label></label><input type="radio" v-model="race" value="dog">댕댕이</label>
					<hr>
					<div v-if="race=='cat'">
						<img src="https://cdn-icons-png.flaticon.com/128/1864/1864514.png" alt="">
					</div>
					<div v-if="race=='dog'">
						<img src="https://cdn-icons-png.flaticon.com/128/4540/4540789.png" alt="">
					</div>

					<hr>
					우리아이 몸무게:<input type="number" v-model="weight">KG
					<hr>
					<h4>우리아이 일일권장 칼로리는<br><span style="color: red; font-size: xx-large;" v-text="kcal"></span>kcal 입니다</h4>

				</div>

				<div id="Tokyo" class="w3-container w3tabs">
					<h1>WIP</h1>
					<p>Work in progress comming soon!</p><br>
				</div>

				<div class="w3-container w3-light-grey w3-padding">
					<button class="w3-button w3-right w3-white w3-border"
						onclick="document.getElementById('id01').style.display='none'">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		const app = Vue.createApp({
			data() {
				return {
					race: "cat",
					petage: 0,
					calage: 0,
					realAge: 0,
					humanAge: 0,
					born: LayoutDateChange(Date.now()),
					ageImg: '',
					weight: 0,
					kcal: 0,
				}
			},
			computed: {
				computeAge: function () {
					months = moment().diff(this.born, 'months');
					years = months / 12
					if (this.race == "cat") {
						if (years < 1) {
							humanAge = (years / 0.1667) + 0.5;
						}
						else {
							humanAge = (years) * 7;
						}
					}
					else if (this.race == "dog") {
						if (years < 1) {
							humanAge = years / 0.125 + 0.5;
						}
						else {
							humanAge = (years) * 7;
						}
					}
					this.humanAge = Math.round(humanAge);
					return this.humanAge
				},
				agePic: function () {
					if (this.humanAge > 50) {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/1439/1439681.png'
					}
					else if (this.humanAge > 30) {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/4598/4598871.png'
					}
					else if (this.humanAge > 20) {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/7223/7223731.png'
					}
					else if (this.humanAge > 10) {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/2793/2793541.png'
					}
					else if (this.humanAge > 4) {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/1702/1702342.png'
					}
					else {
						this.ageImg = 'https://cdn-icons-png.flaticon.com/128/822/822123.png'
					}
					return this.ageImg;
				},
				computeCal: function () {
					if (this.race == "cat") {
						this.kcal = this.weight * 20;
					}
					else {
						this.kcal = this.weight * 25;
					}
					return this.kcal;
				}
			}
		}).mount("#Vapp");



		document.getElementsByClassName("tablink")[0].click();

		function openTab(evt, tabName) {
			var i, x, tablinks;
			x = document.getElementsByClassName("w3tabs");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablink");
			for (i = 0; i < x.length; i++) {
				tablinks[i].classList.remove("w3-light-grey");
			}
			document.getElementById(tabName).style.display = "block";
			evt.currentTarget.classList.add("w3-light-grey");
		}

		function LayoutDateChange(data) {
			if (data != null && data != 0) {
				let newData = new Date(data);
				let result = newData.getFullYear() + "-" +
					(newData.getMonth() < 10
						? "0" + (newData.getMonth() + 1)
						: newData.getMonth() + 1) +
					"-" + (newData.getDate() < 10 ? "0" + newData.getDate() : newData.getDate());
				return result;
			}
			else return null;
		};
	</script>
	<!--  ===========   -->

	<script>


		function GetUser() { //사용자ID가져오는 함수 컨트롤러는 Cart에있음
			$.ajax({
				url: "getUser",
				method: "GET",
				async: false,
				success: function (data) {
					//console.log(data);
					result = data;
				},
				error: function (reject) {
					console.log(reject);
					console.log("카트불러오기실패");
					result = null;
				},
			})
			return result;
		}
		CartCount();
		function CartCount() { //레이아웃에 장바구니 들어있는 갯수 갱신하는 함수 컨트롤러는 Cart에있음
			$.ajax({
				url: "cartCount",
				method: "GET",
				async: false,
				data: { meId: GetUser() },
				success: function (data) {
					cartCounter.setAttribute('data-notify', data);
				},
				error: function (reject) {
					console.log(reject);
					cartCounter.setAttribute('data-notify', 0);
				},
			})
		};

		//은애 :D ---- 관심상품 개수도 표기해줬지롱!!
		productInterestCount();
		function productInterestCount() {
			$.ajax({
				url: "interestCount",
				method: "GET",
				async: false,
				data: { meId: GetUser() },
				success: function (data) {
					interestCounter.setAttribute('data-notify', data);
				},
				error: function (reject) {
					console.log(reject);
					interestCounter.setAttribute('data-notify', 0);
				},
			})
		};



		// ==============AJAX로 로그인정보받아와서 layout 자체적으로 로그인 여부에따른 헤더 변화 코드작성중 InnerHTML 안먹히는 이슈로 잠시보류 내일와서확인함
		UpdateHeader();
		function UpdateHeader() { //레이아웃에 로그인여부, 관리자 여부에따라 레이아웃 헤더 바꾸는함수 컨트롤러는 User에있음

			$.ajax({
				url: "userInfoAjax",
				method: "GET",
				async: false,
				dataType: "json",
				success: function (data) {
					//console.log(data);
					drawLoginHeader(data);
					console.log(LoginHeader.InnerHTML);
				},
				error: function (reject) {
					console.log(reject);
					console.log("로그인정보 가져오기 실패");
					drawNonLoginHeader();
				},
			})

		}

		function drawLoginHeader(data) {
			console.log(LoginHeader);
			//console.log(LoginHeader.innerHTML);
			//console.log('로그인헤더 작성');
			LoginHeader.innerHTML =
				`
				<a id = "wellcomeMag">
					<span>${data.name}</span>님 어서오세요!
					
						</a>
				<a href="logout" class="flex-c-m trans-04 p-lr-25"
					style="border-left: 1px solid rgba(255,255,255,0.3);">로그아웃</a>
			`
			if (data.role == 'ADMIN') {
				LoginHeader.innerHTML +=
					`<a class="flex-c-m trans-04 p-lr-25" href="admin/productMag">관리페이지</a>`
			}
			else {
				LoginHeader.innerHTML +=
					`<a class="flex-c-m trans-04 p-lr-25" href="mypage">마이페이지</a>`
			}
		}
		function drawNonLoginHeader() {
			console.log('비로그인헤더 작성');
			LoginHeader.innerHTML = `
						<a href="login" class="flex-c-m trans-04 p-lr-25">로그인</a>
						<a href="signUp" class="flex-c-m trans-04 p-lr-25">회원가입</a>
					`
		}
	</script>



	<!--=================== 여기까지 =================-->


</body>

</html>