<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Pettopia Login</title>
    <script src="js/jquery-3.5.0.min.js"></script>
    <!-- Refle CSS -->
    <link rel="stylesheet" type="text/css" href="/css/refle.css">
    <!-- Bootstrap CSS v4.1.x -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Fontsawesome CDN -->
    <script type="text/javascript" src="https://use.fontawesome.com/e69b0efea7.js"></script>
    <!-- Google Fonts -->
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">

    <style>
        .apiBnt{
            cursor: pointer;
        }
    </style>
</head>

<body class="refle-login">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <h2 class="title text-center">
                        Pettopia
                    </h2>
                    <div class="card fat">
                        <div class="card-body">
                            <div class="card-title">Login</div>
                            <div th:if="${param.error}">
                                <p th:text="${exception}" class="alert alert-danger"
                                    style="font-size: 10px;"></p>
                            </div>

                            <form th:action="@{/login_proc}" method="post" class="needs-validation" > <!--novalidate-->
                                <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
                                
                                <div class="form-group">
                                    <label for="meId">Email</label>
                                    <input id="meId" type="email" class="form-control" name="meId"
                                        placeholder="example@company.com" value="" required autofocus>
                                    <div class="invalid-feedback">
                                        email is invalid
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group mb-3">
                                        <input id="password" type="password" class="form-control" name="password"
                                            placeholder="********" required>
                                        <div class="input-group-append">
                                            <span class="btn btn-primary text-white input-group-text">
                                                <i id="#password" class="toggle-password fa fa-eye"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary btn-block" id="formBtn">
                                        Login
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-primary btn-block"
                                            style="background-color: rgb(139, 137, 137); border: 1px solid rgb(139, 137, 137);"
                                            onclick="location.href='/'">
                                        homePage
                                    </button>
                                </div>
                            </form>
                                <div style="text-align: center;">
                                    <!--kakao Login Btn-->
                                    <a id="kakaoClick">
                                        <img class="apiBnt" 
                                            src="/img/산부인과-포해피우먼-문의-카카오플러스친구-버튼.webp"
                                            width="50px">
                                    </a>
                                    <!--naver Login Btn-->
                                    <img class="apiBnt" src="/img/btnG_아이콘원형.png" width="50px">
                                </div>
                                <div class="register-section text-center">
                                <br/>
                                    회원가입이 필요하신가요?<a href="/signUp"> 회원가입하기</a>
                                </div>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2020 &mdash; Your Company
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/refle.js"></script>
    <!-- 카카오 스크립트 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script>    //ac331cbe1745422549605be16be6ce42
        $('#kakaoClick').on('click',()=>{
            window.open("https://kauth.kakao.com/oauth/authorize"+
                        "?client_id=ac331cbe1745422549605be16be6ce42"+
                        "&redirect_uri=http://localhost:81/login"+
                        "&response_type=code",
                        "kakaologin", "width=500, height=500");
        })
        /*//발급받은 키 중 javascript키를 사용해준다. onclick="kakaoLogin();"
        Kakao.init('2de6d8c528d54efb1d69a7086ccd36d3'); 
        //console.log(Kakao.isInitialized()); // sdk초기화여부판단
        //카카오로그인
        function kakaoLogin() {
            Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                url: '/v2/user/me',
                success: function (response) {
                    console.log(response)
                },
                fail: function (error) {
                    console.log(error)
                },
                })
            },
            fail: function (error) {
                console.log(error)
            },
            })
        }*/
    </script>
</body>

</html>
