<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Pettopia</title>
    <script type="aplication/json" src="js/jquery-3.5.0.min.js"></script>
    <!-- Refle CSS -->
    <link rel="stylesheet" type="text/css" href="/css/refle.css">
    <!-- Bootstrap CSS v4.1.x -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Fontsawesome CDN -->
    <script type="text/javascript" src="https://use.fontawesome.com/e69b0efea7.js"></script>
    <!-- Google Fonts -->
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <!--sweeZt alert-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <!--w3shcool-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .apiBnt{
            cursor: pointer;
        }
        #formBtn{
            background-color: #CD8DE5 !important;
            border: 1px solid #CD8DE5 !important;
        }
        .signupAtag{
            color: rgb(241, 65, 65) !important;
        }
        .signupAtag:hover,
        .signupAtag:focus {
            color: rgb(231, 107, 107) !important;
        }
        #searchBtn{
            background-color: rgb(149, 203, 248) !important;
            border: 1px solid rgb(149, 205, 248);
        }
    </style>
</head>

<body class="refle-login">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <h2 class="title text-center">
                        Pettopia
                    </h2>
                    <div class="card fat">
                        <div class="card-body">
                            <div class="card-title">Login</div>
                            <form  method="post" class="needs-validation" id="login-form"> <!--novalidate-->
                                <div class="form-group">
                                    <label for="meId">Email</label>
                                    <input id="meId" type="email" class="form-control" name="meId"
                                        placeholder="example@company.com" value="" required autofocus>
                                    <div class="invalid-feedback">
                                        email is invalid
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group mb-3">
                                        <input id="password" type="password" class="form-control" name="password"
                                            placeholder="********" required>
                                        <div class="input-group-append">
                                            <span class="btn btn-primary text-white input-group-text">
                                                <i id="#password" class="toggle-password fa fa-eye"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary btn-block" id="formBtn">
                                        로그인
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-primary btn-block" id="searchBtn" onclick="document.getElementById('id01').style.display='block'">
                                        아이디/비번찾기
                                    </button>
                                </div>

                                <!--https://kimfk567.tistory.com/57-->
                                <div id="id01" class="w3-modal">
                                    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                                        <header class="w3-container w3-blue"> 
                                            <span onclick="document.getElementById('id01').style.display='none'" 
                                            class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
                                            <h2>아이디/비번찾기</h2>
                                        </header>

                                        <div class="w3-bar w3-border-bottom">
                                            <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'id')" type="button">아이디찾기</button>
                                            <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'pw')" type="button">비밀번호찾기</button>
                                        </div>

                                        <div id="id" class="w3-container w3tabs">
                                            <h1>아이디찾기</h1>
                                            <label class="">이름</label>
                                            <input type="text">
                                            <br/>
                                            <label>연락처</label>
                                            <input type="tel">
                                            <br/>
                                            <button type="button">확인</button>
                                        </div>

                                        <div id="pw" class="w3-container w3tabs">
                                            <h1>Paris</h1>
                                            <p>Paris is the capital of France.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>

                                        <div class="w3-container w3-light-grey w3-padding">
                                            <button class="w3-button w3-right w3-white w3-border" type="button"
                                            onclick="document.getElementById('id01').style.display='none'">Close</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-primary btn-block"
                                            style="background-color: rgb(139, 137, 137); border: 1px solid rgb(139, 137, 137);"
                                            onclick="location.href='/'">
                                        취소
                                    </button>
                                </div>
                            </form>
                                <div style="text-align: center;">
                                    <!--kakao Login Btn-->
                                    <a id="kakaoClick" style="margin-right: 10px;">
                                        <img class="apiBnt" 
                                            src="/img/산부인과-포해피우먼-문의-카카오플러스친구-버튼.webp"
                                            width="50px">
                                    </a>
                                    <!--naver Login Btn-->
                                    <a id="naverClick">
                                        <img class="apiBnt" src="/img/btnG_아이콘원형.png" width="50px">
                                    </a>
                                </div>
                                <div class="register-section text-center">
                                <br/>
                                    회원가입이 필요하신가요?<a href="/signUp" class="signupAtag"> 회원가입하기</a>
                                </div>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2023 &mdash; Pettopia Company
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/refle.js"></script>
    <!-- 카카오 스크립트 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script type="text/javascript" th:inline="javascript">
        //아이디/비번찾기 모달
        document.getElementsByClassName("tablink")[0].click();
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("w3tabs");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].classList.remove("w3-light-grey");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.classList.add("w3-light-grey");
        };


        /*<![CDATA[*/
        let exception = /*[[${param.exception}]]*/
        let error = /*[[${param.error}]]*/
        /*]]>*/

        if(error){
            //alert(exception);
            Swal.fire({
                icon: 'error',
                title: '오류',
                text: exception,
            });
        };

        // 카카오 로그인 또는 회원가입
        $('#kakaoClick').on('click',()=>{
            location.href = "/oauth2/authorization/kakao";
        });

        // 네이버 로그인 또는 회원가입
        $('#naverClick').on('click',()=>{
            location.href = "/oauth2/authorization/naver";
        });

        $('#formBtn').on('click',()=>{
            let id = $('#meId').val();
            let pw = $('#password').val();
            console.log(id);
            console.log(pw);
        });

        $(document).ready(function() {
        // required 속성 없애기
        $("[name=meId]").attr("required" , false);
        // required 속성 추가하기
        $("[name=password]").attr("required" , false);
    });
    </script>
</body>

</html>
