<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Rafle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pettopia</title>
    <!-- Bootstrap CSS v4.1.x -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Fontsawesome CDN -->
    <script type="text/javascript" src="https://use.fontawesome.com/e69b0efea7.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" type="text/css"
        rel="stylesheet">
    <!--kakao addr API-->
    <script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Refle CSS -->
    <link rel="stylesheet" type="text/css" href="css/refle.css">
    <!--sweet alert-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet"
        type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"
        type="text/javascript"></script>
    <style>
        .signUpFontColor {
            color: rgb(233, 90, 168);
            font-size: large;
        }

        .aaaa {
            font-size: 13px !important;
            margin-bottom: 10px;
            width: 25%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            line-height: 1.5;
            background-color: #e9e9e9;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out
        }

        .bbbb {
            margin-bottom: 10px;
            width: 64%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            background-color: #e9e9e9;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out
        }

        #btnStyle {
            border: none;
            width: 8%;
            padding: 7px;
            border-radius: .25rem;
            cursor: pointer;
        }
    </style>
</head>

<body class="refle-login">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <h2 class="title text-center">
                        Pettopia
                    </h2>
                    <div class="card fat">
                        <div class="card-body">
                            <div class="card-title">Sign Up</div>
                            <form class="needs-validation" id="myForm">
                                <!--novalidate , th:action="@{/signUp}", method="post"-->
                                <div class="form-group">
                                    <label for="meId">아이디<span class="signUpFontColor">
                                            *</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!--<button class="btn btn-primary" type="button"
                                            style="padding: 3px 3px 3px 3px !important; font-size: small;"
                                            id="signChkBtn">
                                        중복검사
                                    </button>
                                    <input type="hidden" name="idDuplication" id="idDuplication" value="idUncheck">-->
                                    <input id="meId" type="email" class="form-control" name="meId" autocomplete="off"
                                        placeholder="example@company.com" value="" autofocus> <!--required-->
                                    <div>
                                        <font id="id_feedback" size="2"></font>
                                    </div>
                                    <!--<div class="invalid-feedback">
                                        아이디를 입력하세요.
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label for="pw">비밀번호<span class="signUpFontColor"> *</span></label>
                                    <div class="input-group mb-3">
                                        <input id="pw" type="password" class="form-control" name="pw" autocomplete="off"
                                            placeholder="********">
                                        <div class="input-group-append">
                                            <span class="btn btn-primary text-white input-group-text">
                                                <i id="#pw" class="toggle-password fa fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwChk">비밀번호 확인<span class="signUpFontColor"> *</span></label>
                                    <div class="input-group mb-3">
                                        <input id="pwChk" type="password" class="form-control" name="pwChk"
                                            placeholder="********">
                                        <div class="input-group-append">
                                            <span class="btn btn-primary text-white input-group-text">
                                                <i id="#pwChk" class="toggle-password fa fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <font id="pw_feedback" size="2"></font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">이름<span class="signUpFontColor"> *</span></label>
                                    <input id="name" type="text" class="form-control" name="name" value=""
                                        autocomplete="off" autofocus>
                                </div>
                                <!--연락처-->
                                <div class="form-group">
                                    <label for="phone">연락처<span class="signUpFontColor"> *</span></label>
                                    <input id="phone" type="text" class="form-control" name="phone" maxlength='13'
                                        autocomplete="off" placeholder="01012345678" oninput="autoHyphen2(this)">
                                </div>
                                <!--주소-->
                                <div class="form-group">
                                    <label for="addr">주소<span class="signUpFontColor"> *</span></label>
                                    <br />
                                    <input class="aaaa" type="text" id="post" name="post" placeholder="우편번호"
                                        autocomplete="off" readonly>
                                    <input class="bbbb" type="text" id="addr" name="addr" placeholder="주소"
                                        autocomplete="off" readonly>
                                    <button type="button" id="btnStyle" class="btn-primary"
                                        onclick="sample6_execDaumPostcode()" autocomplete="off">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <input style="margin-bottom: 10px;" id="addrref" type="text" class="form-control"
                                        autocomplete="off" name="addrref" placeholder="참고항목" value="" autofocus>
                                    <input id="addrDtl" type="text" class="form-control" name="addrDtl"
                                        placeholder="상세주소란" autocomplete="off" value="" autofocus>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-primary btn-block" id="signBtn">
                                        가입완료
                                    </button>
                                    <button class="btn btn-sm btn-primary btn-block"
                                        style="background-color: rgb(139, 137, 137); border: 1px solid rgb(139, 137, 137);"
                                        type="button" onclick="location.href='/'">취소</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2023 &mdash; Your Company
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/refle.js"></script>
    <script type="text/javascript" th:inline="javascript">
        //연락처 가공
        const autoHyphen2 = (target) => {
            target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
        };

        //signUp
        $('#signBtn').click(function (e) {
            e.preventDefault();   //form 막기

            let id = $('#meId').val();      //아이디
            let pw = $('#pw').val();        //비밀번호
            let pwChk = $('#pwChk').val();  //비밀번호 확인
            let name = $('#name').val();    //이름
            let phone = $('#phone').val();  //연락처
            let post = $('#post').val();    //우편번호
            //주소 가공-------------
            let addr = $('#addr').val();
            let addr2 = $('#addrref').val();
            let realAddr = addr + " " + addr2;      //주소 + 참고항목
            //---------------------
            let addrDetail = $('#addrDtl').val();   //상세주소란

            //비밀번호 : 영문, 숫자 포함 6자리 이상
            let regPass = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/;

            //빈칸 검사
            if (id == '' || pw == '' || name == '' ||
                phone == '' || post == '' || addr == '' || pwChk == '') {
                Swal.fire({
                    icon: 'warning',
                    title: '필수입력 항목 미확인',
                    text: '필수입력란을 확인해주세요.',
                })

                return;
                //비밀번호 유효성검사
                // } else if (!regPass.test(pwChk) || !regPass.test(pw) || pwChk.length < 6 || pw.length < 6){
            } else if (!regPass.test(pw) || pw.length < 6) {
                Swal.fire({
                    icon: 'warning',
                    title: '입력 오류',
                    text: '영소문자,숫자로 구성된 6글자 이상으로 조합해주세요.',
                });
                return;
                //비밀번호 불일치 확인
            } else if (pw != pwChk) {
                Swal.fire({
                    icon: 'warning',
                    title: '비밀번호 불일치',
                    text: '동일한 비밀번호를 입력해주세요.',
                });
                return;
                //이메일(meId) 유효성검사
            } else {
                let data = {
                    meId: id,
                    pw: pw,
                    name: name,
                    phone: phone,
                    post: post,
                    addr: realAddr,
                    addrDetail: addrDetail
                }

                //ajax
                $.ajax({
                    type: "POST",
                    url: "/signUp",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (data) {
                        //확인이 눌리기도 전에 알림창이 사라진다.
                        Swal.fire({
                            icon: 'success',
                            title: '회원가입을 축하합니다!',
                            showConfirmButton: false,
                            timer: 1500
                        });

                        setTimeout(function () {
                            $(location).attr("href", "/");
                        }, 2000);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }); //end signUp

        //비밀번호 비교 체크
        $('#pw, #pwChk').on('change', function () {
            let pw = $('#pw').val();        //비밀번호
            let pwChk = $('#pwChk').val();  //비밀번호 확인
            console.log(pw);
            console.log(pwChk);

            if (pw === pwChk) {
                $("#pw_feedback").html('비밀번호 일치');
                $("#pw_feedback").attr('color', '#2fb380');
            } else {
                $("#pw_feedback").html('비밀번호 불일치');
                $("#pw_feedback").attr('color', '#dc3545');
            }
        });

        //중복검사 이벤트
        $('#meId').on('change', function (e) {
            let regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
            let id = $('#meId').val();
            $.ajax({
                url: "/idChk",
                type: "POST",
                data: { meId: id },
                success: function (data) {
                    if (!regex.test(id)) {
                        $("#id_feedback").html('형식이 올바르지 않습니다.');
                        $("#id_feedback").attr('color', '#dc3545');
                        //이메일 형식이 아니라면 버튼 비활성화, css 활성화, button 내용 변경
                        $('#signBtn').attr('disabled', true);
                        $('#signBtn').css("background-color", 'gray');
                        $('#signBtn').css("color", 'black');
                        $('#signBtn').html('가입불가');
                        return;
                    } else {
                        if (data !== 1) {
                            $("#id_feedback").html('사용할 수 있는 아이디입니다.');
                            $("#id_feedback").attr('color', '#2fb380');
                            //가입이 가능하면 버튼 활성화, css 제거, button 내용 변경
                            $('#signBtn').attr('disabled', false);
                            $('#signBtn').css("background-color", '');
                            $('#signBtn').css("color", '');
                            $('#signBtn').html('가입완료');
                            return;
                        } else {
                            $("#id_feedback").html('이미 사용중인 아이디입니다.');
                            //가입이 불가하면 버튼 비활성화, css 활성화, button 내용 변경
                            $("#id_feedback").attr('color', '#dc3545');
                            $('#signBtn').attr('disabled', true);
                            $('#signBtn').css("background-color", 'gray');
                            $('#signBtn').css("color", 'black');
                            $('#signBtn').html('가입불가');
                        }
                    };
                },
                error: function (rej) {
                    console.log(rej);
                }
            });
        });


        //다음 API
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("addrref").value = extraAddr;

                    } else {
                        document.getElementById("addrref").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('post').value = data.zonecode;
                    document.getElementById("addr").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addrDtl").focus();
                }
            }).open();
        }; // END 다음 카카오 API 


    </script>
</body>

</html>