<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<th:block th:fragment="navbarFragment">
<!--참고 : https://velog.io/@hellocdpa/220218-타임리프-레이아웃-나누기-->
<!--메뉴-->
<div class="col-md-4 col-lg-3 p-b-80 ">
    <div class="side-menu">
        <div class="p-t-55">
            <h4 class="mtext-112 cl2 p-b-20">
                나의 공간
            </h4>

            <ul>
                <li class="p-b-7">
                    <a href="mypage" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        주문관리
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="prodInterest.html" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        관심상품
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="pointList.html" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        적립금
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        후기관리
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        Q&amp;A관리
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        후기관리
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        게시글관리
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="userInfo" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        개인정보 수정
                    </a>
                </li>

                <li class="p-b-7">
                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                        출석체크
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End 메뉴-->