<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{../templates/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">

<div layout:fragment="content" style="width: 70%; margin: 0 auto;">

	<link href="./css/css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./css/reset.css">
	<link type="text/css" rel="stylesheet" href="./css/common.css">
	<link type="text/css" rel="stylesheet" href="./css/layer.css">
	<link type="text/css" rel="stylesheet" href="./css/mplshop_layer.css">
	<link type="text/css" rel="stylesheet" href="./css/layout.css">
	<link type="text/css" rel="stylesheet" href="./css/list.css">
	<link type="text/css" rel="stylesheet" href="./css/button.css">
	<link type="text/css" rel="stylesheet" href="./css/mplshop_button.css">
	<link type="text/css" rel="stylesheet" href="./css/board.css">
	<link type="text/css" rel="stylesheet" href="./css/chosen.css">
	<link type="text/css" rel="stylesheet" href="./css/mplshop_board.css">
	<link type="text/css" rel="stylesheet" href="./css/mplshop_button.css">

	<!-- Add style : start -->
	<link type="text/css" rel="stylesheet"
		href="./css/bootstrap-datetimepicker.min.css">
	<link type="text/css" rel="stylesheet"
		href="./css/bootstrap-datetimepicker-standalone.css">
	<!-- Add style : end -->

	<script type="text/javascript">
        var json_locale_data = { "domain": "messages", "locale_data": { "messages": { "": { "lang": "ATF", "plural-forms": "nplurals=1; plural=0" } } } }
    </script>
	<script type="text/javascript" src="./load/gd_gettext.js.다운로드"></script>
	<script type="text/javascript" src="./load/jquery.min.js.다운로드"></script>
	<script type="text/javascript" src="./load/siteInfo.js.다운로드"></script>
	<script type="text/javascript" src="./load/underscore-min.js.다운로드"></script>
	<script type="text/javascript" src="./load/jquery.validate.min.js.다운로드"></script>
	<script type="text/javascript"
		src="./load/additional-methods.min.js.다운로드"></script>
	<script type="text/javascript" src="./load/numeral.min.js.다운로드"></script>
	<script type="text/javascript" src="./load/accounting.min.js.다운로드"></script>
	<script type="text/javascript" src="./load/money.min.js.다운로드"></script>
	<script type="text/javascript" src="./load/chosen.jquery.min.js.다운로드"></script>
	<script type="text/javascript"
		src="./load/placeholders.jquery.min.js.다운로드"></script>
	<!--[if gt IE 8]-->
	<script type="text/javascript" src="./load/clipboard.min.js.다운로드"></script>
	<!--[endif]-->
	<script type="text/javascript" src="./load/jquery.vticker.js.다운로드"></script>
	<script type="text/javascript" src="./load/gd_ui.js.다운로드"></script>



	<script type="text/javascript" src="./load/gd_common.js.다운로드"></script>

	<!-- Add script : start -->
	<script type="text/javascript" src="./load/gd_visit.js(1).다운로드"></script>
	<script type="text/javascript" src="./load/gd_board_common.js.다운로드"></script>
	<script type="text/javascript" src="./load/moment.js.다운로드"></script>
	<script type="text/javascript" src="./load/ko.js.다운로드"></script>
	<script type="text/javascript"
		src="./load/bootstrap-datetimepicker.js.다운로드"></script>
	<!-- Add script : end -->



	<style type="text/css">
body {
	
}

/* body > #wrap > #header_warp : 상단 영역 */
#header_warp {
	
}

/* body > #wrap > #container : 메인 영역 */
#container {
	
}

/* body > #wrap > #footer_wrap : 하단 영역 */
#footer_wrap {
	
}
</style>
	<link type="text/css" rel="stylesheet" href="./css/common(1).css">
	<link type="text/css" rel="stylesheet" href="./css/layout(1).css">
	<link type="text/css" rel="stylesheet" href="./css/goods.css">
	<link type="text/css" rel="stylesheet" href="./css/icon.css">
	<link type="text/css" rel="stylesheet" href="./css/color.css">
	<link type="text/css" rel="stylesheet" href="./css/animation.css">
	<link type="text/css" rel="stylesheet"
		href="./css/jquery.topbanner.css">
	<link type="text/css" rel="stylesheet"
		href="./css/simpleLightbox.min.css">
	<link type="text/css" rel="stylesheet" href="./css/addtohomescreen.css">

	<script type="text/javascript"
		src="./load/modernizr.custom.97074.js.다운로드"></script>
	<script type="text/javascript" src="./load/jquery.hoverdir.js.다운로드"></script>
	<script type="text/javascript" src="./load/slick.js.다운로드"></script>
	<script type="text/javascript" src="./load/simpleLightbox.min.js.다운로드"></script>
	<script type="text/javascript"
		src="./load/jquery.nicescroll.min.js.다운로드"></script>

	<script type="text/javascript"
		src="./load/jquery.categorySlide.js.다운로드"></script>
	<script type="text/javascript"
		src="./load/jquery.contentsSlide.js.다운로드"></script>
	<script type="text/javascript" src="./load/jquery.topbanner.js.다운로드"></script>
	<script type="text/javascript" src="./load/jquery.bottomBanner.js.다운로드"></script>

	<script type="text/javascript" src="./load/common.js.다운로드"></script>
	<script type="text/javascript" src="./load/addtohomescreen.js.다운로드"></script>

	<link type="text/css" rel="stylesheet" href="./css/sub.css">
	<script type="text/javascript" src="./load/sub.js.다운로드"></script>
	<style>
input {
	width: 150px;
}
</style>
</head>



<body marginwidth="0" marginheight="0"
	class="body-board body-list pc productEffect"
	ondragstart="return false" onselectstart="return false"
	oncontextmenu="return false">

	<!--  <script>
        //메인슬라이드 모바일 이미지 적용설정
        var useMobileImage = true;
        //회원가입 포인트 문구 사용설정
        var useJoinPoint = true;
        //회원가입 포인트													
        var joinPoint = "2000원";
        //상품이미지 마우스오버시 확대
        var goodsThumb = true;
        /* 상품리스트 상단 슬라이드 사용설정  사용안할 경우 true = false 로 변경*/
        var subTopBannerUse = true;
        /*
            인스타그램 사용설정
            사용함 > instagramUse:true  // 사용안함 > instagramUse:false
        */
        var instagramUse = true;
        $(window).load(function () {
            /* 
                상단 탑배너 사용설정
                사용함 > operation:true  // 사용안함 > operation:false
            */
            $(".topBanner").Topbanner({
                operation: true,		//사용설정
                responsive: true,	//모바일이미지 사용설정
                responsiveSize: 700	//모바일이미지 적용 가로사이즈
            });
            if ($(".topBanner").find(".topBannerImage li").length < 1) { $(".topBanner").find(".topBannerDirectionNav").hide(); }
            /*
                하단 팝업 사용설정
                사용함 > operation:true  // 사용안함 > operation:false
            */
            $("#bottomBanner").bottomBanner({
                operation: true,   //사용설정
                bottom: 20,
                bottomSpace: 30
            });
            $(".bottomBannerImage .imageContents").slick({
                speed: 600,
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: false,
                dots: true,
                slidesToScroll: 1
            });
        });
        $(document).ready(function () {
            /* 이미지 타이틀 공백으로 변경 */
            $('img').attr('title', '');
        });
    </script>
 -->
	<style>
/* 상품 리스트 리뷰 카운트 미사용  display:none;  //  리뷰 카운트 사용  display:inline-block; */
.item_review_cnt {
	display: inline-block;
}

/* 상품 장바구니,wish 버튼  미사용  .item_link {display:none;}	  //  사용  공백으로 나두시기 바랍니다. .item_link {} */
.item_link {
	
}
</style>



		 <div class="container">
		 <div class="row">
		<th:block th:replace="layout/navbar :: navbarFragment"></th:block>
	<div class="content" style="width:700px;">
	
		<div class="board_zone_sec" style="
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;">
			<div class="board_zone_tit">
				<h2>1:1문의</h2>
			</div>
			<div class="board_zone_cont">
				<div class="board_zone_list">
					<!-- //date_check_box -->


					<div class="board_list_qa" align="center">
						<!--  <table class="board_list_table " style="width:100%" "="> -->
						<form>
							<table class="board_list_table" style="width: 100%">
								<colgroup>
									<col style="width: 16%">
									<!-- 문의날짜 -->
									<col style="width: 15%" class="widthDisplayNone">
									<!-- 카테고리 -->
									<col>
									<!-- 제목 -->
									<col style="width: 15%">
									<!-- 문의상태 -->

								</colgroup>
								<thead>
									<tr>
										<th style="padding-left: 35px;">문의날짜</th>
										<th style="padding-left: 35px;" class="widthDisplayNone">글번호</th>
										<th style="padding-left: 177px;">제목</th>
										<th style="padding-left: 39px;">상태</th>
									</tr>
								</thead>
								<tbody>
								
									<tr th:each="qna : ${qnaList}">
										<td th:text="${#dates.format(qna.regDt, 'yyyy-MM-dd HH:mm')}"></td>
										<td th:text="${qna.qstNo}" class="widthDisplayNone"></td>
										<td><a th:href="@{/QnaDetail(qstNo=${qna.qstNo})}" th:text="${qna.title}"></a></td>

										<td th:text="${qna.qstStatus}"></td>
									</tr>
								 	<tr th:if="${qnaList.isEmpty()}">
										<td colspan="5" align="center">게시글이 존재하지 않습니다.</td>
									</tr> 
								</tbody>
							</table>
						</form>
					</div>
					<!-- //board_list_qa -->
					<div class="pagination">
						<ul></ul>
					</div>
					<!-- //pagination -->
				</div>
				<!-- //board_zone_list -->
			<a href="QnaForm">
				<div class="btn_right_box">
					<!-- <button type="button" class="btn_write"
						onclick="gd_btn_write(&#39;qa&#39;)">
						<strong>1:1 문의하기</strong>
					</button> -->
				</div>
				</a>
			</div>
			<!-- //board_zone_cont -->

		</div>
		<!-- //board_zone_sec -->

		<!--         <form id="frmWritePassword">
            <div id="lyPassword" class="dn layer_wrap password_layer" style="height: 226px">
                <div class="layer_wrap_cont">
                    <div class="ly_tit">
                        <h4>비밀번호 인증</h4>
                    </div>
                    <div class="ly_cont">
                        <div class="scroll_box">
                            <p>비밀번호를 입력해 주세요.</p>
                            <input type="password" name="writerPw" class="text">
                        </div>
                        //
                        <div class="btn_center_box">
                            <button type="button" class="btn_ly_password js_submit"><strong>확인</strong></button>
                        </div>
                    </div>
                    //ly_cont
                    <a href=""
                        class="ly_close layer_close"><img src="./btn_layer_close.png" alt="닫기" title=""></a>
                </div>
                //layer_wrap_cont
            </div>
            //layer_wrap
        </form> -->

		<div id="layerDim" class="dn">&nbsp;</div>
		<!--         <script>
            $(document).ready(function () {
                $('img.js_image_load').error(function () {
                    $(this).css('background', 'url("./data/skin/front/mplshop/board/skin/qa/img/etc/noimg.png") no-repeat center center');
                    $(this).attr('src', './data/skin/front/mplshop/_mplshop/images/noimg.png');
                })
                    .each(function () {
                        $(this).attr("src", $(this).attr("src"));
                    })
            });
        </script> -->
		<script>
        
        </script>
		<script type="text/javascript">
            $(function () {
                // 인풋박스 선택 이벤트
                if ($('.js_datepicker').length) {
                    $('.js_datepicker').datetimepicker({
                        locale: 'ko',
                        format: 'YYYY-MM-DD',
                        dayViewHeaderFormat: 'YYYY MM',
                        viewMode: 'days',
                        ignoreReadonly: true,
                        debug: false,
                        keepOpen: false
                    });
                    //$('.check-cal img').click(function(e){
                    //	$(this).prev('.js-datepicker').data('DateTimePicker').show();
                    //});
                }

                // 기간버튼 선택 이벤트
                if ($('.date_check_list').length) {
                    $('.date_check_list button').click(function (e) {
                        $startDate = $endDate = '';
                        $period = $(this).data('value');
                        $elements = $('input[name="' + $(this).closest('.date_check_list').data('target-name') + '"]');
                        $format = $($elements[0]).data('DateTimePicker').format();
                        if ($period >= 0) {
                            $startDate = moment().hours(0).minutes(0).seconds(0).subtract($period, 'days').format($format);
                            $endDate = moment().hours(0).minutes(0).seconds(0).format($format);
                        }
                        $($elements[0]).val($startDate);
                        $($elements[1]).val($endDate);
                        $('.date_check_list button').removeClass('on');
                        $(this).addClass('on');
                    });

                    // 선택된 버튼에 따른 값 초기화
                    $elements = $('input[name*=\'' + $('.date_check_list').data('target-name') + '\']');
                    if ($elements.length && $elements.val() != '') {
                        $interval = moment($($elements[1]).val()).diff(moment($($elements[0]).val()), 'days');
                        $('.date_check_list').find('button[data-value="' + $interval + '"]').trigger('click');
                    } else {
                        $('.date_check_list').find('button[data-value="-1"]').trigger('click');
                    }
                }

                // 조회기간 검증            
                $('form[name="frmSearch"]').submit(function (e) {
                    $chekcInputDate = $('input[name="rangDate[]"]');
                    var startDate = ($($chekcInputDate[0]).val()).split('-');
                    startDate = new Date(startDate[0], startDate[1], startDate[2]);
                    var endDate = ($($chekcInputDate[1]).val()).split('-');
                    endDate = new Date(endDate[0], endDate[1], endDate[2]);

                    if (startDate > endDate) {
                        alert('종료 날짜가 시작 날짜보다 빠릅니다.\n확인 후 검색기간을 다시 선택해주세요.');
                        return false;
                    }
                });
            });
        </script>
        
		<script type="text/javascript" src="./load/gd_board_list.js.다운로드"
			charset="utf-8"></script>
	</div>
	<!-- //content -->
	<!-- 절대! 지우지마세요 : Start -->
	<iframe name="ifrmProcess" src="./blank(1).html" style="display: none"
		width="900" height="500"></iframe>
	<!-- 절대! 지우지마세요 : End -->
</div>
</div>
</body>

</html>