<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{../templates/layout}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>반려동물쇼핑몰</title>
      <div layout:fragment="content">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">


    <link rel="apple-touch-icon-precomposed" href="https://www.gegomall.com/data/commonimg/defaultShopIcon.png">
    <link rel="shortcut icon" href="https://www.gegomall.com/data/commonimg/defaultShopIcon.png">

    <link href="./css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="css/layer.css">
    <link type="text/css" rel="stylesheet" href="css/mplshop_layer.css">
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" rel="stylesheet" href="css/list.css">
    <link type="text/css" rel="stylesheet" href="css/button.css">
    <link type="text/css" rel="stylesheet" href="css/mplshop_button.css">
    <link type="text/css" rel="stylesheet" href="css/board.css">
    <link type="text/css" rel="stylesheet" href="css/chosen.css">
    <link type="text/css" rel="stylesheet" href="css/mplshop_board.css">
    <link type="text/css" rel="stylesheet" href="css/mplshop_button.css">

    <!-- Add style : start -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-datetimepicker-standalone.css">
    <!-- Add style : end -->

    <script type="text/javascript">
        var json_locale_data = { "domain": "messages", "locale_data": { "messages": { "": { "lang": "ATF", "plural-forms": "nplurals=1; plural=0" } } } }
    </script>
    <script type="text/javascript" src="./gd_gettext.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.min.js.다운로드"></script>
    <script type="text/javascript" src="./siteInfo.js.다운로드"></script>
    <script type="text/javascript" src="./underscore-min.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.validate.min.js.다운로드"></script>
    <script type="text/javascript" src="./additional-methods.min.js.다운로드"></script>
    <script type="text/javascript" src="./numeral.min.js.다운로드"></script>
    <script type="text/javascript" src="./accounting.min.js.다운로드"></script>
    <script type="text/javascript" src="./money.min.js.다운로드"></script>
    <script type="text/javascript" src="./chosen.jquery.min.js.다운로드"></script>
    <script type="text/javascript" src="./placeholders.jquery.min.js.다운로드"></script>
    <!--[if gt IE 8]-->
    <script type="text/javascript" src="./clipboard.min.js.다운로드"></script>
    <!--[endif]-->
    <script type="text/javascript" src="./jquery.vticker.js.다운로드"></script>
    <script type="text/javascript" src="./gd_ui.js.다운로드"></script>

    <script type="text/javascript">
        // 고도몰5 상점대표 도메인
        var gdGlobalHomeUri = 'http://m.gegomall.com/';

        // 고도몰5 통화정책
        var gdCurrencyDecimal = 0;
        var gdCurrencyDecimalFormat = '0';
        var gdCurrencyCode = 'KRW';
        var gdCurrencyAddDecimal = 0;
        var gdCurrencyAddDecimalFormat = '';
        var gdCurrencyAddCode = '';
        var gdLocale = 'ko';
        var gdCurrencySymbol = '';
        var gdCurrencyString = '원';

        // 환율변환 정책
        fx.base = "KRW";
        fx.settings = {
            from: "KRW",
            to: gdCurrencyCode
        };
        fx.rates = {
            "KRW": 1,
            "USD": 0.001,
            "CNY": 0.010,
            "JPY": 0.100,
            "EUR": 0.001,
        }
    </script>

    <script type="text/javascript" src="./gd_common.js.다운로드"></script>

    <!-- Add script : start -->
    <script type="text/javascript" src="./gd_visit.js(1).다운로드"></script>
    <script type="text/javascript" src="./gd_board_common.js.다운로드"></script>
    <script type="text/javascript" src="./moment.js.다운로드"></script>
    <script type="text/javascript" src="./ko.js.다운로드"></script>
    <script type="text/javascript" src="./bootstrap-datetimepicker.js.다운로드"></script>
    <!-- Add script : end -->



    <style type="text/css">
        body {}

        /* body > #wrap > #header_warp : 상단 영역 */
        #header_warp {}

        /* body > #wrap > #container : 메인 영역 */
        #container {}

        /* body > #wrap > #footer_wrap : 하단 영역 */
        #footer_wrap {}
    </style>
    <link type="text/css" rel="stylesheet" href="./common(1).css">
    <link type="text/css" rel="stylesheet" href="./layout(1).css">
    <link type="text/css" rel="stylesheet" href="./goods.css">
    <link type="text/css" rel="stylesheet" href="./icon.css">
    <link type="text/css" rel="stylesheet" href="./color.css">
    <link type="text/css" rel="stylesheet" href="./animation.css">
    <link type="text/css" rel="stylesheet" href="./jquery.topbanner.css">
    <link type="text/css" rel="stylesheet" href="./simpleLightbox.min.css">
    <link type="text/css" rel="stylesheet" href="./addtohomescreen.css">

    <script type="text/javascript" src="./modernizr.custom.97074.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.hoverdir.js.다운로드"></script>
    <script type="text/javascript" src="./slick.js.다운로드"></script>
    <script type="text/javascript" src="./simpleLightbox.min.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.nicescroll.min.js.다운로드"></script>

    <script type="text/javascript" src="./jquery.categorySlide.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.contentsSlide.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.topbanner.js.다운로드"></script>
    <script type="text/javascript" src="./jquery.bottomBanner.js.다운로드"></script>

    <script type="text/javascript" src="./common.js.다운로드"></script>
    <script type="text/javascript" src="./addtohomescreen.js.다운로드"></script>

    <link type="text/css" rel="stylesheet" href="./sub.css">
    <script type="text/javascript" src="./sub.js.다운로드"></script>

</head>

<body marginwidth="0" marginheight="0" class="body-board body-list pc productEffect" ondragstart="return false"
    onselectstart="return false" oncontextmenu="return false">
    <div id="basicInfo">

        <!-- 고객센터 정보-->


        <!-- 입금계좌 정보 -->


        <!-- 
        상단 커뮤니티 / 커뮤니티 메인 / 하단 BOARD 공통

        해당 부분을 사용 안하실 경우 <li> ~ </li> 부분을 주석 처리하시거나 삭제하시기 바랍니다.
        메뉴를 더추가하실 경우는 <li> ~ </li> 형태를 복사하여 반복시키시면 추가 가능합니다. 
    -->

        <!-- 
        하단 FAVORITE 링크

        해당 부분을 사용 안하실 경우 <li> ~ </li> 부분을 주석 처리하시거나 삭제하시기 바랍니다.
        메뉴를 더추가하실 경우는 <li> ~ </li> 형태를 복사하여 반복시키시면 추가 가능합니다. 
    -->

        <!-- 
        모바일 추가 메뉴 윗 부분

        해당 추가메뉴를 사용안하실 경우는 아래 <div class="addCategory1">~~ </div> 전체영역을 주석처리하시기 바랍니다.
        추가메뉴 등록,삭제는 <li>~</li> 반복 부분을 추가하시거나 삭제하시기 바랍니다.
    -->
        <!--<div class="addCategory1">
		<ul>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
			<li><a href="#">추가매뉴1</a></li>
            <li><a href="#">추가매뉴1</a></li>
		</ul>
	</div>-->

        <!-- 
        모바일 추가 메뉴 아랫 부분

        해당 추가메뉴를 사용안하실 경우는 아래 <div class="addCategory2">~~ </div> 전체영역을 주석처리하시기 바랍니다.
        추가메뉴 등록,삭제는 <li>~</li> 반복 부분을 추가하시거나 삭제하시기 바랍니다.
    -->
        <!--<div class="addCategory2">
		<ul>
			<li><a href="#">추가매뉴2</a></li>
			<li><a href="#">추가매뉴2</a></li>
		</ul>
	</div>-->

        <!-- 
        카테고리 마우스 오버시 이미지 노출 부분        
    -->
        <div class="categoryBannerArea">
            <!--
        예) 대메뉴 갯수 10개 아래 <div>~</div> 부분 10개
        첫번째 대메뉴 하위에 배너를 삽입할경우 
        첫번째 <div></div> 반복되는 부분에 배너 삽입 
        예) <div><a href="#"><img src="https://cdn-pro-web-218-5.cdn-nhncommerce.com/gegomatr6642_godomall_com/data/skin/front/mplshop/_mplshop/images/category/q_navi_over4.jpg" alt="" /></a></div>
            ftp 주소 > skin > front > 작업폴더(mplshop) > _mplshop > images > category  폴더에 업로드
        대메뉴에 배너가 없을 경우는 <div></div>
        
        배너링크 :  <a href="연결되는 주소 삽입">
        -->
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over7.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over8.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over9.jpg" alt="" title=""></a></div>
            <div></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over10.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over11.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over12.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over13.jpg" alt="" title=""></a></div>
            <div><a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#"><img
                        src="./q_navi_over14.jpg" alt="" title=""></a></div>
        </div>
    </div>

    <script>
        //메인슬라이드 모바일 이미지 적용설정
        var useMobileImage = true;
        //회원가입 포인트 문구 사용설정
        var useJoinPoint = true;
        //회원가입 포인트													
        var joinPoint = "2000원";
        //상품이미지 마우스오버시 확대
        var goodsThumb = true;
        /* 상품리스트 상단 슬라이드 사용설정  사용안할 경우 true = false 로 변경*/
        var subTopBannerUse = true;
        /*
            인스타그램 사용설정
            사용함 > instagramUse:true  // 사용안함 > instagramUse:false
        */
        var instagramUse = true;
        $(window).load(function () {
            /* 
                상단 탑배너 사용설정
                사용함 > operation:true  // 사용안함 > operation:false
            */
            $(".topBanner").Topbanner({
                operation: true,		//사용설정
                responsive: true,	//모바일이미지 사용설정
                responsiveSize: 700	//모바일이미지 적용 가로사이즈
            });
            if ($(".topBanner").find(".topBannerImage li").length < 1) { $(".topBanner").find(".topBannerDirectionNav").hide(); }
            /*
                하단 팝업 사용설정
                사용함 > operation:true  // 사용안함 > operation:false
            */
            $("#bottomBanner").bottomBanner({
                operation: true,   //사용설정
                bottom: 20,
                bottomSpace: 30
            });
            $(".bottomBannerImage .imageContents").slick({
                speed: 600,
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: false,
                dots: true,
                slidesToScroll: 1
            });
        });
        $(document).ready(function () {
            /* 이미지 타이틀 공백으로 변경 */
            $('img').attr('title', '');
        });
    </script>
    <style>
        /* 상품 리스트 리뷰 카운트 미사용  display:none;  //  리뷰 카운트 사용  display:inline-block; */
        .item_review_cnt {
            display: inline-block;
        }

        /* 상품 장바구니,wish 버튼  미사용  .item_link {display:none;}	  //  사용  공백으로 나두시기 바랍니다. .item_link {} */
        .item_link {}
    </style>


	<div class="container">
    <div class="content">

        <!-- //board_zone_sec -->
        <div class="board_zone_sec">
            <div class="board_zone_tit">
                <h2>1:1문의</h2>
            </div>
            <div class="board_zone_cont">
                <div class="board_zone_view">

                    <div class="board_view_tit">
                        <h3>
                            제목:[[${QnaDetail.title}]]
                        </h3>
                    </div>
                    <div class="board_view_info">
                        <span class="view_info_idip">
                            <strong>작성자:[[${QnaDetail.meId}]]</strong>
                        <span class="view_info_hits widthDisplayNone">
                    </div>
                    <!-- //board_view_info -->



                    <div class="board_view_content">

                        <div class="view_goods_select">


                        </div>
                        <!-- //view_goods_select -->

                        <div class="board_view_qa">
                            <div class="view_question_box">
                                <strong class="view_question_tit" >Q.</strong>
                                <span class="Viewer" th:utext="${QnaDetail.content}"/>
                                <div class="seem_cont">
                                    <div style="margin:10px 0 10px 0">
                                        <p></p>
                                    </div>
                                </div>
                                <!-- //seem_cont -->
                            </div>

                        </div>
                        <!-- //board_view_qa -->

                    </div>
                    <!-- //board_view_content -->

                    <div class="board_view_comment">

                        <div class="view_comment js_comment_area" data-bdid="qa" data-sno="18060">

                        </div>

                    </div>
                    <!-- //board_view_comment -->

                </div>
                <!-- //board_zone_view -->
                <div>
                <div class="col-lg-6 col-xl-12 m-lr-auto m-b-20 p-t-20 p-b-20 border" th:each="qna: ${qnaReply}">
                <h5 style="display:inline-block;">작성자: [[${qna.name}]] /작성일: <span th:text="${#dates.format(qna.regDt, 'yyyy-MM-dd HH:mm')}"></span></h5> 
             <!--  <button type="button" class="btn btnPush btnRed" onclick="deleteReply(${data[i].commentId},'${data[i].meId}');" style="display:inline-block; float:right; margin-top:0px">삭제</button>` : ''} -->
                <hr>
                <div class="Viewer">[[${qna.subject}]]
                </div>
              </div>
                </div>

                <div class="btn_right_box">
<!--                     <button type="button" class="btn_board_del"
                        onclick="gd_btn_delete('qa',18060,'y')"><strong>삭제</strong></button><button type="button"
                        class="btn_board_edit"
                        onclick="gd_btn_modify_write('qa',18060,'y')"><strong>수정</strong></button> -->
                        <a href="QnaList" class="btn_board_list">
                        <button type="button"><strong>목록</strong></button></a>
                </div>

            </div>
            <!-- //board_zone_cont -->

            <!-- N : 관련게시글 영역 시작 -->
            <div class="board_zone_cont">
                <div class="board_zone_list">
                    <table class="board_list_table">
                        <colgroup>
                            <col style="width:6%"> <!-- 번호 -->
                            <col> <!-- 제목 -->
                            <col style="width:15%"> <!-- 추천 -->
                            <col style="width:10%"> <!-- 조회 -->
                        </colgroup>
                        <thead style="display:none;">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>날짜</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <!-- //board_zone_list -->
            </div>
            <!-- //board_zone_cont -->
            <!-- N : 관련게시글 영역 끝 -->

            <!-- N : 리스트화면 노출 시작 -->
            <!-- N : 리스트화면 노출 끝 -->

        </div>
        <form id="frmWritePassword">
            <div id="lyPassword" class="dn layer_wrap password_layer" style="height: 226px">
                <div class="layer_wrap_cont">
                    <div class="ly_tit">
                        <h4>비밀번호 인증</h4>
                    </div>
                    <div class="ly_cont">
                        <div class="scroll_box">
                            <p>비밀번호를 입력해 주세요.</p>
                            <input type="password" name="writerPw" class="text">
                        </div>
                        <!-- // -->
                        <div class="btn_center_box">
                            <button type="button" class="btn_ly_password js_submit"><strong>확인</strong></button>
                        </div>
                    </div>
                    <!-- //ly_cont -->
                    <a href="https://www.gegomall.com/board/list.php?bdId=qa&amp;noheader=y&amp;memNo=51481#close"
                        class="ly_close layer_close"><img src="./btn_layer_close.png" alt="닫기" title=""></a>
                </div>
                <!-- //layer_wrap_cont -->
            </div>
            <!-- //layer_wrap -->
        </form>

        <div id="layerDim" class="dn">&nbsp;</div>
        </div>
        <script>
            $(document).ready(function () {
                $('img.js_image_load').error(function () {
                    $(this).css('background', 'url("/data/skin/front/mplshop/board/skin/qa/img/etc/noimg.png") no-repeat center center');
                    $(this).attr('src', '/data/skin/front/mplshop/_mplshop/images/noimg.png');
                })
                    .each(function () {
                        $(this).attr("src", $(this).attr("src"));
                    })
            });
        </script>
        <script type="text/javascript">
            $(function () {
                // 인풋박스 선택 이벤트
                if ($('.js_datepicker').length) {
                    $('.js_datepicker').datetimepicker({
                        locale: 'ko',
                        format: 'YYYY-MM-DD',
                        dayViewHeaderFormat: 'YYYY MM',
                        viewMode: 'days',
                        ignoreReadonly: true,
                        debug: false,
                        keepOpen: false
                    });
                    //$('.check-cal img').click(function(e){
                    //	$(this).prev('.js-datepicker').data('DateTimePicker').show();
                    //});
                }

                // 기간버튼 선택 이벤트
                if ($('.date_check_list').length) {
                    $('.date_check_list button').click(function (e) {
                        $startDate = $endDate = '';
                        $period = $(this).data('value');
                        $elements = $('input[name="' + $(this).closest('.date_check_list').data('target-name') + '"]');
                        $format = $($elements[0]).data('DateTimePicker').format();
                        if ($period >= 0) {
                            $startDate = moment().hours(0).minutes(0).seconds(0).subtract($period, 'days').format($format);
                            $endDate = moment().hours(0).minutes(0).seconds(0).format($format);
                        }
                        $($elements[0]).val($startDate);
                        $($elements[1]).val($endDate);
                        $('.date_check_list button').removeClass('on');
                        $(this).addClass('on');
                    });

                    // 선택된 버튼에 따른 값 초기화
                    $elements = $('input[name*=\'' + $('.date_check_list').data('target-name') + '\']');
                    if ($elements.length && $elements.val() != '') {
                        $interval = moment($($elements[1]).val()).diff(moment($($elements[0]).val()), 'days');
                        $('.date_check_list').find('button[data-value="' + $interval + '"]').trigger('click');
                    } else {
                        $('.date_check_list').find('button[data-value="-1"]').trigger('click');
                    }
                }

                // 조회기간 검증            
                $('form[name="frmSearch"]').submit(function (e) {
                    $chekcInputDate = $('input[name="rangDate[]"]');
                    var startDate = ($($chekcInputDate[0]).val()).split('-');
                    startDate = new Date(startDate[0], startDate[1], startDate[2]);
                    var endDate = ($($chekcInputDate[1]).val()).split('-');
                    endDate = new Date(endDate[0], endDate[1], endDate[2]);

                    if (startDate > endDate) {
                        alert('종료 날짜가 시작 날짜보다 빠릅니다.\n확인 후 검색기간을 다시 선택해주세요.');
                        return false;
                    }
                });
            });
        </script>
        <script type="text/javascript" src="./gd_board_list.js.다운로드" charset="utf-8"></script>
    </div>
    <!-- //content -->
    <!-- 절대! 지우지마세요 : Start -->
    <iframe name="ifrmProcess" src="./blank(1).html" style="display:none" width="900" height="500"></iframe>
    <!-- 절대! 지우지마세요 : End -->


</body>

</html>