<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="./smarteditor2/js/HuskyEZCreator.js" charset="utf-8"></script>

</head>

<body>

	<textarea name="content" id="content" rows="10" cols="100" style="width:766px; height:412px;">
  </textarea>
	<script type="text/javascript">
		var oEditors = [];

		nhn.husky.EZCreator.createInIFrame({
			oAppRef: oEditors,
			elPlaceHolder: "content",
			sSkinURI: "./smarteditor2/SmartEditor2Skin.html",
			fCreator: "createSEditor2"
		});
	</script>
</body>


</html>