<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.board.mapper.BoardMapper">
	<select id="showArticle" resultType="BoardTestVO">
		select * from board_test where no=#{no}
	</select>
	<insert id="insertArticle"
		parameterType="BoardTestVO">
		insert into board_test
		values(#{no},#{title},#{contents})
	</insert>
	
	<insert id="insertKnowhowArticle"
		parameterType="BoardTestVO">
		insert into knowhow_board
		(BO_NO,TITLE,SUBJECT,ME_ID)
		values(
		(select TO_NUMBER(NVL(MAX(BO_NO),0))+1 BO_NO from knowhow_board)
		,#{title}
		,#{subject}
		,#{meId})
	</insert>
	
	<select id="knowHowList" resultType="BoardVO">
		select * from (	select rownum as rn,a.*
				from (select bo_no,title,reg_dt,view_cnt,me_id 
                from knowhow_board order by bo_no desc) a
				)
		where RN between (#{page}-1)*10 and #{page}*10
	</select>
	
	<select id="showKnowHow" resultType="BoardVO">
		select * from knowhow_board where bo_no=#{boNo}
	</select>
	
	<select id="knowHowMaxPage" resultType="int">
		select count(*)
		from knowhow_board 
	</select>
	
	<select id="getknowHowReply" resultType="BoardVO">
		select * from reply 
		where DIVISION = 'DR2' and NO=#{boNo} and RE IS NULL
	</select>
	
</mapper>