<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.board.mapper.BoardMapper">
	<select id="showArticle" resultType="BoardTestVO">
		select * from board_test where no=#{no}
	</select>
	<insert id="insertArticle"
		parameterType="BoardTestVO">
		insert into board_test
		values(#{no},#{title},#{contents})
	</insert>
	
	<insert id="insertKnowhowArticle"
		parameterType="BoardVO">
		insert into knowhow_board
					(BO_NO,
					TITLE,
					SUBJECT,
					ME_ID)
		values(
					(select TO_NUMBER(NVL(MAX(BO_NO),0))+1 BO_NO from knowhow_board)
					,#{title}
					,#{subject}
					,#{meId})
	</insert>
	
	<select id="knowHowList" resultType="BoardVO">
select *  from ( select rownum as rn,a.*   from (

				   select bo_no,title,reg_dt,view_cnt,me_id 
                    from knowhow_board 
                   where title Like '%'||#{keyword}||'%'
                   order by bo_no desc
                          
) a	) where RN between (#{page}-1)*10 and #{page}*10
	</select>
	
	<select id="showKnowHow" resultType="BoardVO">
		select * from knowhow_board where bo_no=#{boNo}
	</select>
	
	<select id="knowHowMaxPage" resultType="int">
		select count(*)
		from knowhow_board 
		where title Like '%'||#{keyword}||'%'
	</select>
	
	<select id="getknowHowReply" resultType="BoardVO">
		select * from reply 
		where DIVISION = 'DR2' 
		  and BO_NO=#{boNo} 
		  and RE IS NULL
		ORDER BY comment_id desc
	</select>
	
	<insert id="insertKnowHowReply" parameterType="BoardVO">
		insert into reply
		(comment_id,me_id,subject,division,bo_no)
		values(reply_seq.nextval,#{meId},#{subject},'DR2',#{boNo})
	</insert>
	
	<update id="KnowHowAddhit" parameterType="int">
		update KNOWHOW_BOARD set view_cnt=view_cnt+1 where BO_NO = #{boNo}
	</update>
	
	<delete id="delKnowHow" parameterType="int">
		delete KNOWHOW_BOARD where BO_NO = #{boNo}
	</delete>
	
	<delete id="delKnowHow2" parameterType="int">
		delete REPLY where  BO_NO = #{boNo} and DIVISION = 'DR2'
	</delete>
	
	<select id="getKnowHowWriter" parameterType="int" resultType="String">
		select ME_ID FROM KNOWHOW_BOARD where BO_NO = #{boNo}
	</select>
	
	<update id="updateKnowHow" parameterType="BoardVO">
		UPDATE KNOWHOW_BOARD SET title=#{title},subject=#{subject} WHERE BO_NO=#{boNo}
	</update>
	
	<delete id="delKnowHowReply" parameterType="int">
		delete REPLY where comment_id=#{commentId} and DIVISION = 'DR2'
	</delete>
	
	<!-- 은애!!!!!! -->
	<select id="getBoardAllList" resultType="BoardVO">
		SELECT * FROM ( SELECT ROWNUM AS rn, a.*
		                FROM(
	                            SELECT
	                            	get_common(bo_type) bo_type,
	                            	bo_no,
	                                title,
	                                subject,
	                                reg_dt,
	                                view_cnt
	                            FROM board
	                            WHERE 1=1
	                            AND me_id = #{meId}
	                            AND title LIKE '%' || #{keyword} || '%'
	                            <if test="boType != null and !boType.equals('')">
	                            AND bo_type = #{boType}
	                            </if>
	                            ORDER BY bo_no DESC) a
		                )
		WHERE RN between (#{page}-1)*10 and #{page}*10
	</select>
	
	<select id="boardAllMaxPage" resultType="int">
		SELECT count(*)
		FROM board 
		WHERE 1=1
		AND title LIKE '%'||#{keyword}||'%'
		AND me_id = #{meId}
	</select>
	
	
</mapper>