<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.board.mapper.BoardMapper">
	<select id="showArticle" resultType="BoardTestVO">
		select * from board_test where no=#{no}
	</select>
	<insert id="insertArticle"
		parameterType="BoardTestVO">
		insert into board_test
		values(#{no},#{title},#{contents})
	</insert>
	
	<!-- 은애수정 2023/05/18 , 지식공유게시판 글작성 -->
	<insert id="insertKnowhowArticle" parameterType="BoardVO">
		INSERT INTO board
					(BO_NO,
					 TITLE,
					 SUBJECT,
					 ME_ID,
					 bo_type)
		VALUES(
					(SELECT TO_NUMBER(NVL(MAX(bo_no),0))+1 bo_no FROM board)
					,#{title}
					,#{subject}
					,#{meId}
					,'BY1')
	</insert>
	
	<!-- 은애수정 2023/05/18 , 지식공유게시판 전체조회 -->
	<select id="knowHowList" resultType="BoardVO">
		SELECT *  FROM ( SELECT ROWNUM AS rn,a.*
		                 FROM (
		                       SELECT bo_no,title,reg_dt,view_cnt,me_id 
		                       FROM board 
		                       WHERE title LIKE '%'||''||'%'
		                       AND bo_type = 'BY1'
		                       ORDER BY bo_no DESC
		) a	) WHERE RN BETWEEN (#{page}-1)*10 and #{page}*10
	</select>
	
	<!-- 은애수정 2023/05/18 -->
	<select id="showKnowHow" resultType="BoardVO">
		SELECT * FROM board WHERE bo_no=#{boNo}
	</select>
	
	<!-- 은애수정 2023/05/18, 지식공유게시판 글 개수 -->
	<select id="knowHowMaxPage" resultType="int">
		SELECT COUNT(*)
		FROM board
		WHERE title LIKE '%'|| #{keyword} ||'%'
		AND bo_type = 'BY1'
	</select>
	
	<select id="getknowHowReply" resultType="BoardVO">
		SELECT * from reply 
		WHERE DIVISION = 'DR2' 
		  AND BO_NO=#{boNo} 
		  AND RE IS NULL
		ORDER BY comment_id desc
	</select>
	
	<!-- 은애수정 2023/05/18 -->
	<insert id="insertKnowHowReply" parameterType="BoardVO">
		INSERT INTO reply
			(comment_id,me_id,subject,division,bo_no)
		VALUES
			(reply_seq.nextval,#{meId},#{subject},'DR2',#{boNo})
	</insert>
	
	<!-- 은애수정 2023/05/18 -->
	<update id="KnowHowAddhit" parameterType="int">
		UPDATE board SET view_cnt=view_cnt+1 WHERE BO_NO = #{boNo}
	</update>
	
	<!-- 은애수정 2023/05/18 -->
	<delete id="delKnowHow" parameterType="int">
		DELETE board WHERE bo_no = #{boNo}
	</delete>
	
	<delete id="delKnowHow2" parameterType="int">
		DELETE reply WHERE BO_NO = #{boNo} AND DIVISION = 'DR2'
	</delete>
	
	<!-- 은애수정 2023/05/19 -->
	<select id="getKnowHowWriter" parameterType="int" resultType="String">
		SELECT ME_ID FROM board WHERE BO_NO = #{boNo} AND bo_type = 'BY1'
	</select>
	
	<!-- 은애수정 2023/05/18 -->
	<update id="updateKnowHow" parameterType="BoardVO">
		UPDATE board
			SET title = #{title}, subject = #{subject}
		WHERE bo_no = #{boNo}
	</update>
	
	<delete id="delKnowHowReply" parameterType="int">
		DELETE REPLY WHERE comment_id=#{commentId} AND DIVISION = 'DR2'
	</delete>
	
	<!-- 은애!!!!!! -->
	<select id="getBoardAllList" resultType="BoardVO">
		SELECT * FROM ( SELECT ROWNUM AS rn, a.*
		                FROM(
	                            SELECT
	                            	get_common(bo_type) bo_type,
	                            	bo_no,
	                                title,
	                                subject,
	                                reg_dt,
	                                view_cnt
	                            FROM board
	                            WHERE 1=1
	                            AND me_id = #{meId}
	                            AND title LIKE '%' || #{keyword} || '%'
	                            <if test="boType != null and !boType.equals('')">
	                            AND bo_type = #{boType}
	                            </if>
	                            ORDER BY bo_no DESC) a
		                )
		WHERE RN between (#{page}-1)*10 and #{page}*10
	</select>
	
	<select id="boardAllMaxPage" resultType="int">
		SELECT count(*)
		FROM board 
		WHERE 1=1
		AND title LIKE '%'||#{keyword}||'%'
		AND me_id = #{meId}
	</select>
	
	<!-- 이것은 분양게시판입니다!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	<select id="adoptAllList" resultType="BoardVO">
		SELECT *  FROM ( SELECT ROWNUM AS rn, a.*
		                 FROM (
		                       SELECT bo.bo_no, title, reg_dt, view_cnt, me_id,
		                       		  get_common(breed) breed, get_common(city) city, get_common(sex) sex, get_common(pet_type) pet_type,
		                       		  phone, get_common(status) status
		                         FROM board bo
		                         JOIN adopt ad
		                           ON bo.bo_no = ad.bo_no
		                        WHERE 1=1
		                          AND bo_type = 'BY2'
		                         <if test="petType != null and !petType.equals('')">
		                          AND pet_type = #{petType}
		                         </if>
		                         <if test="breed != null and !breed.equals('')">
  		                          AND breed = #{breed}
		                         </if>
		                         <if test="sex != null and !sex.equals('')">
		                          AND sex = #{sex}
		                         </if>
		                         <if test="city != null and !city.equals('')">
		                          AND city = #{city}
		                         </if>
		                       ORDER BY bo_no DESC
		) a	) WHERE RN BETWEEN (#{page}-1)*10 and #{page}*10
	</select>
	
	<select id="adoptMaxPage" resultType="int">
		SELECT COUNT(*)
		  FROM board bo
		  JOIN adopt ad
            ON bo.bo_no = ad.bo_no
		 WHERE 1=1
		   AND bo_type = 'BY2'
		<if test="petType != null and !petType.equals('')">
           AND pet_type = #{petType}
        </if>
        <if test="breed != null and !breed.equals('')">
           AND breed = #{breed}
        </if>
        <if test="sex != null and !sex.equals('')">
           AND sex = #{sex}
        </if>
        <if test="city != null and !city.equals('')">
           AND city = #{city}
        </if>
	</select>
	
	<!-- 분양게시판 단건조회 -->
	<select id="adoptDetail" resultType="BoardVO">
		SELECT 
	        bo.bo_no,
	        adopt_id,
	        get_common(pet_type) pet_type,
	        get_common(breed) breed,
	        get_common(sex) sex,
	        get_common(city) city,
	        get_common(status) status,
	        netuered,
	        age,
	        phone,
	        charge,
            title,
	        subject,
	        reg_dt,
	        view_cnt,
	        me_id
		FROM board bo 
		JOIN adopt ad
		ON bo.bo_no = ad.bo_no
		WHERE bo.bo_no = #{boNo}
		AND bo_type = 'BY2'
	</select>
	
	<!-- 게시글 수정할 때 품종 select value 값 넣어줄려고 만든거임 -->
	<select id="getadoptInfo" resultType="BoardVO">
		SELECT * FROM adopt WHERE bo_no = #{boNo}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertAdoptArticle" parameterType="BoardVO">
	    INSERT INTO board
	                (bo_no,
	                 title,
	                 subject,
	                 me_id,
	                 bo_type)
	    VALUES(
	                (SELECT TO_NUMBER(NVL(MAX(bo_no),0))+1 bo_no FROM board)
	                ,#{title}
	                ,#{subject}
	                ,#{meId}
	                ,'BY2')
	</insert>
	
	<!-- 게시판 등록(분양정보) -->
	<insert id="insertAdoptInfo" parameterType="BoardVO">
		<selectKey resultType="int" keyProperty="boNo" order="BEFORE">
			SELECT NVL(MAX(bo_no),0) as bo_no FROM board
		</selectKey>
		INSERT
			INTO adopt ( adopt_id, pet_type, breed, sex, netuered, age,
	                     phone, city, charge, bo_no)
	            VALUES ( (SELECT TO_NUMBER(NVL(MAX(adopt_id),0))+1 bo_no FROM adopt),
	                      #{petType}, #{breed}, #{sex}, #{netuered}, #{age},
	                      #{phone}, #{city}, #{charge}, #{boNo} )
	</insert>
	
	<!-- 분양정보 수정 -->
	<update id="updateAdopt" parameterType="BoardVO">
		UPDATE adopt
		    SET 
		        pet_type = #{petType},
		        breed = #{breed},
		        sex = #{sex},
		        netuered = #{netuered},
		        age = #{age},
		        status = #{status},
		        phone = #{phone},
		        city = #{city},
		        charge = #{charge}
		WHERE bo_no = #{boNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delAdoptBoardAndReply" parameterType="int">
		DELETE reply WHERE BO_NO = #{boNo} AND DIVISION = 'DR1'
	</delete>
	<!-- 본인글을 삭제하는건지 확인 -->
	<select id="getAdoptWriter" parameterType="int" resultType="String">
		SELECT me_id FROM board WHERE bo_no = #{boNo} AND bo_type = 'BY2'
	</select>
	
	<!-- 댓글 조회 -->
	<select id="getAdoptReply" resultType="BoardVO">
		SELECT * FROM reply 
		WHERE DIVISION = 'DR1'
		  AND BO_NO= #{boNo}
		  AND RE IS NULL
		ORDER BY comment_id DESC
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertAdoptReply" parameterType="BoardVO">
		INSERT INTO reply
			(comment_id, me_id, subject, division, bo_no)
		VALUES
			(reply_seq.NEXTVAL, #{meId}, #{subject}, 'DR1', #{boNo})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteAdoptReply" parameterType="int">
		DELETE reply WHERE comment_id = #{commentId} AND DIVISION = 'DR1'
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="BoardVO">
		UPDATE reply
		   SET subject = #{subject}
		 WHERE comment_id = #{commentId}
	</update>
	
</mapper>