<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.admin.mapper.CategoryMapper">

	<select id="selectL" resultType="CategoryVO">
		select * from Product_L_CAT
	</select>
	
	<select id="selectS" resultType="CategoryVO">
		select * from Product_S_CAT where L_CAT_ID=#{lcatId}
	</select>
	
	<insert id="getNewLCatID" parameterType="CategoryVO">
	<selectKey keyProperty="lCatId" resultType="String" order="BEFORE">
		select 'LCAT'||(MAX(TO_NUMBER(SUBSTR(L_CAT_ID,5)))+1)L_CAT_ID from PRODUCT_L_CAT
	</selectKey>
		insert into PRODUCT_L_CAT (L_CAT_ID,L_CAT_ST) VALUES (#{lCatId},'N')
	</insert>
	
	<insert id="getNewSCatID" parameterType="CategoryVO">
	<selectKey keyProperty="sCatId" resultType="String" order="BEFORE">
		select 'SCAT'||(MAX(TO_NUMBER(SUBSTR(S_CAT_ID,5)))+1)S_CAT_ID from PRODUCT_S_CAT
	</selectKey>
		insert into PRODUCT_S_CAT (L_CAT_ID,S_CAT_ID,S_CAT_ST) VALUES (#{lCatId},#{sCatId},'N')
	</insert>
	
	<update id='VariableUpdates' parameterType="CategoryVO">
		update ${Table} set ${Column}=#{Value} where ${ConCol}=#{ConVal}
	</update>
	
	<delete id="DeleteLCat" parameterType="String">
		Delete PRODUCT_L_CAT where L_CAT_ID=#{lCatId}
	</delete>
	<delete id="DeleteLSCat" parameterType="String">
		Delete PRODUCT_S_CAT where L_CAT_ID=#{lCatId}
	</delete>
	
	<delete id="DeleteSCat" parameterType="String">
		Delete PRODUCT_S_CAT where S_CAT_ID=#{sCatId}
	</delete>
	
</mapper>