<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.admin.mapper.DashboardMapper">
<select id="saleChart" resultType="DashBoardVO">
	select 
    to_char(ORDR_DATE,'YY/MM/DD') ODDT ,count(*)CNT,SUM(TT_PRC-SHIP_PRC)SUM
	FROM order_Header 
	where to_char(ORDR_DATE,'YY/MM/DD') between '23/05/01'AND '23/05/30'
	group by to_char(ORDR_DATE,'YY/MM/DD')
	ORDER BY ODDT
</select>

</mapper>