<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.admin.mapper.MemberMapper">

	<!-- 전체 상품 조회 -->
	<select id="selectMemberList" resultType="MemberVO">
		SELECT ME_ID,
		NAME,
		PHONE,
		POST,
		ADDR,
		ADDR_DETAIL,
		SIGN_DT,
		UPDATE_DT,
		get_common(SIGN_PATH) as signPath,
		OUT_YN,
		ROLE
		FROM member
		ORDER BY me_id
	</select>


	<!-- 가입 경로 조회 -->
	<select id="selectPath" resultType="MemberVO">
		SELECT 	cod_cd,
				cod_title
		FROM 	code c JOIN code_detail cd
		ON 		c.co_cd = cd.co_cd
		WHERE 	c.co_cd = 'SC'
	</select>


	<!-- 검색 -->
	<select id="searchList" resultType="MemberVO">
		SELECT ME_ID,
		NAME,
		PHONE,
		POST,
		ADDR,
		ADDR_DETAIL,
		SIGN_DT,
		UPDATE_DT,
		get_common(SIGN_PATH) as signPath,
		OUT_YN,
		ROLE
		FROM member
		<where>
			<if test="meId != null and !meId.equals('')">
				AND me_id LIKE '%' || #{meId} || '%'
			</if>
			<if test="name != null and !name.equals('')">
				AND name LIKE '%' || #{name} || '%'
			</if>
			<if test="start != null and !start.equals('')">
				AND <![CDATA[sign_dt >= #{start}]]>
			</if>
			<if test="end != null and !end.equals('')">
				AND <![CDATA[sign_dt <= #{end}]]>
			</if>
		<if test="searchPath != null and searchPath.length > 0">
				AND SIGN_PATH IN
				<foreach collection="searchPath" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY ME_ID
	</select>
</mapper>