<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.pettopia.product.mapper.ProductMapper1">
  
  <!-- 전체상품 리스트 4개만 가져옴-->
  
<select id="selectPrdAllList" resultType="Product1VO">
  SELECT prdt_id, prdt_nm, prdt_prc, sale_st, reg_dt, mod_dt, s_cat_id, l_cat_id
  FROM (
    SELECT prdt_id, prdt_nm, prdt_prc, sale_st, reg_dt, mod_dt, s_cat_id, l_cat_id
    FROM product
    ORDER BY prdt_id
  )
  WHERE ROWNUM &lt;= 4
</select>


<select id="selectPrdAllList2" resultType="Product1VO">
  SELECT prdt_id, prdt_nm, prdt_prc, sale_st, reg_dt, mod_dt, s_cat_id, l_cat_id
  FROM (
    SELECT prdt_id, prdt_nm, prdt_prc, sale_st, reg_dt, mod_dt, s_cat_id, l_cat_id
    FROM product
    ORDER BY prdt_id
  )
</select>

<select id="selectCategoryList" resultType="Product1VO">
  SELECT s_cat_id, l_cat_id, s_cat_nm, s_cat_st
  FROM (
   SELECT s_cat_id, l_cat_id, s_cat_nm, s_cat_st
   FROM product_s_cat
   ORDER BY s_cat_id
   )
  </select>
  
  <select id="selectProductDetail" resultType="Product1VO">
 <!--  SELECT P.prdt_id, P.prdt_nm, P.prdt_prc, P.sale_st, P.reg_dt, P.mod_dt, P.prdt_desct,
       pi.prdt_img, pi.is_main,
       po.opt_id, po.opt_nm,
       pod.opt_deta_id, pod.opt_deta_nm, pod.add_prc
FROM PRODUCT P
LEFT JOIN PRODUCT_IMG PI ON P.PRDT_ID = PI.PRDT_ID
LEFT JOIN PRODUCT_OPTION PO ON P.PRDT_ID = PO.PRDT_ID
LEFT JOIN PRODUCT_OPTION_DETAIL POD ON PO.OPT_ID = POD.OPT_ID
WHERE P.PRDT_ID = #{prdtId}
AND pi.is_main = 'Y' -->

SELECT P.prdt_id, P.prdt_nm, P.prdt_prc, P.sale_st, P.reg_dt, P.mod_dt, P.prdt_desct,
       pi.prdt_img, pi.is_main
      
FROM PRODUCT P
LEFT JOIN PRODUCT_IMG PI ON P.PRDT_ID = PI.PRDT_ID
WHERE P.PRDT_ID = #{prdtId}
AND pi.is_main = 'Y'

  </select>
  </mapper>