<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.pettopia.admin.mapper.ProductMapper">
	
	<!-- 전체 상품 조회 -->
	<select id="selectPrdAllList" resultType="ProductVO">
		SELECT 	prdt_id,
				prdt_nm,
				prdt_desct,
				prdt_prc,
				get_common(sale_st) as saleSt,
				reg_dt,
				mod_dt,
				get_scat(s_cat_id) as sCatId,
				get_lcat(l_cat_id) as lCatId
		FROM 	product
		ORDER BY prdt_id DESC
	</select>
	
	<!-- 전체등록 상품 조회 -->
	<select id="insertPrdCount" resultType="int">
		SELECT COUNT(*) as cnt
		FROM product
	</select>
	
	<!-- 판매중 상품 조회 -->
	<select id="salePrdCount" resultType="int">
		SELECT COUNT(*) as cnt
		FROM product
		WHERE sale_st = 'ST2'
	</select>
	
	<!-- 판매중지 상품 조회 -->
	<select id="stopSalePrdCount" resultType="int">
		SELECT COUNT(*) as cnt
		FROM product
		WHERE sale_st = 'ST1'
	</select>
	
	<!-- 판매 상태 조회 -->
	<select id="selectSaleSt" resultType="ProductVO">
		SELECT 	cod_cd,
				cod_title
		FROM 	code c JOIN code_detail cd
		ON 		c.co_cd = cd.co_cd
		WHERE 	c.co_cd = 'ST'
	</select>
	
	<!-- 상품분류(대) 조회 -->
	<select id="selectLcate" resultType="ProductVO">
		SELECT l_cat_id, l_cat_nm
		FROM product_l_cat
		WHERE l_cat_st = 'Y'
	</select>
	
	<!-- 상품분류(소) 조회 -->
	<select id="selectScate" resultType="ProductVO">
		SELECT 	s_cat_id, s_cat_nm
		FROM 	product_l_cat l JOIN product_s_cat s
		ON 		l.l_cat_id = s.l_cat_id
		WHERE 	l.l_cat_id = #{lCatId}
	</select>
	
	<!-- 상품등록 -->
	<insert id="insertPrd" parameterType="ProductVO">
		<selectKey keyProperty="prdtId" resultType="String" order="BEFORE">
			SELECT 'PRD' || TO_CHAR(NVL(MAX(SUBSTR(prdt_id, 4)),999) + 1)
			FROM 	product
		</selectKey>
		INSERT INTO product ( prdt_id,
							  prdt_nm,
							  prdt_prc,
							  sale_st,
							  reg_dt,
							  mod_dt,
							  s_cat_id,
							  l_cat_id,
							  prdt_desct)
					 VALUES ( #{prdtId},
					 		  #{prdtNm},
					 		  #{prdtPrc},
					 		  #{saleSt},
					 		  sysdate,
					 		  sysdate,
					 		  #{sCatId},
					 		  #{lCatId},
					 		  #{prdtDesct})
	
	</insert>
	
	<!-- 상품 상세 조회 -->
	<select id="selectDetailList" resultType="ProductVO">
		SELECT 	prdt_id,
				prdt_nm,
				prdt_desct,
				prdt_prc,
				sale_st,
				reg_dt,
				mod_dt,
				s_cat_id,
				l_cat_id
		FROM 	product
		WHERE	prdt_id = #{prdtId}
	</select>
	
	<!-- 상품 이미지 등록 -->
	<insert id="insertImg" parameterType="ProductVO">
		<selectKey keyProperty="imgId" resultType="String" order="BEFORE">
			SELECT 'IMG' || TO_CHAR(NVL(MAX(SUBSTR(img_id, 4)),999) + 1)
			FROM 	product_img
		</selectKey>
		INSERT INTO product_img ( img_id,
								  prdt_id,
								  prdt_img
								  <if test="isMain != null and !isMain.equals('')">
    								,is_main
								  </if>
								  )
						 VALUES ( #{imgId},
						 		  #{prdtId},
						 		  #{prdtImg}
						 		  <if test="isMain != null and !isMain.equals('')">
    								,#{isMain}
								  </if>
								  )

	</insert>
	
	<!-- 상품 옵션 등록 -->
	<insert id="insertOption" parameterType="OptionVO">
		<selectKey keyProperty="optId" resultType="String" order="BEFORE">
			SELECT 'OPT' || TO_CHAR(NVL(MAX(SUBSTR(opt_id, 4)),999) + 1)
			FROM 	product_option
		</selectKey>
		INSERT INTO product_option ( opt_id,
								     prdt_id,
								  	 opt_nm
								  	)
							VALUES ( #{optId},
							 		 #{prdtId},
							 		 #{optNm}
									)

	</insert>
	
	<!-- 상품 옵션 디테일 등록 -->
	<insert id="insertOptionDetail" parameterType="OptionDetailVO">
		<selectKey keyProperty="optDetaId" resultType="String" order="BEFORE">
			SELECT 'OPTD' || TO_CHAR(NVL(MAX(SUBSTR(opt_deta_id, 5)),999) + 1)
			FROM 	product_option_detail
		</selectKey>
		INSERT INTO product_option_detail (  opt_deta_id,
										     opt_deta_nm,
										  	 add_prc,
										  	 opt_id
										  	)
									VALUES ( #{optDetaId},
									 		 #{optDetaNm},
									 		 #{addPrc},
									 		 #{optId}
											)

	</insert>
	
	<!-- 상품 삭제 -->
	<delete id="deleteProduct" parameterType="ProductVO">
		DELETE FROM product
		WHERE prdt_id = #{prdtId}
	</delete>
	
	<!-- 상품 이미지 삭제 -->
	<delete id="deletePrdImg" parameterType="ProductVO">
		DELETE FROM product_img
		WHERE prdt_id = #{prdtId}
	</delete>
	
	<!-- 옵션 삭제 -->
	<delete id="deleteOption" parameterType="OptionVO">
		DELETE FROM product_option
		WHERE prdt_id = #{prdtId}
	</delete>
	
	<!-- 옵션 디테일 삭제 -->
	<delete id="deleteOptionDetail" parameterType="OptionDetailVO">
		DELETE FROM product_option_detail
		WHERE opt_id IN (SELECT opt_id 
		                   FROM product_option
                           WHERE prdt_id = #{prdtId})	
	</delete>
	
	<!-- 이미지 조회 -->
	<select id="selectImg" resultType="ProductVO">
		SELECT 	img_id,
				prdt_id,
				prdt_img,
				is_main
		FROM	product_img
		WHERE	prdt_id = #{prdtId}
	</select>
	
	<!-- 옵션 조회 -->
	<select id="selectOption" resultType="OptionVO">
		SELECT 	opt_id,
				prdt_id,
				opt_nm
		FROM	product_option
		WHERE	prdt_id = #{prdtId}
		ORDER BY opt_id
	</select>
	
	<!-- 옵션아이디기준 디테일 받아오기 -->
	<select id="selectOptionOptIdDetail" resultType="OptionDetailVO">
		SELECT	opt_deta_id,
				opt_deta_nm,
				add_prc,
				opt_id
		FROM	product_option_detail
		WHERE opt_id = #{optId}
	    ORDER BY opt_deta_id
	</select>
	
	<!-- 옵션 디테일 조회 -->
	<select id="selectOptionDetail" resultType="OptionDetailVO">
		SELECT	opt_deta_id,
				opt_deta_nm,
				add_prc,
				pod.opt_id,
		        opt_nm
		FROM	product_option_detail pod JOIN product_option po
		ON		pod.opt_id = po.opt_id
		WHERE pod.opt_id IN (SELECT opt_id
	                        FROM product_option
	                        WHERE prdt_id = #{prdtId})
	    ORDER BY opt_deta_id
	</select>
	
	<!-- 검색 조회 -->
	<select id="searchList" resultType="ProductVO">
		SELECT  prdt_id,
				prdt_nm,
				prdt_desct,
				prdt_prc,
				get_common(sale_st) as saleSt,
				reg_dt,
				mod_dt,
				get_scat(s_cat_id) as sCatId,
				get_lcat(l_cat_id) as lCatId
		FROM	product
		<where>
			<if test="prdtNm != null and !prdtNm.equals('')">
				AND prdt_nm LIKE '%' || #{prdtNm} || '%'
			</if>
			<if test="lCatId != null and !lCatId.equals('')">
				AND l_cat_id LIKE '%' || #{lCatId} || '%'
			</if>
			<if test="sCatId != null and !sCatId.equals('')">
				AND s_cat_id LIKE '%' || #{sCatId} || '%'
			</if>
			<if test="regDt != null and !regDt.equals('')">
				AND <![CDATA[reg_dt >= #{regDt}]]> and <![CDATA[TRUNC(reg_dt) <= #{modDt}]]>
			</if>
			<if test="searchSaleSt != null and searchSaleSt.length > 0">
    			AND sale_st IN
    			<foreach collection="searchSaleSt" item="item" open="(" separator="," close=")">
        			#{item}
    			</foreach>
			</if>
		</where>
		ORDER BY prdt_id DESC
	</select>
	
	<!-- 상품 수정 -->
	<update id="updatePrd" parameterType="ProductVO">
		UPDATE 	product
		SET		prdt_nm = #{prdtNm},
				prdt_desct = #{prdtDesct},
				prdt_prc = #{prdtPrc},
				sale_st = #{saleSt},
				mod_dt = sysdate,
				s_cat_id = #{sCatId},
				l_cat_id = #{lCatId}
		WHERE	prdt_id = #{prdtId}
	</update>
</mapper>