<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.pettopia.qna.mapper.QnaMapper">
  <select id="qnaAllList" resultType="QnaVO">
<!-- SELECT
  q.qst_no,
  q.me_id,
  q.title,
  q.reg_dt,
  q.qst_img,
  q.prdt_id,
  CASE WHEN q.qst_status = cd.cod_cd THEN cd.cod_title ELSE q.qst_status END AS qst_status,
  q.qst_yn,
  q.content
FROM
  qna q
  JOIN member m ON q.me_id = m.me_id
  LEFT JOIN code_detail cd ON q.qst_status = cd.cod_cd
 WHERE M.me_id = #{meId} -->
	 SELECT
	  q.qst_no,
	  q.me_id,
	  q.title,
	  q.reg_dt,
	  q.qst_img,
	  q.prdt_id,
	  CASE WHEN q.qst_status = cd.cod_cd THEN cd.cod_title ELSE q.qst_status END AS qst_status,
	  q.qst_yn,
	  q.content
	FROM
	  qna q
	  JOIN member m ON q.me_id = m.me_id
	  LEFT JOIN code_detail cd ON q.qst_status = cd.cod_cd
	WHERE
	  m.me_id = #{meId}
	ORDER BY
	  q.reg_dt desc
 
  </select>
  
    <select id="qnaAllList2" resultType="QnaVO">
		SELECT
		  q.qst_no,
		  q.me_id,
		  q.title,
		  q.reg_dt,
		  q.qst_img,
		  q.prdt_id,
		  CASE WHEN q.qst_status = cd.cod_cd THEN cd.cod_title ELSE q.qst_status END AS qst_status,
		  q.qst_yn,
		  q.content
		FROM
		  qna q
		  JOIN member m ON q.me_id = m.me_id
		  LEFT JOIN code_detail cd ON q.qst_status = cd.cod_cd
		WHERE
		  q.prdt_id = #{prdtId}
		ORDER BY
		  q.reg_dt desc
  </select>
  
 <insert id="insertQnA" parameterType="QnaVO">
INSERT INTO QNA (QST_NO, TITLE, ME_ID, CONTENT, QST_STATUS, PRDT_ID)
VALUES ((SELECT TO_NUMBER(NVL(MAX(QST_NO), 0)) + 1 QST_NO FROM QNA), #{title}, #{meId}, #{content}, 'QS1', #{prdtId})

 
 </insert>
 
 <select id="QnaCheck" resultType="QnaVO">
<!--  SELECT Q."QST_NO", Q."ME_ID", Q."TITLE", Q."REG_DT", Q."QST_IMG", Q."PRDT_ID", Q."QST_STATUS", Q."QST_YN", Q."CONTENT",
       R."COMMENT_ID", R."ME_ID" AS adId, R."SUBJECT", R."REG_DT", R."DIVISION", R."BO_NO", R."RE" , M."NAME"
FROM "QNA" Q
LEFT JOIN "REPLY" R ON Q."QST_NO" = R."BO_NO"
LEFT JOIN "MEMBER" M ON R."ME_ID" = M."ME_ID" 
WHERE Q."QST_NO"  -->
 SELECT Q."QST_NO", Q."ME_ID", Q."TITLE", Q."REG_DT", Q."QST_IMG", Q."PRDT_ID", Q."QST_STATUS", Q."QST_YN", Q."CONTENT", M."NAME"
FROM "QNA" Q
LEFT JOIN "MEMBER" M ON Q."ME_ID" = M."ME_ID" 
WHERE Q."QST_NO" = #{qstNo}
 </select>

<select id="QnaReply" resultType="QnaVO">
<!-- select *
from reply
where bo_no = #{qstNo} -->

SELECT R.COMMENT_ID, R.ME_ID, R.SUBJECT, R.REG_DT, R.DIVISION, R.BO_NO, R.RE,
       M.NAME AS NAME
FROM REPLY R
JOIN MEMBER M ON R.ME_ID = M.ME_ID
WHERE R.BO_NO = #{qstNo}
</select>  
  
  </mapper>