<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.pettopia.user.mapper.UserMapper">
    <select id="getUserAccount" resultType="UserVO">
    SELECT *
    FROM member
    WHERE me_id = #{meId}
    </select>
    
    <select id="idChk" resultType="int" parameterType="String">
    SELECT count(*) id_chk
	FROM member
	where me_id = #{meId}
    </select>
    
    <insert id="saveUser" parameterType="UserVO">
   	INSERT INTO member
   	(me_id, pw, name, phone, post, addr, addr_detail, role, sign_dt)
   	VALUES(#{meId}, #{pw}, #{name}, #{phone}, #{post}, 
   			#{addr}, #{addrDetail}, #{role}, sysdate
   	)
    </insert>
 </mapper>