<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.pettopia.user.mapper.UserMapper">
    <select id="getUserAccount" resultType="UserVO">
    SELECT *
    FROM member
    WHERE me_id = #{meId}
    </select>
    
    <select id="idChk" resultType="int" parameterType="String">
    SELECT count(*) id_chk
	FROM member
	where me_id = #{meId}
    </select>
    
    <insert id="saveUser" parameterType="UserVO">
   	INSERT INTO member
   	(me_id, pw, name, phone, post, addr, addr_detail, role, sign_dt)
   	VALUES(#{meId}, #{pw}, #{name}, #{phone}, #{post}, 
   			#{addr}, #{addrDetail}, #{role}, sysdate
   	)
    </insert>
    
    <!-- 카카오 토큰 확인 -->
    <select id="snsIdTokenChk" resultType="UserVO">
    SELECT me_sns_token FROM member WHERE me_sns_token = #{meSnsToken}
    </select>
    
    <select id="snsIdToKenInfo" resultType="UserVO">
    SELECT * FROM member WHERE me_sns_token = #{meSnsToken}
    </select>
    
    <!-- 카카오 회원가입 -->
    <insert id="kakaosaveUser" parameterType="UserVO">
    INSERT
    INTO member
        (me_id, pw, name, sign_dt, sign_path, role, me_sns_token)
    VALUES
        (#{meId}, #{pw}, #{name}, sysdate, #{signPath}, 'USER', #{meSnsToken})
    </insert>
    
    <!-- sns로 회원가입 했을 때 주소, 폰번호가 없을 때 알림창 띄우기 -->
    <select id="snsGetNullInfo" resultType="UserVO">
	SELECT post, addr, addr_detail, phone
	FROM member
	WHERE me_sns_token = #{meSnsToken}
    </select>
    
 </mapper>