<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <title>Pettopia</title>
  <meta charset="UTF-8">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>


<body>
  <div layout:fragment="content">
    <style>
      #allOrderSearch {
        width: 130px;
        height: 35px;
        font-size: 13px !important;
        margin: 8px 5px 0px 10px;
      }

      #btnCss {
        float: right;
        position: relative;
        bottom: 10px;
        margin-top: 8px;
      }

      .searchA {
        padding: 8px 40px 5px 0px;
      }

      tbody img {
        width: 100px;
      }

      tbody p,
      tr {
        font-size: 11px !important;
      }

      td,
      th {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .fontColor {
        color: black;
      }

      .trColor {
        background-color: rgb(247, 247, 247);
      }

      .accent {
        color: red;
        font-weight: bold;
        font-size: 14px;
      }

      .btncustom {
        margin: 0px 1px 10px 1px;
        width: 33%;
      }
    </style>

    <div class="container">
      <div class="row">


        <!-- 마이페이지 주문관리 -->
        <div class="col-md-12 col-lg-8 p-b-80">
          <div class="p-r-45 p-r-0-lg m-t-50">
            <h1><span style="font-weight: bold; color: rgb(201, 159, 240);">| </span>주문하기</h1>
            <!-- 주문정보 -->
            <div style="margin-top: 20px;">
              <h5 style="margin-bottom: 15px;"><strong>수령자 정보</strong></h5>
              <table class="table">
                <colgroup>
                  <col width="40%">
                  <col width="60%">
                </colgroup>
                <tr>
                  <th>수령자주소</th>
                  <td>

                    <span>우편번호:</span><input type="text" id="post" onclick="sample6_execDaumPostcode()" readonly>
                    <br>
                    <span>주소:</span><input type="text" id="addr" onclick="sample6_execDaumPostcode()" readonly>
                    <input type="text" id="addrref" onclick="sample6_execDaumPostcode()" readonly>
                    <br>
                    <span>상세주소:</span><input type="text" placeholder="상세주소" id="addrDtl">
                  </td>
                </tr>
                <tr>
                  <th>받으시는분</th>
                  <td><input type="text" id="reciever"></td>
                </tr>
                <tr>
                  <th>연락처</th>
                  <td><input type="text" id="tel"></td>
                </tr>
                <tr>
                  <th>배송요청사항</th>
                  <td><input type="text" id="note"></td>
                </tr>
              </table>
            </div><!--end 주문정보-->

            <!--주문상품정보-->
            <div style="margin-top: 30px;">
              <h5 style="margin-bottom: 15px;"><strong>주문 상품 정보</strong></h5>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="35%">
                  <col width="10%">
                  <col width="15%">
                  <col width="20%">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center;">이미지</th>
                    <th scope="col" style="text-align: center;">상품명</th>
                    <th scope="col" style="text-align: center;">단가</th>
                    <th scope="col" style="text-align: center;">수량</th>
                    <th scope="col" style="text-align: center;">가격</th>
                  </tr>
                </thead>
                <tbody id="OrderList">
                  <!-- 리스트 탬플릿
                    <tr>
                    <td>
                      <a href="#" class="fontColor"><img src="images/about-01.jpg" rel="product"></a>
                    </td>
                    <td>
                      <strong><a href="#" class="fontColor">상품명</a></strong>
                      <div>옵션</div>
                    </td>
                    <td style="text-align: center;">단가</td>
                    <td style="text-align: center;">수량</td>
                    <td style="text-align: center;">
                      <span>총가격</span><span>원</span>
                    </td>
                  </tr> 
                -->
                </tbody>
                <tfoot>
                  <tr class="trColor">
                    <td colspan="2"></td>
                    <td colspan="4" style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
                      상품구매금액 <span id="sumPrice"></span>+ 배송비 <span id="shipPrice">2500</span><span>원</span> = 합계 :
                      <span class="accent" id="FinalPrice"></span><span class="accent">원</span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div><!-- end 주문상품정보 -->



            <div id="btnCss">
              <button class="btn btnPush btnLightBlue" style="width: 100px;"
                onclick="location.href='mypage'">주문목록보기</button>
            </div>

          </div>
        </div>
        <div class="col-md-4 order-md-2 mb-4 ">
          <div class="p-r-45 p-r-0-lg m-t-100">
            <div class="border" style="padding: 20px;">
              <h2 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">ORDER TOTALS</span>
              </h2>
              <hr>
              <div style="padding: 20px;">
                <h3 style="text-align: right;">

                  <span style="text-align: left;display: inline-block; float: left;">상품합계:</span>
                  <span id="NavSumPrice"></span><span>원</span>
                  <br>
                  <span style="text-align: left;display: inline-block; float: left;">배송비:</span>
                  <span id="NavShipPrice"></span><span>원</span>
                  <br>
                  <hr>
                  <span style="text-align: left;display: inline-block; float: left;">결제금액:</span>
                  <span id="NavFinalPrice"></span><span>원</span>
              </div>
              </h3>
              <hr>
              <h4>결제방식:<span id="payMethod"></span></h4>
              <br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%;">
                <label class="btn btn-secondary btncustom active"
                  onclick="changePayMethod('html5_inicis.INIBillTst','카드결제(Inicis)')">
                  <input type="radio" name="payment" id="option1" autocomplete="off" checked> 카드
                </label>
                <label class="btn btn-warning btncustom" onclick="changePayMethod('kakaopay','카카오페이')">
                  <input type="radio" name="payment" id="option2" autocomplete="off"> 카카오
                </label>
                <label class="btn btn-primary btncustom" onclick="changePayMethod('tosspay','토스페이')">
                  <input type="radio" name="payment" id="option3" autocomplete="off"
                    onclick="changePayMethod('tosspay','토스페이')"> 토스
                </label>
              </div>
              <hr>
              <button class="btn-success btn-lg btn-block" onclick="requestPay();">결제하기!</button>
              <button class="btn-success btn-lg btn-block" onclick="insertOrder();">결제하기!(debug)</button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <script>

      var OrderNm = '펫토피아!'
      var CartObject = new Object();
      var pay_method = 'html5_inicis.INIBillTst';
      changePayMethod('html5_inicis.INIBillTst', '카드결제(Inicis)');
      function changePayMethod(method, name) { //카카오페이: kakaopay, 이니시스: html5_inicis.INIBillTst, 토스페이:tosspay
        pay_method = method;
        payMethod.innerText = name;
      }
      getCart();
      function getCart() {
        let result = "";
        $.ajax({
          url: "getCart",
          method: "GET",
          async: false,
          data: { meId: GetUser() },
          success: function (data) {
            CartObject = data;
            console.log(CartObject);
            console.log('장바구니 목록 불러오기성공');
            drawOrderList(data);
          },
          error: function (reject) {
            console.log(reject);
            console.log("비로그인");
          },
        })
      }

      function drawOrderList(data) {
        let prodOverlapKey = '';
        OrderList.innerHTML = '';
        for (let i = 0; i < data.length; i++) {
          if (prodOverlapKey != data[i].crtId) {
            OrderNm += data[i].prdtNm + '/';
            console.log("drawing row")
            prodOverlapKey = data[i].crtId;
            OrderList.innerHTML += `
              <tr>
                <td>
                  <a href="#" class="fontColor"><img src="download/${data[i].prdtImg}" rel="product"></a>
                </td>   
                <td>
                  <strong><a href="#" class="fontColor">${data[i].prdtNm}</a></strong>
                  <div id="${data[i].crtId}Options">옵션</div>
                </td>
                <td style="text-align: center;" class="price" id="${data[i].crtId}Price">${data[i].prdtPrc}</td>
                <td style="text-align: center;" id="${data[i].crtId}CNT">${data[i].cnt}</td>
                <td style="text-align: center;"  >
                  <span id="${data[i].crtId}Total" class="prdtTotal">총가격</span><span>원</span>
                </td>
              </tr>`
          }
          DomId(data[i].crtId + "Options").innerHTML += (data[i].optDetaNm == null ? "" : ("[" + data[i].optDetaNm + "] "));
          DomId(data[i].crtId + "Price").innerText = DomId(data[i].crtId + "Price").innerText * 1 + data[i].addPrc * 1;
          comPrdtTotal(data[i].crtId);
        }

      }

      function comPrdtTotal(target) {
        DomId(target + 'Total').innerText = DomId(target + 'Price').innerText * DomId(target + 'CNT').innerText;
        let prdtTotalElements = document.getElementsByClassName('prdtTotal');
        sumPrice.innerText = '0'
        for (let i = 0; i < prdtTotalElements.length; i++) {
          sumPrice.innerText = (sumPrice.innerText * 1) + (prdtTotalElements[i].innerText * 1);
        }
        FinalPrice.innerText = sumPrice.innerText * 1 + shipPrice.innerText * 1;
        SumNavDraw()
      }

      function DomId(id) { //id로 태그찾기 압축용
        return document.getElementById(id)
      }

      function SumNavDraw() {
        NavSumPrice.innerText = sumPrice.innerText;
        NavShipPrice.innerText = shipPrice.innerText;
        NavFinalPrice.innerText = FinalPrice.innerText;
      }

      function GetUser() {
        let result = "";
        $.ajax({
          url: "getUser",
          method: "GET",
          async: false,
          success: function (data) {
            console.log(data);
            result = data;
          },
          error: function (reject) {
            console.log(reject);
            console.log("카트불러오기실패");
          },
        })
        return result;
      }

      //다음 API
      function sample6_execDaumPostcode() {
        new daum.Postcode({
          oncomplete: function (data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
              addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
              addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if (data.userSelectedType === 'R') {
              // 법정동명이 있을 경우 추가한다. (법정리는 제외)
              // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
              if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                extraAddr += data.bname;
              }
              // 건물명이 있고, 공동주택일 경우 추가한다.
              if (data.buildingName !== '' && data.apartment === 'Y') {
                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
              }
              // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
              if (extraAddr !== '') {
                extraAddr = ' (' + extraAddr + ')';
              }
              // 조합된 참고항목을 해당 필드에 넣는다.
              document.getElementById("addrref").value = extraAddr;

            } else {
              document.getElementById("addrref").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('post').value = data.zonecode;
            document.getElementById("addr").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("addrDtl").focus();
          }
        }).open();
      }; // END 다음 카카오 API 
    </script>

    <!--결제============================ -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <script>
      var response;
      var IMP = window.IMP; // 생략가능
      IMP.init("imp58116322");
      function requestPay() {
        IMP.request_pay({
          pg: pay_method,//카카오페이: kakaopay, 이니시스: html5_inicis.INIBillTst, 토스페이:tosspay
          pay_method: "card",
          merchant_uid: "pettopia" + Date(),
          name: OrderNm,
          buyer_name: reciever.value,
          amount: FinalPrice.innerText,
          currency: "KRW",
          buyer_tel: tel.value,
          buyer_addr: addr.value + addrref.value + addrDtl,
          buyer_postcode: post.value
        }, function (rsp) { // callback
          //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
          if (rsp.success) {
            response = rsp;
            console.log(rsp);
            insertOrder();
            alert("결제에 성공하였습니다");
          }
          else {
            alert("결제에 실패하였습니다 다시시도해주십시오")
          }
        });
      };


      function insertOrder() {

        $.ajax({
          url: "insertOrder",
          method: "Post",
          async: false,
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify({ 'cartData': JSON.stringify(CartObject), 'userData': JSON.stringify(collectBuyerInfo()) }),
          success: function (data) {
            alert('주문번호' + data + '성공!')
            console.log(data);
            result = data;
          },
          error: function (reject) {
            console.log(reject);
          },
        })
        return result;
      }

      function collectBuyerInfo() {
        result = {
          meId: GetUser(),
          imp: response.imp_uid,
          rcvPsn: reciever.value,
          rcvPhone: tel.value,
          rcvAddr: addr.value + addrref.value + addrDtl.value,
          ttPrc: FinalPrice.innerText,
          mthd: payMethod.innerText,
          shipPrc: shipPrice.innerText,
          prcSt: 'PS2',
          shipSt: 'SS1',
          point: 0,
          note: note.value
        }
        return result;
      }
    </script>
    <!--결제============================= -->


  </div>
</body>

</html>

</html>